playbook/playbook-TIM_-_QRadar_Add_Domain_Indicators.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 2.4.41
    packID: QRadar
    packName: IBM QRadar
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook queries indicators based on a pre-defined query or results
  from a parent playbook, and adds the resulting indicators to a QRadar Reference
  Set. The Reference Set name must be defined in the playbook inputs.
id: TIM - QRadar Add Domain Indicators
inputs:
- description: The name of the QRadar block list Domain reference set to insert the
    data to.
  key: QRadarBlackListDomainReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: false
  required: false
  value: {}
- description: The name of the QRadar allow list Domain reference set to insert the
    data in to.
  key: QRadarWhiteListDomainReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the QRadar watch list Domain reference set to insert the
    data in to.
  key: QRadarWatchListDomainReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
name: TIM - QRadar Add Domain Indicators
outputs: []
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dfe3443b-d2bc-40c5-8291-35be6e9f4113
      iscommand: false
      name: ""
      version: -1
    taskid: dfe3443b-d2bc-40c5-8291-35be6e9f4113
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 340,
          "y": -70
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: inList
                    right:
                      value:
                        simple: QRadar,QRadar_v2,QRadar v3
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "31"
      - "32"
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c79bfb8-bd4a-4ee8-848a-1ffce8bb5cd5
      iscommand: false
      name: Is QRadarEnabled?
      type: condition
      version: -1
    taskid: 0c79bfb8-bd4a-4ee8-848a-1ffce8bb5cd5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 560,
          "y": 270
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: Domain
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dbbbadad-7eb7-4346-811c-9ca0aadd0256
      iscommand: false
      name: Are there filtered results?
      type: condition
      version: -1
    taskid: dbbbadad-7eb7-4346-811c-9ca0aadd0256
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 340,
          "y": 70
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarBlackListDomainReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 82787948-b0b0-4e15-832a-8cc1665f4b30
      iscommand: true
      name: Add domains to QRadar block list domain reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 82787948-b0b0-4e15-832a-8cc1665f4b30
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1250
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarBlackListDomainReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: Domain
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c7040c61-80b1-44c7-84ab-61b37d22bb70
      iscommand: false
      name: Is there a Qradar block list Domain Reference Set and values?
      type: condition
      version: -1
    taskid: c7040c61-80b1-44c7-84ab-61b37d22bb70
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 450
        }
      }
  "32":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarWhiteListDomainReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_white
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: Domain
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bbbe1a64-75a9-4e65-8f86-a801c37b0059
      iscommand: false
      name: Is there a Qradar allow list Domain Reference Set and values?
      type: condition
      version: -1
    taskid: bbbe1a64-75a9-4e65-8f86-a801c37b0059
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 450
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarWhiteListDomainReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_white
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: bfba8fd4-c4ee-40de-8a26-4a2505b61558
      iscommand: true
      name: Add domains to QRadar allow list domain reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: bfba8fd4-c4ee-40de-8a26-4a2505b61558
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1240
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aef2cf54-7be8-45f6-892d-a426ff55c7a2
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: aef2cf54-7be8-45f6-892d-a426ff55c7a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": 1570
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicator.
      id: 749cb0b1-bf86-4e77-816f-e4192b7d318a
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 749cb0b1-bf86-4e77-816f-e4192b7d318a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1390
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_white
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicator.
      id: f361150c-69a5-4487-80aa-aeb179727296
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: f361150c-69a5-4487-80aa-aeb179727296
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1390
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarWatchListDomainReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_watchlist
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: Domain
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5f7004e8-40dd-4b84-8c28-28efc997d9e2
      iscommand: false
      name: Is there a Qradar watch list Domain Reference Set and values?
      type: condition
      version: -1
    taskid: 5f7004e8-40dd-4b84-8c28-28efc997d9e2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 450
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarWatchListDomainReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_watchlist
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 2e611723-b121-49d3-807e-8bf7e96089e5
      iscommand: true
      name: Add domains to QRadar watch list domain reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 2e611723-b121-49d3-807e-8bf7e96089e5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 1240
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_watchlist
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicator.
      id: 52e9fc52-8f53-4e04-8c14-922180de89c9
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 52e9fc52-8f53-4e04-8c14-922180de89c9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 1390
        }
      }
  "40":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_watchlist
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: Domain
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 04a7b55a-9bdb-48ba-844f-036f1f0d94a6
      iscommand: false
      name: Are there indicators with a watchlist tag?
      type: condition
      version: -1
    taskid: 04a7b55a-9bdb-48ba-844f-036f1f0d94a6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 875
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_white
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: Domain
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c1e44c88-35b2-4d05-832f-db48da7905f3
      iscommand: false
      name: Are there indicators with a white tag?
      type: condition
      version: -1
    taskid: c1e44c88-35b2-4d05-832f-db48da7905f3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 875
        }
      }
  "42":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_black
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: Domain
      label: "yes"
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5993ed5d-b41b-4059-8406-9f62157f4bc9
      iscommand: false
      name: Are there indicators with a black tag?
      type: condition
      version: -1
    taskid: 5993ed5d-b41b-4059-8406-9f62157f4bc9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 875
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1705,
        "width": 3280,
        "x": 340,
        "y": -70
      }
    }
  }
