playbook/playbook-Autofocus_Query_Samples__Sessions_and_Tags.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.1.15
    packID: AutoFocus
    packName: AutoFocus by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is used for querying the PANW threat intelligence Autofocus system. The playbook accepts indicators such as IP's, hashes, domains to run basic queries or mode advanced queries that can leverage several query parameters. In order to run the more advanced queries its recommended to use the Autofocus UI https://autofocus.paloaltonetworks.com/#/dashboard/organization to created a query and than use the export search button. The result can be used as a playbook input.

  The playbook supports searching both the Samples API and the sessions API.
id: Autofocus Query Samples, Sessions and Tags
inputs:
- description: |-
    Scope can be
    Private
    Public
    Global
  key: Scope
  playbookInputQuery: null
  required: false
  value: {}
- description: |
    Query needs to be provided in order to determine what to search for. Query is currently only in JSON format which can be extracted from the Autofocus web console API radio button.

    Query example for searching hashes can be

    {"operator":"any","children":[{"field":"sample.sha256","operator":"is","value":"4f79697b40d0932e91105bd496908f8e02c130a0e36f6d3434d6243e79ef82e0"},{"field":"sample.sha256","operator":"is","value":"7e93723c0c34ef98444e5ce9013fef220975b96291a79053fd4c9b3d3550aeb3"}]}

    Another example for searching for an IP
    {"operator":"any","children":[{"field":"sample.src_ip","operator":"is","value":"1.1.1.1"},{"field":"sample.dst_ip","operator":"is","value":"1.1.1.1"},{"field":"sample.src_ip","operator":"is","value":"2.2.2.2"},{"field":"sample.dst_ip","operator":"is","value":"2.2.2.2"}]}
  key: SampleQuery
  playbookInputQuery: null
  required: false
  value: {}
- description: |
    Query needs to be provided in order to determine what to search for. Query is currently only in JSON format which can be extracted from the Autofocus web console API radio button.

    Query example for searching hashes can be

    {"operator":"any","children":[{"field":"session.sha256","operator":"is","value":"4f79697b40d0932e91105bd496908f8e02c130a0e36f6d3434d6243e79ef82e0"},{"field":"session.sha256","operator":"is","value":"7e93723c0c34ef98444e5ce9013fef220975b96291a79053fd4c9b3d3550aeb3"}]}

    Another example for searching for an IP
    {"operator":"any","children":[{"field":"session.src_ip","operator":"is","value":"1.1.1.1"},{"field":"session.dst_ip","operator":"is","value":"1.1.1.1"},{"field":"session.src_ip","operator":"is","value":"2.2.2.2"},{"field":"session.dst_ip","operator":"is","value":"2.2.2.2"}]}
  key: SessionQuery
  playbookInputQuery: null
  required: false
  value: {}
- description: IP to query
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: Hash to query
  key: Hash
  playbookInputQuery: null
  required: false
  value: {}
- description: URL to query
  key: URL
  playbookInputQuery: null
  required: false
  value: {}
- description: Domain to query
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
- description: |
    Values can be session, sample, tag,all
  key: Search Type
  playbookInputQuery: null
  required: true
  value: {}
- description: Values can be Malware,Benign,Phishing,Greyware
  key: Wildfire Verdict
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Timestamp in the following format
    2019-09-12T00:00:00
    This parameter checks for sessions prior to this timestamp
  key: Sessions time before
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Timestamp in the following format
    2019-09-12T00:00:00
    This parameter checks for sessions after this timestamp
  key: Sessions time after
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Timestamp in the following format
    2019-09-12T00:00:00
    This parameter checks for when the sample was first seen after this date.
  key: Sample first seen
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Timestamp in the following format
    2019-09-12T00:00:00
    This parameter checks for when the sample was last modified after this date.
  key: Sample last modified
  playbookInputQuery: null
  required: false
  value: {}
- description: Values can be industry, organization, all, global.
  key: Tags scope
  playbookInputQuery: null
  required: false
  value: {}
- description: Values can be Actor, Campaign, Exploit, Malicious Behavior, Malware
    Family
  key: Tags class
  playbookInputQuery: null
  required: false
  value: {}
- description: Values can be True, False. If true the search will only focus on private
    (non public) objects. Default is false
  key: Tags private
  playbookInputQuery: null
  required: false
  value: {}
- description: Values can be True, False. If true the search will only focus on public
    (non private) objects. Default is false.
  key: Tags public
  playbookInputQuery: null
  required: false
  value: {}
- description: Values can be True, False. Default is false.
  key: Commodity
  playbookInputQuery: null
  required: false
  value: {}
- description: Values can be True, False. Default is false objects that have been
    analyzed by Palo Alto's Unit 42 global threat intelligence team.
  key: Unit 42
  playbookInputQuery: null
  required: false
  value: {}
name: Autofocus Query Samples, Sessions and Tags
outputs:
- contextPath: AutoFocus.SessionsResults
  description: Results of Autofocus sessions search.
  type: string
- contextPath: AutoFocus.SamplesResults
  description: Results of Autofocus samples search.
  type: string
- contextPath: AutoFocus.TopTagResults
  description: Results of Autofocus tags search.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Playbook started.
      id: 9745a269-e023-4903-88ec-065a56f9775e
      iscommand: false
      name: ""
      version: -1
    taskid: 9745a269-e023-4903-88ec-065a56f9775e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 470,
          "y": 60
        }
      }
  "1":
    continueonerror: true
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        complex:
          root: inputs.Domain
      file_hash:
        complex:
          root: inputs.Hash
      ip:
        complex:
          root: inputs.IP
      query:
        complex:
          root: inputs.SampleQuery
      scope:
        complex:
          root: inputs.Scope
      url:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Submit search to autofocus-search-samples.
      id: f4ed1739-4f96-4145-86cf-c941cea2cf48
      iscommand: true
      name: Submit search to Autofocus - sample hash
      script: '|||autofocus-search-samples'
      type: regular
      version: -1
    taskid: f4ed1739-4f96-4145-86cf-c941cea2cf48
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 220,
          "y": 555
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Done
      id: b4492bfe-cd15-4815-835e-e926c94aba72
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b4492bfe-cd15-4815-835e-e926c94aba72
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 470,
          "y": 1070
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: AutoFocus V2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "7"
      - "8"
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if Autofocus is enabled.
      id: d8d223e4-96dd-4069-81f5-adad2ff8759a
      iscommand: false
      name: Is Autofocus enabled?
      type: condition
      version: -1
    taskid: d8d223e4-96dd-4069-81f5-adad2ff8759a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 470,
          "y": 190
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          accessor: SamplesSearch.AFCookie
          root: AutoFocus
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: af_cookie
      PollingCommandName:
        simple: autofocus-samples-search-results
      Timeout:
        simple: "10"
      dt:
        simple: AutoFocus.SamplesSearch(val.Status != 'complete').AFCookie
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to  query PANW Autofocus Threat intelligence system. This sub-playbook is the same as the generic polling sub-playbook besides that it provides outputs in the playbook. The reason for that is that in Autofocus its impossible to query the results of the same query more than once so the outputs have to be in the polling context.

        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: d8565659-495d-4e14-8d80-387359ac0af6
      iscommand: false
      name: AutoFocusPolling
      playbookId: AutoFocusPolling
      type: playbook
      version: -1
    taskid: d8565659-495d-4e14-8d80-387359ac0af6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 220,
          "y": 900
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Search Type
          operator: containsGeneral
          right:
            value:
              simple: sample
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Search Type
          operator: isEqualString
          right:
            value:
              simple: all
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if search for samples is relevant.
      id: 6283e2d0-9044-496c-8394-6d2eca7e41b4
      iscommand: false
      name: Search samples?
      type: condition
      version: -1
    taskid: 6283e2d0-9044-496c-8394-6d2eca7e41b4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 360
        }
      }
  "8":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Search Type
          operator: containsGeneral
          right:
            value:
              simple: session
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Search Type
          operator: isEqualString
          right:
            value:
              simple: all
      label: "Yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if search for sessions is relevant.
      id: 2e8e9548-47bb-4007-8194-948267516219
      iscommand: false
      name: Search Sessions?
      type: condition
      version: -1
    taskid: 2e8e9548-47bb-4007-8194-948267516219
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 725,
          "y": 360
        }
      }
  "9":
    continueonerror: true
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      domain:
        complex:
          root: inputs.Domain
      file_hash:
        complex:
          root: inputs.Hash
      ip:
        complex:
          root: inputs.IP
      query:
        complex:
          root: inputs.SessionQuery
      url:
        complex:
          root: inputs.URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Submit search to autofocus-search-sessions.
      id: 6157126e-ff31-4e10-872e-4a1c8fede04d
      iscommand: true
      name: Submit search to Autofocus - Sessions hash
      script: '|||autofocus-search-sessions'
      type: regular
      version: -1
    taskid: 6157126e-ff31-4e10-872e-4a1c8fede04d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 725,
          "y": 555
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          accessor: SessionsSearch.AFCookie
          root: AutoFocus
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: af_cookie
      PollingCommandName:
        simple: autofocus-sessions-search-results
      Timeout:
        simple: "10"
      dt:
        simple: AutoFocus.SessionsSearch(val.Status != 'complete').AFCookie
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to  query PANW Autofocus Threat intelligence system. This sub-playbook is the same as the generic polling sub-playbook besides that it provides outputs in the playbook. The reason for that is that in Autofocus its impossible to query the results of the same query more than once so the outputs have to be in the polling context.

        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: ecc5d644-5a48-4d9b-82c2-30e927febd19
      iscommand: false
      name: AutoFocusPolling
      playbookId: AutoFocusPolling
      type: playbook
      version: -1
    taskid: ecc5d644-5a48-4d9b-82c2-30e927febd19
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 725,
          "y": 900
        }
      }
  "11":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Search Type
          operator: containsGeneral
          right:
            value:
              simple: tag
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.Search Type
          operator: isEqualString
          right:
            value:
              simple: all
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if search for tags is relevant.
      id: 1f715cc4-d33b-47b8-886e-7a022d2aec73
      iscommand: false
      name: Search Tags?
      type: condition
      version: -1
    taskid: 1f715cc4-d33b-47b8-886e-7a022d2aec73
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1167.5,
          "y": 360
        }
      }
  "12":
    continueonerror: true
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      class:
        complex:
          root: inputs.Tags class
      commodity:
        complex:
          root: inputs.Commodity
      private:
        complex:
          root: inputs.Tags private
      public:
        complex:
          root: inputs.Tags public
      scope:
        complex:
          root: inputs.Tags scope
      unit42:
        complex:
          root: inputs.Unit 42
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Performs a search to identify the most popular tags.
      id: b0eae75d-921d-4f6e-822f-10a2b0d20934
      iscommand: true
      name: Submit search to Autofocus - tags
      script: '|||autofocus-top-tags-search'
      type: regular
      version: -1
    taskid: b0eae75d-921d-4f6e-822f-10a2b0d20934
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1167.5,
          "y": 555
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      Ids:
        complex:
          accessor: TopTagsSearch.AFCookie
          root: AutoFocus
      Interval:
        simple: "1"
      PollingCommandArgName:
        simple: af_cookie
      PollingCommandName:
        simple: autofocus-top-tags-results
      Timeout:
        simple: "10"
      dt:
        simple: AutoFocus.TopTagsSearch(val.Status != 'complete').AFCookie
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook as a sub-playbook to  query PANW Autofocus Threat intelligence system. This sub-playbook is the same as the generic polling sub-playbook besides that it provides outputs in the playbook. The reason for that is that in Autofocus its impossible to query the results of the same query more than once so the outputs have to be in the polling context.

        This playbook implements polling by continuously running the command in Step \#2 until the operation completes.
        The remote action should have the following structure:

        1. Initiate the operation.
        2. Poll to check if the operation completed.
        3. (optional) Get the results of the operation.
      id: c2b392ae-5a29-474a-80fb-16416eef4c7c
      iscommand: false
      name: AutoFocusPolling
      playbookId: AutoFocusPolling
      type: playbook
      version: -1
    taskid: c2b392ae-5a29-474a-80fb-16416eef4c7c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1167.5,
          "y": 900
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: SessionsSearch
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: AutoFocus.SessionsSearch.AFCookie
                    operator: isExists
                root: AutoFocus
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the session search submitted to AutoFocus was successful.
      id: 95013903-e251-4b1f-81b0-ea0be5be25f5
      iscommand: false
      name: Was submit session search to AutoFocus successful?
      type: condition
      version: -1
    taskid: 95013903-e251-4b1f-81b0-ea0be5be25f5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 725,
          "y": 720
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: SamplesSearch
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: AutoFocus.SamplesSearch.AFCookie
                    operator: isExists
                root: AutoFocus
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the sample search submitted to AutoFocus was successful.
      id: 711cd9a8-d641-45f8-8cbd-71f62451fe99
      iscommand: false
      name: Was submit sample search to AutoFocus successful?
      type: condition
      version: -1
    taskid: 711cd9a8-d641-45f8-8cbd-71f62451fe99
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 220,
          "y": 720
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: TopTagsSearch
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: AutoFocus.TopTagsSearch.AFCookie
                    operator: isExists
                root: AutoFocus
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the tag search submitted to AutoFocus was successful.
      id: 8f4b9d0d-30f6-4d1c-8bd9-36967cf95fdd
      iscommand: false
      name: Was submit tags search to AutoFocus successful?
      type: condition
      version: -1
    taskid: 8f4b9d0d-30f6-4d1c-8bd9-36967cf95fdd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1167.5,
          "y": 720
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "11_12_yes": 0.6,
      "11_4_#default#": 0.18,
      "14_10_yes": 0.61,
      "14_4_#default#": 0.47,
      "15_4_#default#": 0.46,
      "15_6_yes": 0.34,
      "16_13_yes": 0.57,
      "16_4_#default#": 0.23,
      "5_4_#default#": 0.1,
      "7_1_yes": 0.62,
      "7_4_#default#": 0.27,
      "8_4_#default#": 0.27,
      "8_9_yes": 0.57
    },
    "paper": {
      "dimensions": {
        "height": 1075,
        "width": 1327.5,
        "x": 220,
        "y": 60
      }
    }
  }
