playbook/playbook-Cortex_XDR_incident_handling_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 6.0.4
    packID: CortexXDR
    packName: Cortex XDR by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook is triggered by fetching a Palo Alto Networks Cortex XDR incident.
  The playbook syncs and updates new XDR alerts that construct the incident and triggers a sub-playbook to handle each alert by type.
  Then, the playbook performs enrichment on the incident’s indicators and hunts for related IOCs.
  Based on the severity, it lets the analyst decide whether to continue to the remediation stage or close the investigation as a false positive.
  After the remediation, if there are no new alerts, the playbook stops the alert sync and closes the XDR incident and investigation. For performing the bidirectional sync, the playbook uses the incoming and outgoing mirroring feature added in XSOAR version 6.0.0. After the Calculate Severity - Generic v2 sub-playbook’s run, Cortex XSOAR will be treated as the single source of truth for the severity field, and it will sync only from Cortex XSOAR to XDR, so manual changes for the severity field in XDR will not update in the XSOAR incident.
id: Cortex XDR incident handling v3
inputs:
- description: Incident ID.
  key: incident_id
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: xdrincidentid
      root: incident
- description: This input indicates whether the playbook will link similar incidents.
    To link similar incidents, specify Yes/No.
  key: LinkSimilarIncidents
  playbookInputQuery: null
  required: false
  value:
    simple: "Yes"
- description: This input indicates whether the playbook will hunt for related IOCs.
    Specify Yes/No.
  key: Hunting
  playbookInputQuery: null
  required: false
  value:
    simple: "Yes"
- description: "A comma-separated list of internal IP ranges to check IP addresses
    against. The list should be provided in CIDR notation. An example of a list \n\"172.16.0.0/12,10.0.0.0/8,192.168.0.0/16\"
    (without quotes). \nIf a list is not provided, will use the default list provided
    in the IsIPInRanges."
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    A comma-separated list of names of critical users in the organization.
    This will affect the calculated severity of the incident.
  key: CriticalUsernames
  playbookInputQuery: null
  required: false
  value:
    simple: admin,administrator
- description: A comma-separated list of names of critical endpoints in the organization.
    This will affect the calculated severity of the incident.
  key: CriticalHostnames
  playbookInputQuery: null
  required: false
  value: {}
- description: A comma-separated list of DN names of critical Active Directory groups.
    This will affect the severity calculated for this incident.
  key: CriticalADGroups
  playbookInputQuery: null
  required: false
  value: {}
- description: This is provided for the IsInternalHostName script that checks if the
    detected host names are internal or external if the hosts match the organization's
    naming convention. For example, the host testpc1 will have the following regex
    \w{6}\d{1}.
  key: InternalHostRegex
  playbookInputQuery: null
  required: false
  value: {}
- description: The organizations internal domain name. This is provided for the IsInternalHostName
    script that checks if the detected host names are internal or external if the
    hosts contain the internal domains suffix. For example, paloaltonetworks.com.
    If there is more than one domain, use the | character to separate values such
    as (paloaltonetworks.com|test.com).
  key: InternalDomainName
  playbookInputQuery: null
  required: false
  value: {}
- description: Timestamp in relative date format for query device control events from
    Cortex XDR.
  key: TimeStamp
  playbookInputQuery: null
  required: false
  value:
    simple: 10 days
- description: Whether remediation will be run automatically or manually. If set to
    "True" - remediation will be automatic.
  key: AutoRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: XDR instance domain
  key: XDRDomain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: xdrurl
      root: incident
      transformers:
      - args:
          delimiter:
            value:
              simple: /
          fields:
            value:
              simple: "3"
        operator: Cut
- description: |-
    Possible values: True/False.  Default: True.
    Should the given indicators be automatically blocked, or should the user be given the option to choose?

    If set to False - no prompt will appear, and all provided indicators will be blocked automatically.
    If set to True - the user will be prompted to select which indicators to block.
  key: AutoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: "Possible values: True/False.\nWhether to provide user verification
    for blocking IPs. \n\nFalse - No prompt will be displayed to the user.\nTrue -
    The server will ask the user for blocking verification and will display the blocking
    list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: Cortex XDR incident handling v3
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2dd4904d-513e-4071-8b3e-25aeba751b52
      iscommand: false
      name: ""
      version: -1
    taskid: 2dd4904d-513e-4071-8b3e-25aeba751b52
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": -1155
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "78"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3baa1f30-456d-4443-8736-6823f84883d6
      iscommand: false
      name: Loop on alert id - Alert enrichment
      type: title
      version: -1
    taskid: 3baa1f30-456d-4443-8736-6823f84883d6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 210
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9874d520-0f8d-472a-808b-097b78689707
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 9874d520-0f8d-472a-808b-097b78689707
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2625
        }
      }
  "11":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: xdralertcount
                root: incident
          operator: isNotEqualString
          right:
            iscontext: true
            value:
              complex:
                accessor: HandledAlerts
                root: XDR
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are new un-handled alerts.
      id: f3d6a4fc-a5d4-477f-8409-94b4b9bf1aa1
      iscommand: false
      name: Are there new un-handled alerts?
      type: condition
      version: -1
    taskid: f3d6a4fc-a5d4-477f-8409-94b4b9bf1aa1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3740
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b425ff10-7bf0-40d0-80c6-407e5d96801a
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b425ff10-7bf0-40d0-80c6-407e5d96801a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -590,
          "y": 4650
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          accessor: Incident.incident_id
          root: PaloAltoNetworksXDR
      status:
        simple: RESOLVED_TRUE_POSITIVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Updates one or more fields of a specified incident. Missing fields
        are ignored. To remove the assignment for an incident, pass a null value in
        the assignee email argument.
      id: da71ad47-f1a2-4dc1-875d-a3788df06edb
      iscommand: true
      name: Cortex XDR - close incident
      script: Cortex XDR - IR|||xdr-update-incident
      type: regular
      version: -1
    taskid: da71ad47-f1a2-4dc1-875d-a3788df06edb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4290
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Closed after investigation and remediation.
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the incident.
      id: b747c4ab-1503-455f-8dd6-33277a1c2d59
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: b747c4ab-1503-455f-8dd6-33277a1c2d59
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 4465
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0675441f-146a-4754-881e-ec0f72f281fe
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: 0675441f-146a-4754-881e-ec0f72f281fe
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      Account:
        complex:
          root: Account
          transformers:
          - operator: uniq
      CriticalEndpoints:
        complex:
          root: inputs.CriticalHostnames
      CriticalGroups:
        complex:
          root: inputs.CriticalADGroups
      CriticalUsers:
        complex:
          root: inputs.CriticalUsernames
      DBotScore:
        complex:
          root: DBotScore
      EmailAuthenticityCheck:
        complex:
          accessor: AuthenticityCheck
          root: Email
          transformers:
          - operator: uniq
      Endpoint:
        complex:
          root: Endpoint
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Calculate and assign the incident severity based on the highest returned severity level from the following calculations:

        - DBotScores of indicators
        - Critical assets
        - Email authenticity
        - Current incident severity
      id: 155d9739-d0ff-4227-8f17-cd1083bb5c24
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: 155d9739-d0ff-4227-8f17-cd1083bb5c24
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2250
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual malware analysis and forensics by the analyst.
      id: cc3e0a20-beab-429c-8fb3-47fb3d7ef9d7
      iscommand: false
      name: Manual malware analysis and forensics
      type: regular
      version: -1
    taskid: cc3e0a20-beab-429c-8fb3-47fb3d7ef9d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1395
        }
      }
  "25":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoRemediation
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "80"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Should the playbook perform auto remediation or manual remediation?
      id: e02ba151-e148-4c30-8133-7e3db00b3dfc
      iscommand: false
      name: Auto remediation?
      type: condition
      version: -1
    taskid: e02ba151-e148-4c30-8133-7e3db00b3dfc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2780
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual remediation by the analyst.
      id: 40aed7d7-2797-4c70-865d-50e9e9146fa3
      iscommand: false
      name: Manual remediation
      type: regular
      version: -1
    taskid: 40aed7d7-2797-4c70-865d-50e9e9146fa3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 520,
          "y": 2960
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "17"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Continue investigation?
      id: 08fd2b7a-0c45-4869-8ad8-0f4f4018173c
      iscommand: false
      name: Continue investigation?
      type: condition
      version: -1
    taskid: 08fd2b7a-0c45-4869-8ad8-0f4f4018173c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 3910
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - continue investigation for new alerts.
      id: 458652c1-56f5-4cd2-84e1-6876778fc123
      iscommand: false
      name: Manual - continue investigation for new alerts
      type: regular
      version: -1
    taskid: 458652c1-56f5-4cd2-84e1-6876778fc123
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 4090
        }
      }
  "33":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Hunting
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Run hunting playbook to find related IOCs?
      id: 0cf00296-1466-4112-8c30-587f1edaa836
      iscommand: false
      name: Hunt for related IOCs?
      type: condition
      version: -1
    taskid: 0cf00296-1466-4112-8c30-587f1edaa836
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1700
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "24"
      - "93"
    note: false
    quietmode: 0
    scriptarguments:
      CVE:
        complex:
          accessor: ID
          root: CVE
      Domain:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Domain.Name
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.XDRDomain
          root: Domain.Name
          transformers:
          - operator: uniq
      Email:
        complex:
          accessor: Email.Address
          root: Account
          transformers:
          - operator: uniq
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      MD5:
        complex:
          accessor: MD5
          root: File
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: URL.Data
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: incident.xdrurl
          root: URL.Data
          transformers:
          - operator: uniq
      Username:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations.
      id: 727e5f68-a09c-45b0-8fd3-29d276bbf5e5
      iscommand: false
      name: Entity Enrichment - Generic v3
      playbookId: Entity Enrichment - Generic v3
      type: playbook
      version: -1
    taskid: 727e5f68-a09c-45b0-8fd3-29d276bbf5e5
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1200
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: XDR.HandledAlerts
      value:
        complex:
          accessor: xdralertcount
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets a value in context with the given context key.
      id: 29397716-1271-45d5-8029-91b655d566ae
      iscommand: false
      name: Count XDR alerts
      script: Set
      type: regular
      version: -1
    taskid: 29397716-1271-45d5-8029-91b655d566ae
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 870
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      CONTINUE:
      - "7"
      False Positive:
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Continue to remediation or close the investigation as false positive?
      id: 12b6dc30-e5d8-4567-8853-464e03e1870d
      iscommand: false
      name: Continue to remediation or close as false positive?
      type: condition
      version: -1
    taskid: 12b6dc30-e5d8-4567-8853-464e03e1870d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2420
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          accessor: incident_id
          root: PaloAltoNetworksXDR.Incident
      status:
        simple: RESOLVED_FALSE_POSITIVE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: ba17ac69-f567-488b-843c-297ec73362cb
      iscommand: true
      name: Close XDR incident as false positive
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: ba17ac69-f567-488b-843c-297ec73362cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -240,
          "y": 4290
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      fieldExactMatch:
        simple: incident.type
      showCurrentIncident:
        simple: "True"
      showIncidentSimilarityForAllFields:
        simple: "True"
      similarCategoricalField:
        simple: incident.xdrfileartifacts.filesha256,incident.xdralerts.hostip
      similarTextField:
        simple: incident.xdralerts.osactorprocesscommandline,incident.xdralerts.actorprocesscommandline,incident.xdralerts.actionprocessimagecommandline,incident.xdralerts.causalityactorprocesscommandline,incident.xdralerts.host_name,incident.xdralerts.user_name
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find past similar incidents based on incident fields similarity.
        Includes an option to also display indicators similarity.
      id: a156cd63-d9c1-4cf0-8c1a-d752c2d378e3
      iscommand: false
      name: Find similar incidents
      script: DBotFindSimilarIncidents
      type: regular
      version: -1
    taskid: a156cd63-d9c1-4cf0-8c1a-d752c2d378e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": -850
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.LinkSimilarIncidents
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "yes"
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "44"
      "yes":
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Link similar incidents?
      id: d0f123a6-2241-48a8-81ed-ebbb2e6e7512
      iscommand: false
      name: Link similar incidents?
      type: condition
      version: -1
    taskid: d0f123a6-2241-48a8-81ed-ebbb2e6e7512
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": -300
        }
      }
  "43":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: isSimilarIncidentFound
                root: DBotFindSimilarIncidents
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "77"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were any similar incidents found?
      id: e3873cbf-83ca-47ed-8c4d-ea6d4c32a0a2
      iscommand: false
      name: Similar incidents found?
      type: condition
      version: -1
    taskid: e3873cbf-83ca-47ed-8c4d-ea6d4c32a0a2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": -660
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Close the incident as a duplicate?
      id: 7b5ef23f-53ef-4b22-89e2-a21721836981
      iscommand: false
      name: Close as duplicate?
      type: condition
      version: -1
    taskid: 7b5ef23f-53ef-4b22-89e2-a21721836981
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": 40
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          accessor: incident_id
          root: PaloAltoNetworksXDR.Incident
      status:
        simple: RESOLVED_DUPLICATE
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates one or more fields of a specified incident. Missing fields
        will be ignored. To remove the assignment for an incident, pass a null value
        in the assignee email argument.
      id: 439c00da-4585-47b3-8a4b-c8108a07c9ea
      iscommand: true
      name: Resolve XDR incident as duplicate
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: 439c00da-4585-47b3-8a4b-c8108a07c9ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 4290
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 02effbbc-3655-4b6c-8201-e4ae9df592b5
      iscommand: false
      name: Close as duplicate
      type: title
      version: -1
    taskid: 02effbbc-3655-4b6c-8201-e4ae9df592b5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 210
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0851326d-ff23-4700-84b5-bed51e0b0903
      iscommand: false
      name: False Positive
      type: title
      version: -1
    taskid: 0851326d-ff23-4700-84b5-bed51e0b0903
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -240,
          "y": 2625
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Closed as false positive.
      closeReason:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the incident.
      id: 5da8fb53-bb53-4995-8487-c4eb10c47dab
      iscommand: true
      name: Close investigation - false positive
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 5da8fb53-bb53-4995-8487-c4eb10c47dab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -240,
          "y": 4465
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      closeNotes:
        simple: Closed as duplicate.
      closeReason:
        simple: Duplicate
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes the incident.
      id: 8d976e32-9eb8-449d-8cd2-40331ac1593c
      iscommand: true
      name: Close investigation- duplicate
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 8d976e32-9eb8-449d-8cd2-40331ac1593c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 4465
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually block ports used for exploitation on the scanned host.
      id: de3bc26e-6e15-4e05-895a-d0d5579f36d7
      iscommand: false
      name: Manually block ports used for exploitation on the scanned host.
      type: regular
      version: -1
    taskid: de3bc26e-6e15-4e05-895a-d0d5579f36d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 700,
          "y": 3520
        }
      }
  "52":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PortScan
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was there a port scan alert investigated as a part of the incident?
      id: fcbc26e0-1ef3-4cc8-8fbd-7349829031fb
      iscommand: false
      name: Was there a port scan alert investigated?
      type: condition
      version: -1
    taskid: fcbc26e0-1ef3-4cc8-8fbd-7349829031fb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3150
        }
      }
  "53":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: BlockPorts
                root: PortScan
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is port blocking required?
      id: f0c1b9e3-637e-4014-84ee-6cba772837f8
      iscommand: false
      name: Block ports?
      type: condition
      version: -1
    taskid: f0c1b9e3-637e-4014-84ee-6cba772837f8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 3330
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          root: inputs.incident_id
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Returns additional data for the specified incident, for example,
        related alerts, file artifacts, network artifacts, and so on.
      id: 89c274fe-c102-41ea-86b9-066ae7c72f6d
      iscommand: true
      name: Cortex XDR - get incident extra data
      script: Cortex XDR - IR|||xdr-get-incident-extra-data
      type: regular
      version: -1
    taskid: 89c274fe-c102-41ea-86b9-066ae7c72f6d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": -1020
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddresses:
        complex:
          accessor: Address
          filters:
          - - left:
                iscontext: true
                value:
                  simple: IP.Malicious
              operator: isExists
          root: IP
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.network_artifacts.network_remote_ip
            operator: append
          - operator: uniq
      InternalDomainName:
        complex:
          root: inputs.InternalDomainName
      InternalHostRegex:
        complex:
          root: inputs.InternalHostRegex
      InternalRange:
        complex:
          root: inputs.InternalRange
      MD5:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
      SHA1:
        complex:
          accessor: SHA1
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
      SHA256:
        complex:
          accessor: SHA256
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256
            operator: append
          - operator: uniq
      URLDomain:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Domain.Malicious
              operator: isExists
          root: Domain
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.network_artifacts.network_domain
            operator: append
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "This is a multipurpose playbook used for hunting and threat detection.
        The playbook receives inputs based on hashes, IP addresses, or domain names
        provided manually or from outputs by other playbooks. \nWith the received
        indicators, the playbook leverages data received by PANW products including,
        Cortex Data Lake, Autofocus and Pan-OS to search for IP addresses, host names
        and users related to the provided indicators.\nThe output provided by the
        playbook facilitates pivoting searches for possibly affected IP addresses
        or users."
      id: 14f75080-70ea-4330-8d5f-01566f1d861b
      iscommand: false
      name: Palo Alto Networks - Hunting And Threat Detection
      playbookName: Palo Alto Networks - Hunting And Threat Detection
      type: playbook
      version: -1
    taskid: 14f75080-70ea-4330-8d5f-01566f1d861b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 625,
          "y": 2050
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      EndpointID:
        complex:
          accessor: endpoint_id
          root: PaloAltoNetworksXDR.Incident.alerts
          transformers:
          - operator: uniq
      MessageBody:
        simple: |-
          Hello,
          Your user was involved with a device control violation. Please open the following link to fill in the needed information to understand the incident further.
      MessageSubject:
        simple: Device control violation
      TimeStamp:
        complex:
          root: inputs.TimeStamp
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "Queries Cortex XDR for device control violations for the specified
        hosts, IP address, or XDR endpoint ID. It then communicates via email with
        the involved users to understand the nature of the incident and if the user
        connected the device. \nAll the collected data will be displayed in the XDR
        device control incident layout.\nThis playbook can also be associated with
        Cortex XDR device control violation job to periodically query and investigate
        XDR device control violations. In this configuration, the playbook will only
        communicate with the involved users."
      id: eae7782e-48b0-4544-8e51-25135daa9780
      iscommand: false
      name: Cortex XDR device control violations
      playbookId: Cortex XDR device control violations
      type: playbook
      version: -1
    taskid: eae7782e-48b0-4544-8e51-25135daa9780
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1040
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "44"
    note: false
    quietmode: 0
    scriptarguments:
      incidentId:
        complex:
          accessor: id
          root: incident
      linkedIncidentIDs:
        complex:
          accessor: id
          root: DBotFindSimilarIncidents.similarIncident
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.linkIncidents
      id: 9e5acab5-1db9-4281-8680-b0271e9a6a25
      iscommand: true
      name: Link similar incidents
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: 9e5acab5-1db9-4281-8680-b0271e9a6a25
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": -130
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2dd761c8-74ce-4a7a-8a0f-89b7e7039618
      iscommand: false
      name: Continue With or Without Hunting
      type: title
      version: -1
    taskid: 2dd761c8-74ce-4a7a-8a0f-89b7e7039618
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 625,
          "y": 1910
        }
      }
  "77":
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: Incident Id,Created,Name,Incident Similarity,Username,Hostname,OS
          actor command line
      context_path:
        simple: DBotFindSimilarIncidents.similarIncident(val.id='#/Details/'+val.id)
      grid_id:
        simple: xdrsimilarincidents
      keys:
        simple: id,created,name,similarity incident,xdralerts.user_name,xdralerts.host_name,xdralerts.osactorprocesscommandline
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a Grid table from items or key-value pairs.
      id: 5a8723cb-a358-40d6-82c4-e45d5e1d749e
      iscommand: false
      name: Set similar incidents grid
      script: SetGridField
      type: regular
      version: -1
    taskid: 5a8723cb-a358-40d6-82c4-e45d5e1d749e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": -470
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      alert_id:
        complex:
          accessor: alert_id
          root: PaloAltoNetworksXDR.Incident.alerts
      incident_id:
        complex:
          accessor: Incident.incident_id
          root: PaloAltoNetworksXDR
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook is used to loop over every alert in a Cortex XDR
        incident. \nSupported alert categories:\n- Malware\n- Port Scan"
      id: cd52a989-d59a-4204-831c-60f8724e6a20
      iscommand: false
      name: Cortex XDR Alerts Handling
      playbookId: Cortex XDR Alerts Handling
      type: playbook
      version: -1
    taskid: cd52a989-d59a-4204-831c-60f8724e6a20
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 265,
          "y": 340
        }
      }
  "79":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: name
                root: PaloAltoNetworksXDR.Incident.alerts
          operator: inList
          right:
            value:
              simple: Unusual allocation of multiple cloud compute resources
      label: "yes"
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "87"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the playbook should continue or exit.
      id: 3ba84f9e-aaf6-4bd3-8d22-cfc00499e075
      iscommand: false
      name: Should continue with the playbook's investigation and response?
      type: condition
      version: -1
    taskid: 3ba84f9e-aaf6-4bd3-8d22-cfc00499e075
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 520
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      AutoBlockIndicators:
        complex:
          root: inputs.AutoBlockIndicators
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      CustomURLCategory:
        simple: XSOAR Remediation - Malicious URLs
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PortScan.AttackerIPs
            operator: append
          - operator: uniq
      MD5:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      UserVerification:
        complex:
          root: inputs.UserVerification
      Username:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: username
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PortScan.AttackerUsername
            operator: append
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 4cb35aa9-c323-4ebd-8152-9fce74e5be19
      iscommand: false
      name: Block Indicators - Generic v3
      playbookId: Block Indicators - Generic v3
      type: playbook
      version: -1
    taskid: 4cb35aa9-c323-4ebd-8152-9fce74e5be19
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 20,
          "y": 2960
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e29dc13e-8700-42c8-8c88-7043af2f4d7e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: e29dc13e-8700-42c8-8c88-7043af2f4d7e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -590,
          "y": 720
        }
      }
  "93":
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      XDRRiskyHosts:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.RiskyHost.risk_level
              operator: isEqualString
              right:
                value:
                  simple: HIGH
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.RiskyHost.risk_level
              operator: isEqualString
              right:
                value:
                  simple: MED
          root: PaloAltoNetworksXDR.RiskyHost
          transformers:
          - operator: uniq
      XDRRiskyUsers:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.RiskyUser.risk_level
              operator: isEqualString
              right:
                value:
                  simple: HIGH
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.RiskyUser.risk_level
              operator: isEqualString
              right:
                value:
                  simple: MED
          root: PaloAltoNetworksXDR.RiskyUser
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: f5d32846-b236-4ee2-8d97-27812380d586
      iscommand: false
      name: Cortex XDR - Display Risky Assets
      playbookId: Cortex XDR - Display Risky Assets
      type: playbook
      version: -1
    taskid: f5d32846-b236-4ee2-8d97-27812380d586
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -200,
          "y": 1395
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "11_17_#default#": 0.43,
      "30_17_No": 0.41,
      "30_31_yes": 0.6,
      "33_23_#default#": 0.19,
      "33_76_yes": 0.35,
      "37_48_False Positive": 0.79,
      "37_7_CONTINUE": 0.77,
      "41_44_#default#": 0.49,
      "41_57_yes": 0.4,
      "43_2_#default#": 0.32,
      "43_77_yes": 0.51,
      "44_2_no": 0.47,
      "44_46_yes": 0.41,
      "52_11_#default#": 0.43,
      "52_53_yes": 0.63,
      "53_11_#default#": 0.31,
      "79_20_#default#": 0.35,
      "79_87_yes": 0.89
    },
    "paper": {
      "dimensions": {
        "height": 5870,
        "width": 2000,
        "x": -590,
        "y": -1155
      }
    }
  }
