playbook/playbook-TIM_-_QRadar_Add_Url_Indicators.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 2.4.41
    packID: QRadar
    packName: IBM QRadar
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook queries indicators based on a pre-defined query or results
  from a parent playbook, and adds the resulting indicators to a QRadar Reference
  Set. The Reference Set name must be defined in the playbook inputs.
id: TIM - QRadar Add Url Indicators
inputs:
- description: The name of the QRadar block list Url reference set to insert the data
    in to.
  key: QRadarBlackListUrlReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: false
  required: false
  value: {}
- description: The name of the QRadar white list Url reference set to insert the data
    in to.
  key: QRadarWhiteListUrlReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the QRadar watch list Url reference set to insert the data
    in to.
  key: QRadarWatchListUrlReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
name: TIM - QRadar Add Url Indicators
outputs: []
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dfe3443b-d2bc-40c5-8291-35be6e9f4113
      iscommand: false
      name: ""
      version: -1
    taskid: dfe3443b-d2bc-40c5-8291-35be6e9f4113
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 340,
          "y": -70
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: inList
                    right:
                      value:
                        simple: QRadar,QRadar_v2,QRadar v3
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "31"
      - "32"
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c79bfb8-bd4a-4ee8-848a-1ffce8bb5cd5
      iscommand: false
      name: Is QRadarEnabled?
      type: condition
      version: -1
    taskid: 0c79bfb8-bd4a-4ee8-848a-1ffce8bb5cd5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 560,
          "y": 270
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6b55a0c6-8594-4bf7-8d98-3721e7338536
      iscommand: false
      name: Are there filtered results?
      type: condition
      version: -1
    taskid: 6b55a0c6-8594-4bf7-8d98-3721e7338536
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 340,
          "y": 70
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarBlackListUrlReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: e4fc4908-2e40-4aa3-8e09-d5e174c96535
      iscommand: true
      name: Add urls to QRadar block list Url reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: e4fc4908-2e40-4aa3-8e09-d5e174c96535
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1250
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarBlackListUrlReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: URL
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7eed9a8b-352e-4eb9-85cc-3281501bf0fa
      iscommand: false
      name: Is there a Qradar block list Url Reference Set and values?
      type: condition
      version: -1
    taskid: 7eed9a8b-352e-4eb9-85cc-3281501bf0fa
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 450
        }
      }
  "32":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarWhiteistUrlReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_white
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: URL
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1c35b4d2-3a71-4d34-8e4b-f3f95a147c96
      iscommand: false
      name: Is there a Qradar allow list Url Reference Set and values?
      type: condition
      version: -1
    taskid: 1c35b4d2-3a71-4d34-8e4b-f3f95a147c96
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 450
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarWhiteListUrlReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_white
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: inputs.playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 8d116308-62e4-4275-88ab-75fae486c9d5
      iscommand: true
      name: Add urls to QRadar allow list url reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 8d116308-62e4-4275-88ab-75fae486c9d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1240
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aef2cf54-7be8-45f6-892d-a426ff55c7a2
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: aef2cf54-7be8-45f6-892d-a426ff55c7a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": 1570
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicators.
      id: 50ab74f1-270e-4ca9-86f7-b3d9ca0a1e3d
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 50ab74f1-270e-4ca9-86f7-b3d9ca0a1e3d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1390
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_white
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicators.
      id: 8416e07d-d625-418c-8819-6f82dc287cfe
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 8416e07d-d625-418c-8819-6f82dc287cfe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 1390
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarWatchListUrlReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_watchlist
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: URL
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5329e280-fb9a-414a-872b-3f95e9c4cf91
      iscommand: false
      name: Is there a Qradar watch list Url Reference Set and values?
      type: condition
      version: -1
    taskid: 5329e280-fb9a-414a-872b-3f95e9c4cf91
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 450
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarWatchListUrlReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_watchlist
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          root: inputs.playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 3b2f97d4-ca7a-4953-815b-4616d6f348fd
      iscommand: true
      name: Add urls to QRadar watch list url reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 3b2f97d4-ca7a-4953-815b-4616d6f348fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 1240
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_watchlist
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: URL
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicators.
      id: 574dd262-31c6-47d4-8456-f0e6158b1074
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 574dd262-31c6-47d4-8456-f0e6158b1074
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 1390
        }
      }
  "40":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_watchlist
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5f06804e-f4d6-4d46-83dd-725ab6639b34
      iscommand: false
      name: Are there indicators with a watchlist tag?
      type: condition
      version: -1
    taskid: 5f06804e-f4d6-4d46-83dd-725ab6639b34
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3240,
          "y": 875
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_white
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ba7fe2f8-5332-43c2-8a02-5e378db39c05
      iscommand: false
      name: Are there indicators with a white tag?
      type: condition
      version: -1
    taskid: ba7fe2f8-5332-43c2-8a02-5e378db39c05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 875
        }
      }
  "42":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.CustomFields.tags
          operator: isEqualString
          right:
            value:
              simple: approved_black
      - - left:
            iscontext: true
            value:
              simple: playbookQuery.indicator_type
          operator: isEqualString
          right:
            value:
              simple: URL
      label: "yes"
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "34"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: aab2d293-915d-4ed6-8aca-004d21f313bc
      iscommand: false
      name: Are there indicators with a black tag?
      type: condition
      version: -1
    taskid: aab2d293-915d-4ed6-8aca-004d21f313bc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 780,
          "y": 875
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1705,
        "width": 3280,
        "x": 340,
        "y": -70
      }
    }
  }
