playbook/playbook-Tag_massive_and_internal_IOCs_to_avoid_EDL_listing.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 3.2.8
    packID: EDL
    packName: Generic Export Indicators Service
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook tags internal assets and massive IOCs (TLD wildcards and CIDRs) to be avoided by the EDL. The playbook does the following according to indicator type:

  CIDRs - If the CIDR prefix is larger than the set max prefix it tags it as a `Massive_CIDR` and also with `skip_edl`.

  TLD Wildcards - If a domainglob is a TLD wildcard (for example, *.net) it will be tagged as `TLD_Wildcard` and also with `skip_edl`.

  Internal IPs - If an IP is internal and also part of the CIDR configured by the user in the "Internal Assets" list it will be checked as `internal` and tagged with `skip_edl`.

  Internal Domains - If a domain is a subdomain of the domains configured in the "Internal Assets" list it is checked as `internal` and tagged with `skip_edl`.
id: Tag massive and internal IOCs to avoid EDL listing
inputs:
- description: This query retrieves the following indicator types - IP, IPv6, CIDR,
    and IPv6CIDR.
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: type:CIDR or type:IP or type:DomainGlob or type:IPv6CIDR or type:Domain
    queryEntity: indicators
    results: null
    runFromLastJobTime: false
  required: false
  value: {}
- description: 'A list of internal assets consisting of CIDRs and domains that belong
    to the user. '
  key: Internal Assets
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Internal assets
      root: lists
      transformers:
      - args:
          delimiter:
            value:
              simple: |2+

        operator: split
- description: The maximum prefix to allow. Any prefix bigger than this is tagged
    to be ignored by the EDL.
  key: Maximum CIDR Prefix
  playbookInputQuery: null
  required: false
  value:
    simple: "8"
name: Tag massive and internal IOCs to avoid EDL listing
outputs: []
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
      - "39"
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c8b481b1-2bdc-4167-8e22-98b2225c588e
      iscommand: false
      name: ""
      version: -1
    taskid: c8b481b1-2bdc-4167-8e22-98b2225c588e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 650,
          "y": -260
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: DomainGlob
                root: playbookQuery
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if domainglobs are returned in the query.
      id: 36927f6b-0edc-4026-869b-5463e3339f30
      iscommand: false
      name: Check for DomainGlobs
      type: condition
      version: -1
    taskid: 36927f6b-0edc-4026-869b-5463e3339f30
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -270,
          "y": 160
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: NewIOCs.CIDRs
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: CIDR
            - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: IPv6CIDR
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: b8cd921d-feda-4c58-8f09-662891755cfb
              right:
                iscontext: true
                value:
                  simple: inputs.Maximum CIDR Prefix
          root: playbookQuery
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds relevant CIRs under `NewIOCs.CIDRs` in the context
      id: 8075e7cc-4924-445d-8a74-fbce3c561fa9
      iscommand: false
      name: Add Big CIDRs to context
      script: Set
      type: regular
      version: -1
    taskid: 8075e7cc-4924-445d-8a74-fbce3c561fa9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 335,
          "y": 460
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: CIDR
                  - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: IPv6CIDR
                root: playbookQuery
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if CIDRs are returned in the query.
      id: c93f8140-071d-46cc-8e2e-01aa08afdffb
      iscommand: false
      name: Check for CIDRs
      type: condition
      version: -1
    taskid: c93f8140-071d-46cc-8e2e-01aa08afdffb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 335,
          "y": 160
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: Massive_CIDR,skip_edl
      indicatorsValues:
        simple: ${NewIOCs.CIDRs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Appends Massive_CIDR tag to the CIDR
      id: 61af1bf3-2dc7-4d3a-8ab4-68386511cb9d
      iscommand: true
      name: Append Massive_CIDR tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 61af1bf3-2dc7-4d3a-8ab4-68386511cb9d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 335,
          "y": 665
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: NewIOCs.TLD_Wildcards
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: DomainGlob
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: match
              right:
                value:
                  simple: '[*][.]\w*$'
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds tld wild cards to context under `NewIOCs.TLD_Wildcards`
      id: d5a0c6d4-40be-43b5-8cc6-673a770f3ec0
      iscommand: false
      name: Add TLD wildcards to context
      script: Set
      type: regular
      version: -1
    taskid: d5a0c6d4-40be-43b5-8cc6-673a770f3ec0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -270,
          "y": 460
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: TLD_Wildcard,skip_edl
      indicatorsValues:
        simple: ${NewIOCs.TLD_Wildcards}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Appends TLD_Wildcard tag to the DomainGlob
      id: 00962fb1-ba33-4cbd-80fb-b954cd3a5b13
      iscommand: true
      name: Append TLD_Wildcard tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 00962fb1-ba33-4cbd-80fb-b954cd3a5b13
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -270,
          "y": 665
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 27a122c3-c453-4d27-8e6a-d776c6bc6d21
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 27a122c3-c453-4d27-8e6a-d776c6bc6d21
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 650,
          "y": 1250
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Internal Assets
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "29"
      "yes":
      - "33"
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the user added a list of internal assets.
      id: c2903f0f-6a94-4abc-87e5-7e3c2390b74b
      iscommand: false
      name: Check for internal Assets
      type: condition
      version: -1
    taskid: c2903f0f-6a94-4abc-87e5-7e3c2390b74b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 160
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4327833-9aa9-4ecf-888b-1b1d763f722e
      iscommand: false
      name: No Results
      type: title
      version: -1
    taskid: f4327833-9aa9-4ecf-888b-1b1d763f722e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 30,
          "y": 345
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      internal:
        simple: "True"
      value:
        complex:
          root: ${Internal_IPs}
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Sets the `internal` field as True
      id: cbd36ac7-1b29-41cf-8776-f7bb14c0c107
      iscommand: true
      name: Mark IPs as Internal
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: cbd36ac7-1b29-41cf-8776-f7bb14c0c107
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1005,
          "y": 850
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Internal_IPs
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: IP
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: IsInCidrRanges
              right:
                iscontext: true
                value:
                  simple: ${Internal_Assets.CIDRs}
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Add internal IPs to context under `Internal_IPs`
      id: 3a8c5659-aabe-4692-856e-ba4f4f9534c8
      iscommand: false
      name: Add internal IPs to context
      script: Set
      type: regular
      version: -1
    taskid: 3a8c5659-aabe-4692-856e-ba4f4f9534c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1005,
          "y": 665
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bffc2799-ab07-4326-8aac-5092fa97d666
      iscommand: false
      name: No Internal Assets
      type: title
      version: -1
    taskid: bffc2799-ab07-4326-8aac-5092fa97d666
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 530
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      internal:
        simple: "True"
      value:
        complex:
          root: ${Internal_Domains}
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set the `internal` field of the domain to True.
      id: 41b58221-2e2c-404c-8a56-8fa31e9de755
      iscommand: true
      name: Mark domains as internal
      script: Builtin|||setIndicator
      type: regular
      version: -1
    taskid: 41b58221-2e2c-404c-8a56-8fa31e9de755
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1475,
          "y": 850
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Internal_Domains
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: 1bbda28b-cbd2-48f3-89c1-408e19b9a169
              right:
                iscontext: true
                value:
                  simple: ${Internal_Assets.Domains}
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: Domain
          root: playbookQuery
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add internal domains to context under `Internal_Domains`
      id: 0906060e-0ccd-410f-8365-03670c6fcd34
      iscommand: false
      name: Add internal domains to context
      script: Set
      type: regular
      version: -1
    taskid: 0906060e-0ccd-410f-8365-03670c6fcd34
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1475,
          "y": 665
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Internal_Assets.CIDRs
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Internal Assets
              operator: match
              right:
                value:
                  simple: \b(?:(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])(?:\[\.\]|\.)){3}(?:25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9]?[0-9])\b
          root: inputs.Internal Assets
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add internal CIDRs to context under `Internal_Assets.CIDRs`
      id: d529ea63-25bf-447c-813c-5d3840655744
      iscommand: false
      name: Add internal CIDRs to context
      script: Set
      type: regular
      version: -1
    taskid: d529ea63-25bf-447c-813c-5d3840655744
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1005,
          "y": 365
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Internal_Assets.Domains
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Internal Assets
              operator: match
              right:
                value:
                  simple: (?:[._%+\p{L}\p{N}-]+|\[\.\])+(?:\[\.\]|\.)[\p{L}]{2,}|(?:https:\/\/\w*|\w*)\.safelinks\.protection\.outlook\.com\/[^\s]*|https:\/\/urldefense\.(?:proofpoint\.)?com\/.*
          root: inputs.Internal Assets
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add internal domains to context under `Internal_Assets.Domains`
      id: 9c847480-1372-4c1c-89af-de93a8d38020
      iscommand: false
      name: Add internal domains to context
      script: Set
      type: regular
      version: -1
    taskid: 9c847480-1372-4c1c-89af-de93a8d38020
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1475,
          "y": 365
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: skip_edl
      indicatorsValues:
        simple: ${Internal_Domains}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Append `skip_edl` tag tp IPs
      id: 23163823-04fb-442a-8bb7-68763c259ead
      iscommand: true
      name: Append skip_edl tag tp IPs
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 23163823-04fb-442a-8bb7-68763c259ead
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1005,
          "y": 1040
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: skip_edl
      indicatorsValues:
        simple: ${Internal_IPs}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Append `skip_edl` tag to Domains
      id: a718d7fe-68f9-49a0-86fb-58d2253aea5a
      iscommand: true
      name: Append skip_edl tag to Domains
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: a718d7fe-68f9-49a0-86fb-58d2253aea5a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1475,
          "y": 1040
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2fe16957-7d77-44ce-896f-333f51d1b1b0
      iscommand: false
      name: Massive CIDRs
      type: title
      version: -1
    taskid: 2fe16957-7d77-44ce-896f-333f51d1b1b0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 335,
          "y": -40
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 60f2ede4-a63a-4f75-89d3-5ed92de323e4
      iscommand: false
      name: TLD Wildcards
      type: title
      version: -1
    taskid: 60f2ede4-a63a-4f75-89d3-5ed92de323e4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -270,
          "y": -40
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 09aad49d-6a57-4c6d-8828-0c661e306ff6
      iscommand: false
      name: Internal Assets
      type: title
      version: -1
    taskid: 09aad49d-6a57-4c6d-8828-0c661e306ff6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1240,
          "y": -40
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1575,
        "width": 2125,
        "x": -270,
        "y": -260
      }
    }
  }
