playbook/playbook-Cortex_XDR_-_Port_Scan.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 6.0.4
    packID: CortexXDR
    packName: Cortex XDR by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
deprecated: true
description: |-
  Deprecated. Use the Cortex XDR - Port Scan - Adjusted playbook instead.
  Investigates a Cortex XDR incident containing internal port scan alerts. The playbook:
  - Syncs data with Cortex XDR
  - Enriches the hostname and IP address of the attacking endpoint
  - Notifies management about host compromise
  - Escalates the incident in case of lateral movement alert detection
  - Hunts malware associated with the alerts across the organization
  - Blocks detected malware associated with the incident
  - Blocks IPs associated with the malware
  - Isolates the attacking endpoint
  - Allows manual blocking of ports that were used for host login following the port scan
id: Cortex XDR - Port Scan
inputs:
- description: Whether attacking IPs should be automatically blocked using firewalls.
  key: BlockAttackerIP
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A list of comma-separated hostnames that should not be isolated even
    if used in an attack.
  key: WhitelistedHostnames
  playbookInputQuery: null
  required: false
  value:
    simple: AdminPC
- description: A list of comma-separated values of email addresses that should receive
    a notification about compromised hosts.
  key: EmailAddressesToNotify
  playbookInputQuery: null
  required: false
  value: {}
- description: A list of comma-separated names of critical users in the organization.
    This will affect the calculated severity of the incident.
  key: CriticalUsernames
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to automatically isolate endpoints, or opt for manual user
    approval. True means isolation will be done automatically.
  key: IsolateEndpointAutomatically
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: 'A list of IP ranges to check the IP against. The list should be provided
    in CIDR notation, separated by commas. An example of a list of ranges would be:
    "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a list is not provided,
    will use default list provided in the IsIPInRanges script (the known IPv4 private
    address ranges).'
  key: InternalIPRanges
  playbookInputQuery: null
  required: false
  value: {}
- description: A list of comma-separated names of critical endpoints in the organization.
    This will affect the calculated severity of the incident.
  key: CriticalHostnames
  playbookInputQuery: null
  required: false
  value:
    simple: AdminPC
- description: The name of the Cortex XSOAR role of the users that the incident can
    be escalated to in case of developments like lateral movement.
  key: RoleForEscalation
  playbookInputQuery: null
  required: false
  value: {}
- description: Whether to automatically block malicious files involved with the incident
    across all endpoints in the organization.
  key: BlockMaliciousFiles
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: CSV of DN names of critical Active Directory groups. This will affect
    the severity calculated for this incident.
  key: CriticalADGroups
  playbookInputQuery: null
  required: false
  value:
    simple: admins
- description: Set to true to assign only the users that are currently on shift.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
name: Cortex XDR - Port Scan
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7c46d5ad-2e77-4213-8d84-4de23934ce23
      iscommand: false
      name: ""
      version: -1
    taskid: 7c46d5ad-2e77-4213-8d84-4de23934ce23
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8277520e-1e78-403a-8914-018cd06cc1f3
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: 8277520e-1e78-403a-8914-018cd06cc1f3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 195
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      ip:
        complex:
          root: AttackerIPs
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Uses an automated script to determine if the IP used in the incident
        is in one of the ranges provided.
      id: dd99e02f-59f3-403d-86ed-0c56428cd7ad
      iscommand: false
      name: Check if attacker is internal or external
      script: IsIPInRanges
      type: regular
      version: -1
    taskid: dd99e02f-59f3-403d-86ed-0c56428cd7ad
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1040
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: WhitelistedHostnames
      value:
        complex:
          root: inputs.WhitelistedHostnames
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the whitelisted hostnames, if any were configured in the
        playbook inputs.
      id: fb9bb58b-4c96-4820-84a6-ea829168c785
      iscommand: false
      name: Save whitelisted hostnames as list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: fb9bb58b-4c96-4820-84a6-ea829168c785
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 1040
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: EmailAddressesToNotify
      value:
        complex:
          root: inputs.EmailAddressesToNotify
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email addresses to notify about the compromised host
        if any emails were configured in the playbook inputs.
      id: 7a7a6ec8-c9fa-415a-87bc-bc507762e35e
      iscommand: false
      name: Save email addresses to notify
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 7a7a6ec8-c9fa-415a-87bc-bc507762e35e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2210,
          "y": 1040
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "87"
      "yes":
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually check if there has been a successful login to the scanned
        host following the port scan.
      id: 9de655f8-11e9-4297-8a3d-90b5c7878c91
      iscommand: false
      name: Has there been a successful login to the scanned host?
      type: condition
      version: -1
    taskid: 9de655f8-11e9-4297-8a3d-90b5c7878c91
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3370
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually block the port/s associated with vulnerable services or
        that allowed the attacker to gain unauthorized access to the target machine.
      id: 5ade44c2-fea8-45bf-81fd-a1f00699998a
      iscommand: false
      name: Block ports used for exploitation on the scanned host
      type: regular
      version: -1
    taskid: 5ade44c2-fea8-45bf-81fd-a1f00699998a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3545
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: AttackerIPs
      value:
        complex:
          accessor: Incident.alerts.host_ip
          root: PaloAltoNetworksXDR
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the IP address from which the port scan originated.
      id: 60870224-e9dc-4cab-8f05-eaf6e832a45c
      iscommand: false
      name: Save attacker IPs
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 60870224-e9dc-4cab-8f05-eaf6e832a45c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 865
        }
      }
  "40":
    continueonerror: true
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: AttackerUsername
      value:
        complex:
          accessor: Incident.alerts
          filters:
          - - left:
                iscontext: true
                value:
                  simple: user_name
              operator: isExists
          - - left:
                iscontext: true
                value:
                  simple: user_name
              operator: isNotEqualString
              right:
                value:
                  simple: N/A
          root: PaloAltoNetworksXDR
          transformers:
          - args:
              field:
                value:
                  simple: user_name
            operator: getField
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the username associated with the port scan.
      id: 73644573-1b41-4de6-847a-036fa9003a86
      iscommand: false
      name: Save attacker username
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 73644573-1b41-4de6-847a-036fa9003a86
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 60,
          "y": 1040
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "93"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8cbe42bf-2e02-4201-8a2a-10d019de3b5f
      iscommand: false
      name: Detection
      type: title
      version: -1
    taskid: 8cbe42bf-2e02-4201-8a2a-10d019de3b5f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 1215
        }
      }
  "45":
    continueonerror: true
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: FileArtifacts
      value:
        complex:
          accessor: Incident.file_artifacts
          root: PaloAltoNetworksXDR
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves file artifacts associated with the incident.
      id: 21793aba-c2ca-4961-85e9-10b3ff85b818
      iscommand: false
      name: Save file artifacts
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 21793aba-c2ca-4961-85e9-10b3ff85b818
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1040
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: AttackerHostnames
      value:
        complex:
          accessor: Incident.alerts.host_name
          root: PaloAltoNetworksXDR
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the hostname that performed the port scan.
      id: d9ea6596-fcd4-4f66-8bae-e6d654b358d4
      iscommand: false
      name: Save attacker hostname
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: d9ea6596-fcd4-4f66-8bae-e6d654b358d4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1040
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: LateralMovementFirstDatetime
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: PortScanFirstDatetime
          operator: isBefore
          right:
            iscontext: true
            value:
              simple: LateralMovementFirstDatetime
      label: "yes"
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "60"
      "yes":
      - "86"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there was a lateral movement alert that came after
        the port scan alert.
      id: c233bda6-bc73-4094-89bf-d7c8d15315c0
      iscommand: false
      name: Was there a case of lateral movement following the scan?
      type: condition
      version: -1
    taskid: c233bda6-bc73-4094-89bf-d7c8d15315c0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 1885
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "97"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: IncidentAlerts
      value:
        complex:
          accessor: Incident.alerts
          root: PaloAltoNetworksXDR
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the alerts associated with this incident in a new context
        key.
      id: c15ebabb-7bd3-420f-8a0e-e98c9b1a0407
      iscommand: false
      name: Save incident alerts
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c15ebabb-7bd3-420f-8a0e-e98c9b1a0407
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2875,
          "y": 690
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: PortScanFirstDatetime
      value:
        complex:
          accessor: detection_timestamp
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IncidentAlerts.name
              operator: containsGeneral
              right:
                value:
                  simple: Port Scan
          root: IncidentAlerts
          transformers:
          - args:
              descending: {}
            operator: sort
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
          - operator: TimeStampToDate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the date and time of the first port scan alert.
      id: 8d3ea69c-7a79-4d44-8316-4b8e628791ca
      iscommand: false
      name: Save port scan date time
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8d3ea69c-7a79-4d44-8316-4b8e628791ca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2640,
          "y": 1040
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: LateralMovementFirstDatetime
      value:
        complex:
          accessor: detection_timestamp
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: IncidentAlerts.category
              operator: containsGeneral
              right:
                value:
                  simple: Lateral Movement
          root: IncidentAlerts
          transformers:
          - args:
              descending: {}
            operator: sort
          - args:
              index:
                value:
                  simple: "0"
            operator: atIndex
          - operator: TimeStampToDate
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the date and time of the first lateral movement alert, when
        it exists.
      id: fe20e8a9-9913-4989-8337-1cc117319cf4
      iscommand: false
      name: Save lateral movement date time
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: fe20e8a9-9913-4989-8337-1cc117319cf4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3090,
          "y": 1040
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually investigate endpoints infected with the malware.
      id: 3c6b03b5-80b2-4526-8a5d-4571103d4f6e
      iscommand: false
      name: Investigate affected endpoints
      type: regular
      version: -1
    taskid: 3c6b03b5-80b2-4526-8a5d-4571103d4f6e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 3545
        }
      }
  "54":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: DetectedInternalHosts
                root: PANWHunting
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "72"
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether internal hosts were related in any way to the SHA256
        hash of the malware associated with this incident.
      id: 658cbdbe-d7d7-4575-86dc-03de7c56e103
      iscommand: false
      name: Were internal hosts infected with malware?
      type: condition
      version: -1
    taskid: 658cbdbe-d7d7-4575-86dc-03de7c56e103
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 3195
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "54"
      - "67"
    note: false
    quietmode: 0
    scriptarguments:
      InternalRange:
        complex:
          root: inputs.InternalIPRanges
      SHA256:
        complex:
          accessor: file_sha256
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: is_malicious
              operator: isEqualString
              right:
                value:
                  simple: "true"
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: file_wildfire_verdict
              operator: isNotEqualString
              right:
                value:
                  simple: BENIGN
          root: FileArtifacts
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: "Integrations list: Cortex (Traps, PAN-OS, Analytics)\nThis is
        a multipurpose playbook used for hunting and threat detection. The playbook
        receives inputs based on hashes, IP addresses, or domain names provided manually
        or from outputs by other playbooks. \nWith the received indicators, the playbook
        leverages Palo Alto Cortex data received by products such as Traps, Analytics
        and Pan-OS to search for IP addresses and hosts related to that specific hash.
        \nThe output provided by the playbook facilitates pivoting searches for possibly
        affected hosts, IP addresses, or users."
      id: e02d1a26-fc02-47af-8409-b98f7206acb0
      iscommand: false
      name: PANW - Hunting and threat detection by indicator type V2
      playbookName: PANW - Hunting and threat detection by indicator type V2
      type: playbook
      version: -1
    taskid: e02d1a26-fc02-47af-8409-b98f7206acb0
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3020
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "94"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 94865e07-4176-494c-815b-36d6e15aee37
      iscommand: false
      name: Containment & Remediation
      type: title
      version: -1
    taskid: 94865e07-4176-494c-815b-36d6e15aee37
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 2555
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "81"
    note: false
    quietmode: 0
    scriptarguments:
      Account:
        complex:
          root: Account
          transformers:
          - operator: uniq
      CriticalEndpoints:
        complex:
          root: inputs.CriticalHostnames
      CriticalGroups:
        complex:
          root: inputs.CriticalADGroups
      CriticalUsers:
        complex:
          root: inputs.CriticalUsernames
      DBotScore:
        complex:
          root: DBotScore
      Endpoint:
        complex:
          root: Endpoint
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Calculate and assign the incident severity based on the highest returned severity level from the following calculations:

        - DBotScores of indicators
        - Critical assets
        - Email authenticity
        - Current incident severity
      id: 53c86ada-28b3-46de-8da2-e799b8a88bd9
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: 53c86ada-28b3-46de-8da2-e799b8a88bd9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3720
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Endpoint.Hostname
      value:
        complex:
          accessor: DetectedInternalHosts
          root: PANWHunting
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves hostnames related to this incident in the Endpoint.Hostname
        context key.
      id: 564342aa-8759-4b57-81c9-f8251f7362b7
      iscommand: false
      name: Save involved hostnames to endpoint objects
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 564342aa-8759-4b57-81c9-f8251f7362b7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 3370
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    scriptarguments:
      assignBy:
        simple: random
      onCall:
        complex:
          root: inputs.OnCall
      roles:
        complex:
          root: inputs.RoleForEscalation
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assigns the incident to a random user who has the role configured
        in the RoleForEscalation playbook input.
      id: 6d49f70a-f26a-4fa6-80e9-70a448ad330a
      iscommand: false
      name: Escalate incident to higher tier
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 6d49f70a-f26a-4fa6-80e9-70a448ad330a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2322.5,
          "y": 2380
        }
      }
  "64":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RoleForEscalation
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "65"
      "yes":
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether a role from which analysts can be assigned to the
        incident was configured in the RoleForEscalation playbook input.
      id: 612da2fe-8435-4296-860c-3f3406c69d9d
      iscommand: false
      name: Can the incident be auto-escalated to a higher tier?
      type: condition
      version: -1
    taskid: 612da2fe-8435-4296-860c-3f3406c69d9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2107.5,
          "y": 2205
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually assign the incident to an analyst of a higher tier.
      id: ef28b658-0ec9-4697-8b88-2d48a854d590
      iscommand: false
      name: Manually escalate incident
      type: regular
      version: -1
    taskid: ef28b658-0ec9-4697-8b88-2d48a854d590
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 2380
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: CriticalUsernames
      value:
        complex:
          root: inputs.CriticalUsernames
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves any usernames of critical users that are configured in the
        playbook inputs.
      id: 36ca3b97-fe38-46cd-80e9-1e2ec5967245
      iscommand: false
      name: Save critical usernames as list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 36ca3b97-fe38-46cd-80e9-1e2ec5967245
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3520,
          "y": 1040
        }
      }
  "67":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: DetectedExternalIPs
                root: PANWHunting
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "68"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the SHA256 hash of the malware associated with this
        incident was found related to any external IP addresses.
      id: 7f35d238-c12d-4a4d-8882-f60193205889
      iscommand: false
      name: Are external IPs associated with the malware?
      type: condition
      version: -1
    taskid: 7f35d238-c12d-4a4d-8882-f60193205889
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2342.5,
          "y": 3195
        }
      }
  "68":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.BlockAttackerIP
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "69"
      "yes":
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the external IPs associated with the malware's SHA256
        hash can be blocked automatically.
      id: da2051e1-6927-4981-8029-bb62d9aa8b3b
      iscommand: false
      name: Can the external IPs be blocked automatically?
      type: condition
      version: -1
    taskid: da2051e1-6927-4981-8029-bb62d9aa8b3b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2455,
          "y": 3370
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually block external IPs associated with the malware infection.
      id: d788391d-43fe-46d8-86de-104abc8ccb81
      iscommand: false
      name: Manually block IPs associated with the malware
      type: regular
      version: -1
    taskid: d788391d-43fe-46d8-86de-104abc8ccb81
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2240,
          "y": 3545
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4aa93eea-6c1f-4581-836b-0fdbe9add734
      iscommand: false
      name: Block File - Generic v2
      playbookId: Block File - Generic v2
      type: playbook
      version: -1
    taskid: 4aa93eea-6c1f-4581-836b-0fdbe9add734
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1360,
          "y": 3545
        }
      }
  "72":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.BlockMaliciousFiles
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "73"
      "yes":
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether malicious files associated with the incident can
        be blocked automatically using various EDR integrations.
      id: 158f2967-e083-4320-80b9-c59a5457e271
      iscommand: false
      name: Can the file be automatically blocked on all endpoints?
      type: condition
      version: -1
    taskid: 158f2967-e083-4320-80b9-c59a5457e271
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 3370
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually block malicious files associated with the incident using
        EDR integrations.
      id: 019f9c6b-61aa-4aab-85c2-b92bab3899bb
      iscommand: false
      name: Manually block the file on all endpoints
      type: regular
      version: -1
    taskid: 019f9c6b-61aa-4aab-85c2-b92bab3899bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 3545
        }
      }
  "75":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EmailAddressesToNotify
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS v2
                  - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Gmail
                  - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Gmail Single User
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "48"
      "yes":
      - "76"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether any email addresses to notify were configured, and
        whether any mail sender integrations are enabled.
      id: 4830e0a6-14de-40fb-8b7a-331a28311f0b
      iscommand: false
      name: Can a host compromise notification be sent via email?
      type: condition
      version: -1
    taskid: 4830e0a6-14de-40fb-8b7a-331a28311f0b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2107.5,
          "y": 1535
        }
      }
  "76":
    continueonerrortype: ""
    id: "76"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: Port scan & potential compromise
      to:
        complex:
          root: inputs.EmailAddressesToNotify
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: splitAndTrim
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email to the email addresses configured in the playbook
        inputs telling them that a host was compromised.
      id: b9dc1315-c732-4365-8561-999d8662de3d
      iscommand: true
      name: Send notification emails about compromise
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: b9dc1315-c732-4365-8561-999d8662de3d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 1710
        }
      }
  "77":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: AttackerHostnames
          operator: isNotEmpty
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.IsolateEndpointAutomatically
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: AttackerHostnames
                    operator: notIn
                    right:
                      iscontext: true
                      value:
                        simple: WhitelistedHostnames
                root: AttackerHostnames
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "77"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "78"
      "yes":
      - "84"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether attacker hostnames exist in context, are not whitelisted,
        and the IsolateEndpointAutomatically input is set to True.
      id: 286f079f-f592-420f-881f-f2af0405ab41
      iscommand: false
      name: Can attacker hosts be isolated?
      type: condition
      version: -1
    taskid: 286f079f-f592-420f-881f-f2af0405ab41
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3315,
          "y": 3020
        }
      }
  "78":
    continueonerrortype: ""
    id: "78"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually isolate the endpoint that performed the port scan, if
        the endpoint was not specified in the WhitelistedHostnames playbook input.
      id: b1d73a2e-7823-4147-80ed-f666ad970851
      iscommand: false
      name: Manually isolate attacker endpoint
      type: regular
      version: -1
    taskid: b1d73a2e-7823-4147-80ed-f666ad970851
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3100,
          "y": 3545
        }
      }
  "79":
    continueonerrortype: ""
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      Endpoint_hostname:
        complex:
          root: AttackerHostnames
          transformers:
          - operator: uniq
      Endpoint_id:
        complex:
          accessor: endpoint_id
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDREndpoint.endpoint_name
              operator: in
              right:
                iscontext: true
                value:
                  simple: AttackerHostnames
          root: PaloAltoNetworksXDREndpoint
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook isolates a given endpoint using various endpoint product integrations.
        Make sure to provide valid playbook inputs for the integration you are using.
      id: b69262ea-4383-4218-824b-e13233a2c5a1
      iscommand: false
      name: Isolate Endpoint - Generic V2
      playbookId: Isolate Endpoint - Generic V2
      type: playbook
      version: -1
    taskid: b69262ea-4383-4218-824b-e13233a2c5a1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3530,
          "y": 3545
        }
      }
  "80":
    continueonerrortype: ""
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
      - "46"
      - "37"
      - "45"
      - "15"
      - "24"
      - "49"
      - "66"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          accessor: xdrincidentid
          root: incident
      interval:
        simple: "5"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Syncs a single incident between XSOAR and XDR. This script uses
        the xdr-get-incident-extra-data command and outputs to the context the entire
        incident JSON. When the incident is updated in XDR, the XSOAR incident will
        be updated accordingly. When an incident is updated in XSOAR, the script executes
        the xdr-update-incident command and update the incident in XDR.
      id: 3e785ea7-54b3-44cc-89d1-d029a9d17f9f
      iscommand: false
      name: Sync XDR event
      script: XDRSyncScript
      type: regular
      version: -1
    taskid: 3e785ea7-54b3-44cc-89d1-d029a9d17f9f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 515
        }
      }
  "81":
    continueonerrortype: ""
    id: "81"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "82"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      taskID:
        complex:
          root: XDRSyncScriptTaskID
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Stops synchronization between the Cortex XDR incident and this
        investigation.
      id: 51b45449-8567-4a5f-871e-ee3f197b067f
      iscommand: false
      name: Stop XDR sync
      script: StopScheduledTask
      type: regular
      version: -1
    taskid: 51b45449-8567-4a5f-871e-ee3f197b067f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 3895
        }
      }
  "82":
    continueonerrortype: ""
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      incident_id:
        complex:
          accessor: xdrincidentid
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Closes the incident in Cortex XDR.
      id: 15bc7cde-88d7-4ff6-8389-64f1b0a2ef6b
      iscommand: true
      name: Close incident in Cortex XDR
      script: '|||xdr-update-incident'
      type: regular
      version: -1
    taskid: 15bc7cde-88d7-4ff6-8389-64f1b0a2ef6b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 4070
        }
      }
  "83":
    continueonerrortype: ""
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "96"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the current incident in XSOAR.
      id: f0f3ff70-0a3b-4863-8bca-3383bb3f6339
      iscommand: true
      name: Close XSOAR investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: f0f3ff70-0a3b-4863-8bca-3383bb3f6339
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 4245
        }
      }
  "84":
    continueonerrortype: ""
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "95"
    note: false
    quietmode: 0
    scriptarguments:
      hostname:
        complex:
          root: AttackerHostnames
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a list of endpoints, according to the passed filters. Filtering
        by multiple fields will be concatenated using AND condition (OR is not supported).
        Maximum result set size is 100. Offset is the zero-based number of endpoint
        from the start of the result set (start by counting from 0).
      id: 366c1ef2-5cb7-4dc2-8b26-8cde056e287c
      iscommand: true
      name: xdr-get-endpoints
      script: '|||xdr-get-endpoints'
      type: regular
      version: -1
    taskid: 366c1ef2-5cb7-4dc2-8b26-8cde056e287c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3530,
          "y": 3195
        }
      }
  "86":
    continueonerrortype: ""
    id: "86"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "64"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0f2d1d0-d4c1-4089-8ed9-31e88ea93610
      iscommand: false
      name: Exploitation
      type: title
      version: -1
    taskid: f0f2d1d0-d4c1-4089-8ed9-31e88ea93610
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2107.5,
          "y": 2060
        }
      }
  "87":
    continueonerrortype: ""
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0818dc59-3276-4a92-86b3-20a0c006774c
      iscommand: false
      name: Port Blocking Unneeded
      type: title
      version: -1
    taskid: 0818dc59-3276-4a92-86b3-20a0c006774c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3545
        }
      }
  "88":
    continueonerrortype: ""
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a6627a56-c465-4d96-8e3e-4f1ed0ed6bbb
      iscommand: false
      name: Port Blocking
      type: title
      version: -1
    taskid: a6627a56-c465-4d96-8e3e-4f1ed0ed6bbb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3180
        }
      }
  "89":
    continueonerrortype: ""
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 43adfaa6-26d4-4f0b-8429-90088ffa1094
      iscommand: false
      name: Malware Hunting
      type: title
      version: -1
    taskid: 43adfaa6-26d4-4f0b-8429-90088ffa1094
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 2885
        }
      }
  "90":
    continueonerrortype: ""
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "77"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 887a43af-e9fe-4c60-85ca-611d319676f0
      iscommand: false
      name: Host Isolation
      type: title
      version: -1
    taskid: 887a43af-e9fe-4c60-85ca-611d319676f0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3315,
          "y": 2875
        }
      }
  "91":
    continueonerrortype: ""
    id: "91"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: AttackerIPs
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          root: inputs.InternalIPRanges
      ResolveIP:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 9f4c3903-549c-4273-8a45-b98e203a2dc3
      iscommand: false
      name: IP Enrichment - Internal - Generic v2
      playbookId: IP Enrichment - Internal - Generic v2
      type: playbook
      version: -1
    taskid: 9f4c3903-549c-4273-8a45-b98e203a2dc3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1710
        }
      }
  "92":
    continueonerror: true
    continueonerrortype: ""
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "80"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      investigationstage:
        simple: Triage
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates the stage of the port scan investigation to "Triage".
      id: cb51a083-1e21-44b5-8901-116962d8c5b5
      iscommand: true
      name: Update incident stage
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: cb51a083-1e21-44b5-8901-116962d8c5b5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1575,
          "y": 340
        }
      }
  "93":
    continueonerror: true
    continueonerrortype: ""
    id: "93"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "91"
      - "75"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      investigationstage:
        simple: Detection
      sourcehostname:
        complex:
          root: AttackerHostnames
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
      sourceip:
        complex:
          root: AttackerIPs
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates the stage of the port scan investigation to "Detection".
        Additionally, saves gathered incident data to incident fields.
      id: 4a2b9672-7df4-496d-8852-9669a2b078ac
      iscommand: true
      name: Update incident stage
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4a2b9672-7df4-496d-8852-9669a2b078ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 1360
        }
      }
  "94":
    continueonerror: true
    continueonerrortype: ""
    id: "94"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "88"
      - "89"
      - "90"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      investigationstage:
        simple: Containment & Remediation
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates the stage of the port scan investigation to "Containment
        & Remediation". Additionally, saves gathered incident data to incident fields.
      id: 87e6b32a-23a6-4aed-8103-6ffdbe0d2928
      iscommand: true
      name: Update incident stage
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 87e6b32a-23a6-4aed-8103-6ffdbe0d2928
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 2700
        }
      }
  "95":
    continueonerrortype: ""
    id: "95"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PaloAltoNetworksXDREndpoint
      value:
        complex:
          accessor: Endpoint
          root: PaloAltoNetworksXDR
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the XDR endpoints under the PaloAltoNetworksXDREndpoint context
        key.
      id: 1fc18b5e-5f11-47f6-8f94-f8bad97fc719
      iscommand: false
      name: Save XDR endpoints
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 1fc18b5e-5f11-47f6-8f94-f8bad97fc719
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3530,
          "y": 3370
        }
      }
  "96":
    continueonerrortype: ""
    id: "96"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0dfd512e-ddfc-40ab-879c-301b55822d1a
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 0dfd512e-ddfc-40ab-879c-301b55822d1a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1892.5,
          "y": 4420
        }
      }
  "97":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: detection_timestamp
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: IncidentAlerts.category
                    operator: containsGeneral
                    right:
                      value:
                        simple: Lateral Movement
                root: IncidentAlerts
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "42"
      "yes":
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether one of the received alerts is a lateral movement
        alert.
      id: 40036b5f-2d29-4c29-80a7-9f8cdd508a94
      iscommand: false
      name: Was there a lateral movement alert?
      type: condition
      version: -1
    taskid: 40036b5f-2d29-4c29-80a7-9f8cdd508a94
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2987.5,
          "y": 865
        }
      }
  "98":
    continueonerrortype: ""
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "61"
    note: false
    quietmode: 0
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      IP:
        complex:
          accessor: DetectedExternalIPs
          root: PANWHunting
          transformers:
          - operator: uniq
      InputEnrichment:
        simple: "False"
      RuleDirection:
        simple: outbound
      RuleName:
        simple: XSOAR - Block IP playbook - ${incident.id}
      UserVerification:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook blocks malicious IP addresses using all integrations
        that are enabled. The direction of the traffic that will be blocked is determined
        by the XSOAR user (and set by default to outgoing)\nNote the following:\n-
        \ some of those integrations require specific parameters to run, which are
        based on the playbook inputs. Also, certain integrations use FW rules or appended
        network objects.\n- Note that the appended network objects should be specified
        in blocking rules inside the system later on. \n\n\nSupported integrations
        for this playbook [Network security products such as FW/WAF/IPs/etc.]: \n\n*
        Check Point Firewall\n* Palo Alto Networks PAN-OS\n* Zscaler\n* FortiGate\n*
        Aria Packet Intelligence\n* Cisco Firepower \n* Cisco Secure Cloud Analytics\n*
        Cisco ASA\n* Akamai WAF\n* F5 SilverLine\n* ThreatX\n* Signal Sciences WAF\n*
        Sophos Firewall\n\n"
      id: 2235283f-decb-41e3-8e9c-2ca00e0eeed2
      iscommand: false
      name: Block IP - Generic v3
      playbookId: Block IP - Generic v3
      type: playbook
      version: -1
    taskid: 2235283f-decb-41e3-8e9c-2ca00e0eeed2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2670,
          "y": 3545
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "32_34_yes": 0.51,
      "32_87_#default#": 0.72,
      "48_60_#default#": 0.18,
      "48_86_yes": 0.56,
      "54_61_#default#": 0.38,
      "54_72_yes": 0.89,
      "64_63_yes": 0.44,
      "67_61_#default#": 0.39,
      "68_69_#default#": 0.47,
      "72_71_yes": 0.4,
      "72_73_#default#": 0.76,
      "75_48_#default#": 0.52,
      "75_76_yes": 0.59,
      "77_78_#default#": 0.54
    },
    "paper": {
      "dimensions": {
        "height": 4435,
        "width": 3860,
        "x": 50,
        "y": 50
      }
    }
  }
