playbook/playbook-Cortex_XDR_Lite_-_Incident_Handling.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.9.0
    itemVersion: 6.0.4
    packID: CortexXDR
    packName: Cortex XDR by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |
  The Cortex XDR Lite - Incident Handling playbook is triggered by fetching a Palo Alto Networks Cortex XDR incident and executes the following:

  Analysis:
  - Enriches all the indicators from XDR incidents and alerts, providing additional context and information about these indicators.

  Investigation:
  - Checks for related XDR alerts to the user and the endpoint by Mitre tactics to identify malicious activity.
  - Checks for specific arguments for malicious usage from the command line.

  Verdict:
  - Determines the incident's verdict by considering indicator enrichment results, user and host risk levels, command line analysis, and the number of related XDR alerts (medium severity or higher) to the user and the endpoint by Mitre tactics.

  Verdict Handling:
  - Handles malicious incidents by initiating appropriate response actions, including blocking malicious indicators, isolating endpoints, and disabling user accounts.
id: Cortex XDR Lite - Incident Handling
inputs:
- description: Incident ID.
  key: incident_id
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: xdrincidentid
      root: incident
- description: XDR endpoint ID.
  key: EndpointID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: endpoint_id
      root: PaloAltoNetworksXDR.Incident.alerts
      transformers:
      - operator: uniq
- description: Hostname.
  key: Hostname
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: host_name
      root: PaloAltoNetworksXDR.Incident.alerts
      transformers:
      - operator: uniq
- description: Username.
  key: Username
  playbookInputQuery: null
  required: false
  value:
    complex:
      filters:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.Incident.alerts.user_name
          operator: notContainsString
          right:
            value:
              simple: ','
      root: PaloAltoNetworksXDR.Incident.alerts.user_name
      transformers:
      - operator: uniq
- description: Whether to isolate the endpoint automatically.
  key: AutoIsolateEndpoint
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Possible values: True/False.  Default: True.
    Should the given indicators be automatically blocked, or should the user be given the option to choose?

    If set to False - no prompt will appear, and all provided indicators will be blocked automatically.
    If set to True - the user will be prompted to select which indicators to block.
  key: AutoBlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: "Possible values: True/False.  Default: False.\nWhether to provide
    user verification for blocking IPs. \n\nFalse - No prompt will be displayed to
    the user.\nTrue - The server will ask the user for blocking verification and will
    display the blocking list."
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    This is the minimum threshold for XDR-related alerts of medium severity or higher, based on MITRE tactics used to identify malicious activity on the endpoint and by the user.
    Example: If this input is set to '5' and it detects '6' XDR-related alerts, it will classify this check as indicating malicious activity.
    The default value is '5'.
  key: XDRRelatedAlertsThreshold
  playbookInputQuery: null
  required: false
  value:
    simple: "5"
- description: |-
    This input is used in the "Entity Enrichment - Generic v3" playbook.
    A list of internal IP ranges to check IP addresses against. The list should be provided in CIDR notation, separated by commas. An example of a list of ranges is: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a list is not provided, uses the default list provided in the IsIPInRanges script (the known IPv4 private address ranges).
  key: InternalRange
  playbookInputQuery: null
  required: false
  value:
    simple: 172.16.0.0/12,10.0.0.0/8,192.168.0.0/16
- description: XDR instance domain.
  key: XDRDomain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: xdrurl
      root: incident
      transformers:
      - args:
          delimiter:
            value:
              simple: /
          fields:
            value:
              simple: "3"
        operator: Cut
name: Cortex XDR Lite - Incident Handling
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d300f283-b82a-469a-884f-a2af0df8cd18
      iscommand: false
      name: ""
      version: -1
    taskid: d300f283-b82a-469a-884f-a2af0df8cd18
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 505,
          "y": 460
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9da86318-155b-4a17-8fa9-91cfbcf3b531
      iscommand: false
      name: Analysis
      type: title
      version: -1
    taskid: 9da86318-155b-4a17-8fa9-91cfbcf3b531
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 770
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      CVE:
        complex:
          accessor: ID
          root: CVE
      Domain:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Domain.Name
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.XDRDomain
          root: Domain.Name
          transformers:
          - operator: uniq
      Email:
        complex:
          accessor: Email.Address
          root: Account
          transformers:
          - operator: uniq
      Hostname:
        complex:
          accessor: Hostname
          root: Endpoint
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Address
          root: IP
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          root: inputs.InternalRange
      MD5:
        complex:
          accessor: MD5
          root: File
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA1:
        complex:
          accessor: SHA1
          root: File
          transformers:
          - operator: uniq
      SHA256:
        complex:
          accessor: SHA256
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: URL.Data
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: incident.xdrurl
          root: URL.Data
          transformers:
          - operator: uniq
      URLSSLVerification:
        simple: "False"
      Username:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: isNotEqualString
              right:
                value:
                  simple: SYSTEM
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: isNotEqualString
              right:
                value:
                  simple: NT AUTHORITY\SYSTEM
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations.
      id: aeab9b32-63f4-4a7e-88f8-1d1f14859a57
      iscommand: false
      name: Entity Enrichment - Generic v3
      playbookId: Entity Enrichment - Generic v3
      type: playbook
      version: -1
    taskid: aeab9b32-63f4-4a7e-88f8-1d1f14859a57
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 505,
          "y": 900
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f0497c92-81f7-498b-8f2e-747fa8b7f19d
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: f0497c92-81f7-498b-8f2e-747fa8b7f19d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 2830
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      AutoBlockIndicators:
        complex:
          root: inputs.AutoBlockIndicators
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "True"
      CustomURLCategory:
        simple: XSOAR Remediation - Malicious URLs
      DomainToBlock:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: domain
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      EmailToBlock:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: email
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      FilesToBlock:
        complex:
          accessor: Indicator
          filters:
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: file
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      IP:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: ip
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: PortScan.AttackerIPs
            operator: append
          - operator: uniq
      InputEnrichment:
        simple: "False"
      MD5:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      RuleDirection:
        simple: outbound
      RuleName:
        simple: XSOAR - Block Indicators playbook - ${incident.id}
      SHA256:
        complex:
          accessor: SHA256
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Malicious
              operator: isExists
          root: File
          transformers:
          - operator: uniq
      URL:
        complex:
          accessor: Indicator
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: DBotScore.Type
              operator: isEqualString
              right:
                value:
                  simple: url
          - - left:
                iscontext: true
                value:
                  simple: DBotScore.Score
              operator: greaterThanOrEqual
              right:
                value:
                  simple: "3"
          root: DBotScore
          transformers:
          - operator: uniq
      UserVerification:
        complex:
          root: inputs.UserVerification
      Username:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: UsersToBlock
              operator: isNotEqualString
              right:
                value:
                  simple: administrator
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: UsersToBlock
              operator: isNotEqualString
              right:
                value:
                  simple: root
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: UsersToBlock
              operator: isNotEqualString
              right:
                value:
                  simple: SYSTEM
          root: UsersToBlock
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |+
        This playbook blocks malicious indicators using all integrations that are enabled, using the following sub-playbooks:

        - Block URL - Generic v2
        - Block Account - Generic v2
        - Block IP - Generic v3
        - Block File - Generic v2
        - Block Email - Generic v2
        - Block Domain - Generic v2

      id: 3f963b13-1944-4ac8-899d-9e3691cbc074
      iscommand: false
      name: Block Indicators - Generic v3
      playbookId: Block Indicators - Generic v3
      type: playbook
      version: -1
    taskid: 3f963b13-1944-4ac8-899d-9e3691cbc074
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 505,
          "y": 3210
        }
      }
  "18":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Device Status
      output:
        complex:
          accessor: endpoint_status
          root: PaloAltoNetworksXDR.Endpoint
    - incidentfield: Isolated
      output:
        complex:
          accessor: is_isolated
          root: PaloAltoNetworksXDR.Endpoint
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      incident_id:
        complex:
          accessor: Incident.incident_id
          root: PaloAltoNetworksXDR
      resolve_comment:
        simple: '${Verdict} - Closed by XSOAR (XSOAR Incident ID: ${incident.id})'
      status:
        simple: RESOLVED_OTHER
    separatecontext: false
    skipunavailable: false
    task:
      brand: Cortex XDR - IR
      description: Updates one or more fields of a specified incident. Missing fields
        are ignored. To remove the assignment for an incident, pass a null value in
        the assignee email argument.
      id: b7c1590a-8c2a-451b-8927-7a80d4ecda59
      iscommand: true
      name: Cortex XDR - close incident
      script: Cortex XDR - IR|||xdr-update-incident
      type: regular
      version: -1
    taskid: b7c1590a-8c2a-451b-8927-7a80d4ecda59
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 505,
          "y": 3530
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: efef61ec-4e74-4f0e-871c-60bad6eec834
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: efef61ec-4e74-4f0e-871c-60bad6eec834
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 3690
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
      - "44"
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 98de5d0c-590a-4e4b-89d1-4af85d48f4d2
      iscommand: false
      name: investigation
      type: title
      version: -1
    taskid: 98de5d0c-590a-4e4b-89d1-4af85d48f4d2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 1070
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      Commandline:
        complex:
          accessor: cmdline
          root: incident
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.parentcmdline
            operator: append
          - args:
              item:
                iscontext: true
                value:
                  simple: incident.processcmd
            operator: append
          - operator: uniq
          - args:
              empty_values:
                value:
                  simple: "null"
              remove_keys:
                value:
                  simple: "True"
            operator: RemoveEmpty
      StringSimilarityThreshold:
        simple: "0.5"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook takes a command line from the alert and performs
        the following actions:\n- Checks for base64 string and decodes if exists\n-
        Extracts and enriches indicators from the command line\n- Checks specific
        arguments for malicious usage \n\nAt the end of the playbook, it sets a possible
        verdict for the command line, based on the finding:\n1. Indicators found in
        the command line\n2. Found AMSI techniques\n3. Found suspicious parameters\n4.
        Usage of malicious tools\n5. Indication of network activity\n6. Indication
        of suspicious LOLBIN execution\n\nNote: In case you want to run this playbook
        with a list of command lines, set this playbook to run in a loop. To do so,
        navigate to the 'Loop'  and check \"For Each Input\"."
      id: 41bb4aee-24a5-44a3-8db7-72fd078d94b8
      iscommand: false
      name: Command-Line Analysis
      playbookId: Command-Line Analysis
      type: playbook
      version: -1
    taskid: 41bb4aee-24a5-44a3-8db7-72fd078d94b8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1700
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9706509c-4821-47bb-8e03-3e0572ac2e21
      iscommand: false
      name: Verdict
      type: title
      version: -1
    taskid: 9706509c-4821-47bb-8e03-3e0572ac2e21
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 1890
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: An analyst's decision is required to determine whether it is a true
          positive.
      cc:
        simple: Analyst
      format: ""
      methods: []
      replyOptions:
      - Malicious
      - Benign
      subject:
        simple: Analyst desicion
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      Benign:
      - "37"
      Malicious:
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: An analyst's decision is required to determine whether it is a
        true positive.
      id: adfa6676-b293-4f64-834d-c0c149d37226
      iscommand: false
      name: Analyst desicion
      type: condition
      version: -1
    taskid: adfa6676-b293-4f64-834d-c0c149d37226
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 860,
          "y": 2360
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: cmdline
                root: incident
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: incident.parentcmdline
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: incident.processcmd
                  operator: append
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks for the existence of command line parameters.
      id: 813f6058-8ee1-4e8e-8990-60c1d51e823d
      iscommand: false
      name: Is there a CMD line parameter?
      type: condition
      version: -1
    taskid: 813f6058-8ee1-4e8e-8990-60c1d51e823d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1350
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    scriptarguments:
      endpoint_id:
        complex:
          root: inputs.EndpointID
          transformers:
          - operator: uniq
      hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook accepts an XDR endpoint ID and isolates it using
        the 'Palo Alto Networks Cortex XDR - Investigation and Response' integration.
      id: 3feb0a86-b8ba-4c41-86ea-3323df28d94c
      iscommand: false
      name: Cortex XDR - Isolate Endpoint
      playbookId: Cortex XDR - Isolate Endpoint
      type: playbook
      version: -1
    taskid: 3feb0a86-b8ba-4c41-86ea-3323df28d94c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -330,
          "y": 3210
        }
      }
  "32":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoIsolateEndpoint
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determine whether the endpoint should be isolated automatically.
      id: b4750f5d-ac3c-48af-83d8-7cd8f77e2512
      iscommand: false
      name: Endpoint auto-isolation enabled?
      type: condition
      version: -1
    taskid: b4750f5d-ac3c-48af-83d8-7cd8f77e2512
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -120,
          "y": 3030
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e7c6e952-0db3-40f3-84d7-d0cd9a01d0ba
      iscommand: false
      name: Remediation - Done
      type: title
      version: -1
    taskid: e7c6e952-0db3-40f3-84d7-d0cd9a01d0ba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 3385
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "3"
        - left:
            iscontext: true
            value:
              complex:
                root: NumOfRelatedAlerts
          operator: greaterThan
          right:
            iscontext: true
            value:
              complex:
                root: inputs.XDRRelatedAlertsThreshold
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: risk_level
                root: PaloAltoNetworksXDR.RiskyUser
          operator: isEqualString
          right:
            value:
              simple: HIGH
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: risk_level
                root: PaloAltoNetworksXDR.RiskyHost
          operator: isEqualString
          right:
            value:
              simple: HIGH
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: AMSI
                root: CommandlineVerdict
          operator: isEqualString
          right:
            value:
              simple: "True"
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: suspiciousParameters
                root: CommandlineVerdict
          operator: isEqualString
          right:
            value:
              simple: "True"
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: maliciousTools
                root: CommandlineVerdict
          operator: isEqualString
          right:
            value:
              simple: "True"
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: networkActivity
                root: CommandlineVerdict
          operator: isEqualString
          right:
            value:
              simple: "True"
        - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: SuspiciousLolbinExecution
                root: CommandlineVerdict
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: Malicious
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      Malicious:
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determine if the activity is malicious based on the analysis and
        the investigation findings.
      id: d4cc9aa6-f4dc-4c4d-891b-f07ee866ffb0
      iscommand: false
      name: Is the incident malicious?
      type: condition
      version: -1
    taskid: d4cc9aa6-f4dc-4c4d-891b-f07ee866ffb0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 505,
          "y": 2190
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0c51d6ae-c541-45e3-8842-fc1750f8d95a
      iscommand: false
      name: Benign
      type: title
      version: -1
    taskid: 0c51d6ae-c541-45e3-8842-fc1750f8d95a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1185,
          "y": 2540
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      EntityType:
        simple: actor_effective_username
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "True"
      HuntCredentialAccessTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "False"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      RunAll:
        simple: "False"
      entityID:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsString
              right:
                value:
                  simple: \
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: isNotEqualString
              right:
                value:
                  simple: SYSTEM
          root: inputs.Username
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Users
            operator: append
          - operator: uniq
      timeRange:
        simple: 2 hours
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the Cortex XDR by Palo Alto Networks’ pack. This playbook searches alerts related to specific entities from Cortex XDR, on a given timeframe, based on MITRE tactics.
        Note: The playbook's inputs enable manipulating the execution flow. Read the input descriptions for details.
      id: 1f5d7abc-139e-46de-8c64-19cf17767f91
      iscommand: false
      name: Cortex XDR - Get entity alerts by MITRE tactics
      playbookId: Cortex XDR - Get entity alerts by MITRE tactics
      type: playbook
      version: -1
    taskid: 1f5d7abc-139e-46de-8c64-19cf17767f91
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 505,
          "y": 1700
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      EntityType:
        simple: agent_hostname
      HuntCnCTechniques:
        simple: "True"
      HuntCollectionTechniques:
        simple: "False"
      HuntCredentialAccessTechniques:
        simple: "True"
      HuntDefenseEvasionTechniques:
        simple: "True"
      HuntDiscoveryTechniques:
        simple: "True"
      HuntExecutionTechniques:
        simple: "True"
      HuntImpactTechniques:
        simple: "True"
      HuntInitialAccessTechniques:
        simple: "True"
      HuntLateralMovementTechniques:
        simple: "True"
      HuntPersistenceTechniques:
        simple: "True"
      HuntPrivilegeEscalationTechniques:
        simple: "True"
      HuntReconnaissanceTechniques:
        simple: "True"
      RunAll:
        simple: "False"
      entityID:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
      timeRange:
        simple: 2 hours
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook is part of the Cortex XDR by Palo Alto Networks’ pack. This playbook searches alerts related to specific entities from Cortex XDR, on a given timeframe, based on MITRE tactics.
        Note: The playbook's inputs enable manipulating the execution flow. Read the input descriptions for details.
      id: 7b85bfe9-021e-4568-8ad4-7dfc9b0834d8
      iscommand: false
      name: Cortex XDR - Get entity alerts by MITRE tactics
      playbookId: Cortex XDR - Get entity alerts by MITRE tactics
      type: playbook
      version: -1
    taskid: 7b85bfe9-021e-4568-8ad4-7dfc9b0834d8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1045,
          "y": 1700
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a7a97356-7f6a-4422-885b-b35dae6296af
      iscommand: false
      name: Get alerts by MITRE related to the endpoint
      type: title
      version: -1
    taskid: a7a97356-7f6a-4422-885b-b35dae6296af
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1045,
          "y": 1220
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 874287a9-ecb0-4395-8fbb-4e802703537e
      iscommand: false
      name: Command Line Analysis
      type: title
      version: -1
    taskid: 874287a9-ecb0-4395-8fbb-4e802703537e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -30,
          "y": 1220
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: deec344d-0d18-4bea-8fff-bc60de647260
      iscommand: false
      name: Get alerts by MITRE related to the user
      type: title
      version: -1
    taskid: deec344d-0d18-4bea-8fff-bc60de647260
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 1220
        }
      }
  "45":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Hostnames
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_name}
    - incidentfield: Detected Users
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.user_name}
    - incidentfield: MITRE Technique ID
      output:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Incident.mitre_techniques_ids_and_names
              operator: isNotEmpty
          root: PaloAltoNetworksXDR.Incident.mitre_techniques_ids_and_names
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: \bT\d{4}(?:\.\d{3})?\b
              unpack_matches: {}
            operator: RegexExtractAll
    - incidentfield: MITRE Tactic ID
      output:
        simple: ${PaloAltoNetworksXDR.Incident.mitre_tactics_ids_and_names}
    - incidentfield: Parent CMD line
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_command_line}
    - incidentfield: Process CMD
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.actor_process_command_line}
    - incidentfield: CMD line
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_process_image_command_line}
    - incidentfield: File SHA256
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256}
    - incidentfield: External Link
      output:
        simple: ${PaloAltoNetworksXDR.Incident.xdr_url}
    - incidentfield: Description
      output:
        simple: ${PaloAltoNetworksXDR.Incident.description}
    - incidentfield: File Names
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_name}
    - incidentfield: File MD5
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_file_md5}
    - incidentfield: Process MD5
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.action_file_md5}
    - incidentfield: Process SHA256
      output:
        simple: ${PaloAltoNetworksXDR.Incident.file_artifacts.file_sha256}
    - incidentfield: Agents ID
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.endpoint_id}
    - incidentfield: Agent Version
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.agent_version}
    - incidentfield: Detected Internal IPs
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_ip}
    - incidentfield: Hostnames
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.host_name}
    - incidentfield: Device OS Name
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.agent_os_type}
    - incidentfield: External Category Name
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.category}
    - incidentfield: External End Time
      output:
        simple: ${PaloAltoNetworksXDR.Incident.modification_time}
    - incidentfield: External Start Time
      output:
        simple: ${PaloAltoNetworksXDR.Incident.creation_time}
    - incidentfield: External Link
      output:
        simple: ${PaloAltoNetworksXDR.Incident.xdr_url}
    - incidentfield: External Severity
      output:
        simple: ${PaloAltoNetworksXDR.Incident.severity}
    - incidentfield: Parent Process CMD
      output:
        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_command_line}
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      incident_id:
        complex:
          root: inputs.incident_id
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns additional data for the specified incident, for example
        related alerts, file artifacts, and network artifacts.
      id: 5a3b5f2b-8024-4c93-809e-cb4cbb007c58
      iscommand: true
      name: Get Full Incident Details
      script: '|||xdr-get-incident-extra-data'
      type: regular
      version: -1
    taskid: 5a3b5f2b-8024-4c93-809e-cb4cbb007c58
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 505,
          "y": 600
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manually isolate the endpoint.
      id: b238dc25-36f8-4c31-8d6c-d14c1f42148b
      iscommand: false
      name: Manually Endpoint isolation
      type: regular
      version: -1
    taskid: b238dc25-36f8-4c31-8d6c-d14c1f42148b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 90,
          "y": 3210
        }
      }
  "47":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Hostname
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the hostname exists.
      id: e5d16b9b-c467-4668-80d5-739494a48b2e
      iscommand: false
      name: Does the Hostname exist?
      type: condition
      version: -1
    taskid: e5d16b9b-c467-4668-80d5-739494a48b2e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1045,
          "y": 1350
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Users
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: containsGeneral
              right:
                value:
                  simple: \
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: isNotEqualString
              right:
                value:
                  simple: NT AUTHORITY\SYSTEM
          root: inputs.Username
          transformers:
          - args:
              delimiter:
                value:
                  simple: \
              fields:
                value:
                  simple: "2"
            operator: Cut
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.12/Cortex-XSOAR-Administrator-Guide/Automations
      id: dfc1c719-7ba7-4c2e-8f16-2806d059b3f2
      iscommand: false
      name: Set Usernames
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: dfc1c719-7ba7-4c2e-8f16-2806d059b3f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 505,
          "y": 1530
        }
      }
  "50":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.Username
                    operator: isNotEqualString
                    right:
                      value:
                        simple: SYSTEM
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.Username
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: \SYSTEM
                root: inputs.Username
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the username exists.
      id: df005ecb-bf2d-4642-8f86-9d13e0d458cd
      iscommand: false
      name: Does the Username exist?
      type: condition
      version: -1
    taskid: df005ecb-bf2d-4642-8f86-9d13e0d458cd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 505,
          "y": 1350
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Verdict
      value:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0b5f600a-dac0-4e17-88b4-5d00ec021481
      iscommand: false
      name: Set closing reason as Benign
      script: Set
      type: regular
      version: -1
    taskid: 0b5f600a-dac0-4e17-88b4-5d00ec021481
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1185,
          "y": 2670
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1be81a2a-8e80-46ae-876f-51fbb1f0f3b6
      iscommand: false
      name: Malicious
      type: title
      version: -1
    taskid: 1be81a2a-8e80-46ae-876f-51fbb1f0f3b6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 505,
          "y": 2540
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Verdict
      value:
        simple: Malicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 18e9723c-9e60-46be-87ff-0d3e29beb612
      iscommand: false
      name: Set closing reason as Malicious
      script: Set
      type: regular
      version: -1
    taskid: 18e9723c-9e60-46be-87ff-0d3e29beb612
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 505,
          "y": 2670
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: UsersToBlock
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.Username
              operator: notContainsGeneral
              right:
                value:
                  simple: \
          root: inputs.Username
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Users
            operator: append
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: e55ef5e4-71d0-484a-8076-866fff699969
      iscommand: false
      name: Set Users To Block
      script: Set
      type: regular
      version: -1
    taskid: e55ef5e4-71d0-484a-8076-866fff699969
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 505,
          "y": 3030
        }
      }
  "60":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Account Name
      output:
        complex:
          accessor: Username
          root: Account
          transformers:
          - operator: uniq
    - incidentfield: sAMAccountName
      output:
        complex:
          accessor: sAMAccountName
          root: ActiveDirectory.Users
          transformers:
          - operator: uniq
    - incidentfield: Email
      output:
        complex:
          accessor: Address
          root: Account.Email
          transformers:
          - operator: uniq
    - incidentfield: Account Member Of
      output:
        complex:
          accessor: memberOf
          root: ActiveDirectory.Users
    - incidentfield: Manager Name
      output:
        complex:
          accessor: Manager
          root: Account
    - incidentfield: High Risky Users
      output:
        complex:
          accessor: id
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.RiskyUser.risk_level
              operator: isEqualString
              right:
                value:
                  simple: HIGH
          root: PaloAltoNetworksXDR.RiskyUser
          transformers:
          - operator: toLowerCase
          - operator: uniq
    - incidentfield: High Risky Hosts
      output:
        complex:
          accessor: id
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.RiskyHost.risk_level
              operator: isEqualString
              right:
                value:
                  simple: HIGH
          root: PaloAltoNetworksXDR.RiskyHost
          transformers:
          - operator: uniq
    - incidentfield: Command Line Verdict
      output:
        complex:
          root: CommandlineVerdict
          transformers:
          - operator: uniq
    - incidentfield: XDR Alert Search Results
      output:
        complex:
          accessor: Alert
          root: PaloAltoNetworksXDR
    - incidentfield: Number Of Found Related Alerts
      output:
        complex:
          root: NumOfRelatedAlerts
    - incidentfield: Device Id
      output:
        complex:
          accessor: endpoint_id
          root: PaloAltoNetworksXDR.Incident.alerts
          transformers:
          - operator: uniq
    - incidentfield: Device Name
      output:
        complex:
          accessor: host_name
          root: PaloAltoNetworksXDR.Incident.alerts
          transformers:
          - operator: uniq
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: NumOfRelatedAlerts
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Alert.severity
              operator: containsGeneral
              right:
                value:
                  simple: medium
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Alert.severity
              operator: containsGeneral
              right:
                value:
                  simple: high
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: PaloAltoNetworksXDR.Alert.severity
              operator: containsGeneral
              right:
                value:
                  simple: critical
          root: PaloAltoNetworksXDR.Alert.severity
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.12/Cortex-XSOAR-Administrator-Guide/Automations
      id: b894fa0f-0341-46a1-8c00-4aef4bae2550
      iscommand: false
      name: Set Investigation Details
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: b894fa0f-0341-46a1-8c00-4aef4bae2550
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 505,
          "y": 2020
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "27_37_Benign": 0.4,
      "27_54_Malicious": 0.39,
      "30_24_yes": 0.4,
      "30_25_#default#": 0.18,
      "35_27_#default#": 0.5,
      "35_54_Malicious": 0.53,
      "47_25_#default#": 0.2,
      "47_41_yes": 0.51,
      "50_25_#default#": 0.26,
      "50_49_yes": 0.41
    },
    "paper": {
      "dimensions": {
        "height": 3295,
        "width": 1895,
        "x": -330,
        "y": 460
      }
    }
  }
