playbook/playbook-Process_Email_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 3.6.2
    packID: Phishing
    packName: Phishing
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook adds email details to the relevant context entities and handles original email attachments.

  The v2 playbook enables parsing email artifacts more efficiently, including:
  - Using incident fields and not incident labels.
  - Providing separate paths to "Phishing Alerts".
  - Using the new "Get Original Email - Generic v2" playbook to retrieve original emails as EML files from the following integrations:
    * EWS v2
    * Microsoft Graph Mail integration
    * Gmail
    * FireEye EX and FireEye CM
    * Proofpoint Protection Server
    * Agari Phishing Defense (EWS v2, MSGraph Mail, Gmail)
    * Mimecast.
id: Process Email - Generic v2
inputs:
- description: An EML or MSG file.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: The receiver email address.
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: The email CC addresses.
  key: EmailCC
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailcc
      root: incident
- description: The sender email address.
  key: EmailFrom
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
- description: The email subject.
  key: EmailSubject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: The email text.
  key: EmailText
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailbody
      root: incident
- description: The email HTML.
  key: EmailHtml
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailhtml
      root: incident
- description: The email headers.
  key: EmailHeaders
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: phishingreporteremailheaders
      root: incident
- description: The email format.
  key: EmailFormat
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailformat
      root: incident
- description: |-
    Retrieves the original email in the thread.

    You must have the necessary permissions in your email service to execute global search.

    - For EWS: eDiscovery
    - For Gmail: Google Apps Domain-Wide Delegation of Authority
    - For MSGraph: As described in the [message-get API](https://docs.microsoft.com/en-us/graph/api/message-get) and the [user-list-messages API](https://docs.microsoft.com/en-us/graph/api/user-list-messages)
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: The original email message ID to retrieve. Holds the value of the "Message-ID"
    header of the original email. This value is passed as an input to the "Get Original
    Email - Generic v2" playbook.
  key: MessageID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailmessageid
      root: incident
- description: The user's email address to retrieve the original email. This value
    is passed as an input to the "Get Original Email - Generic v2" playbook.
  key: UserID
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
      transformers:
      - args:
          regex:
            value:
              simple: (?i).*<([A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,})>
          replaceWith:
            value:
              simple: $1
        operator: replaceMatch
- description: The value of the "Thread-Topic" header which holds the original email
    subject, needed for forwarded email scenarios. It is passed as an input to the
    "Get Original Email - Generic v2" playbook to use in the relevant sub-playbooks.
  key: Thread-Topic
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: |-
    If this value is provided, only the relevant playbook runs. If no value is provided, all sub-playbooks are run.
    Possible values:
    - Gmail
    - EWS v2
    - MicrosoftGraphMail
    - EmailSecurityGateway
    Choosing the EmailSecurityGateway executes the following if enabled: - FireEye EX (Email Security) - Proofpoint TAP - Mimecast.
  key: EmailBrand
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Reported emails and emails retrieved during playbook execution can contain multiple nested email files. For example, an EML nested inside another EML file.
    If multiple level files are detected, this field determines which file represents the phishing email.

    For example:
    User1 receives an email from Attacker. User1 attaches the email as an EML file and sends the email to User2.
    User2 also attaches that email as a file, and reports it as phishing. In this case, the phishing email would be the "inner file" (as opposed to "outer file").

    Possible values are: Inner file, Outer file, All files.
    Inner file: The file at the deepest level is parsed. If there is only one file, that file is parsed.
    Outer file: The file at the first level is parsed.
    All files: All files are parsed. Do not use this option in the phishing playbook, as there should only be one phishing email per playbook run.
  key: EmailFileToExtract
  playbookInputQuery: null
  required: false
  value:
    simple: Inner file
- description: |-
    This input is used to preserve backward-compatibility. It determines whether the playbook should set email fields that are no longer being used in the out-of-the-box content.
    If set to True, the playbook will save data into the the "Email Body HTML" and "Rendered HTML" incident fields as it did before.
    If set to False, the playbook will not save data into those fields, and will simply be using the Email HTML field instead.
    If you are ingesting large emails which are causing issues with large amounts of data being saved into incident fields, you should set the value to False.
    We recommend setting the value to False unless you are certain that you need the "Email Body HTML" and "Rendered HTML" incident fields.
  key: UseOldHTMLFields
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Process Email - Generic v2
outputs:
- contextPath: Email.HTML
  description: The email HTML body if it exists.
  type: string
- contextPath: Email
  description: The email object.
  type: string
- contextPath: Email.CC
  description: The email CC addresses.
  type: string
- contextPath: Email.From
  description: The email sender address.
  type: string
- contextPath: Email.Subject
  description: The email subject.
  type: string
- contextPath: Email.To
  description: The email receiver addresses.
  type: string
- contextPath: Email.Text
  description: The email text body if it exists.
  type: string
- contextPath: Email.Headers
  description: The full email headers as a single string.
  type: string
- contextPath: Email.Attachments
  description: The list of attachment names in the email.
  type: string
- contextPath: Email.Format
  description: The format of the email if available.
  type: string
- contextPath: File
  description: The file object.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a04b8840-cedc-4a47-8049-27e8471d5813
      iscommand: false
      name: ""
      version: -1
    taskid: a04b8840-cedc-4a47-8049-27e8471d5813
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -510
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "44"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        simple: ${inputs.File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identifies whether the incident includes an email message attached
        as an EML or MSG file and returns the answer to playbook. Also saves the identified
        entry ID to context for use for later. Commonly used in automated playbooks
        that handle phishing reports sent to a special phishing mailbox set up by
        the security team.
      id: 0dd52ab6-3b18-4d35-802d-842309495c7c
      iscommand: false
      name: Do we have original emails attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 0dd52ab6-3b18-4d35-802d-842309495c7c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 15
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        simple: ${reportedemailentryid}
      nesting_level_to_return:
        complex:
          root: inputs.EmailFileToExtract
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parse an email from an eml or msg file and populate all relevant
        context data to investigate the email. Also extracts inner attachments and
        returns them to the war room. The incident labels themselves are preserved
        and not modified - only the "Label/x" context items that originated from the
        labels, and the best practice is to rely on these for the remainder of the
        playbook.
      id: a4928ca0-7759-4d39-8454-fe4e6c8bce43
      iscommand: false
      name: Extract email artifacts and attachments
      script: ParseEmailFilesV2
      type: regular
      version: -1
    taskid: a4928ca0-7759-4d39-8454-fe4e6c8bce43
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": 2005
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HTML
                root: Email
          operator: isExists
          right:
            value: {}
        - left:
            iscontext: true
            value:
              complex:
                accessor: Text
                root: Email
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: Email.HTML
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              simple: Email.Text
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Rasterize
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email is HTML-formatted, and whether the Rasterize
        integration is enabled.
      id: 07d4d696-1b95-42c4-8b7f-dec6d6caad71
      iscommand: false
      name: Can an image of the email be rendered?
      type: condition
      version: -1
    taskid: 07d4d696-1b95-42c4-8b7f-dec6d6caad71
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 3970
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      htmlBody:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${Email.Text="<html><body>"+val +"</body></html>"}
            operator: SetIfEmpty
      offline:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Rasterizes an email body into an image.
      id: 82e8f49c-8af4-4da9-8802-27df9e49adf3
      iscommand: true
      name: Render HTML to an image
      script: '|||rasterize-email'
      tags:
      - email_html_image
      type: regular
      version: -1
    taskid: 82e8f49c-8af4-4da9-8802-27df9e49adf3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 110,
          "y": 4190
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 35ab88e4-5632-4395-805b-77b1e13433e7
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 35ab88e4-5632-4395-805b-77b1e13433e7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 4390
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3639ae41-1ee1-4399-8452-086f7537792f
      iscommand: false
      name: Email Screenshot
      type: title
      version: -1
    taskid: 3639ae41-1ee1-4399-8452-086f7537792f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 3840
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.GetOriginalEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: phishingreporteremailheaders
                root: incident
          operator: isNotEmpty
      label: Yes-Forwarded
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.GetOriginalEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: Yes-Alerts
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "50"
      Yes-Alerts:
      - "49"
      Yes-Forwarded:
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines whether to retrieve the original email in the thread.
      id: c2ea9adf-1841-416e-87d5-78a68fe96f4d
      iscommand: false
      name: Should the original email be retrieved?
      type: condition
      version: -1
    taskid: c2ea9adf-1841-416e-87d5-78a68fe96f4d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -50,
          "y": 190
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: Email
          operator: isExists
      label: Email Exist
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      Email Exist:
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines whether there is an email object in the context.
      id: 58d6d2c1-a97e-42bf-8649-185bb70587d0
      iscommand: false
      name: Was the original email retrieved?
      type: condition
      version: -1
    taskid: 58d6d2c1-a97e-42bf-8649-185bb70587d0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 0,
          "y": 2005
        }
      }
  "19":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseOldHTMLFields
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "68"
      "yes":
      - "66"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Whether to keep this sub-playbook backward-compatible in terms
        of the incident fields being set. Opting out will result in the Rendered HTML
        and Email Body HTML not being set, and the Email HTML field will be used instead.
      id: aeef38e1-8f4f-476f-81b8-a10cad505f6b
      iscommand: false
      name: Keep backward-compatibility?
      type: condition
      version: -1
    taskid: aeef38e1-8f4f-476f-81b8-a10cad505f6b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 920,
          "y": 3200
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: Email.Headers
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" field in the incident layout with the
        retrieved email headers.
      id: f7b513dc-d1ca-4c9a-8923-47d613439a2f
      iscommand: false
      name: Display email headers in layout - Email.Headers
      script: SetGridField
      type: regular
      version: -1
    taskid: f7b513dc-d1ca-4c9a-8923-47d613439a2f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -20,
          "y": 2960
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isNotEmpty
      label: HeadersMap
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Email.Headers
          operator: isNotEmpty
      label: Headers
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "63"
      Headers:
      - "20"
      HeadersMap:
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email headers were extracted from the original
        email that was either attached or retrieved using available email integrations.
      id: 40ab6886-b7f5-46cc-8803-9a820d2ddb70
      iscommand: false
      name: Were email headers extracted successfully?
      type: condition
      version: -1
    taskid: 40ab6886-b7f5-46cc-8803-9a820d2ddb70
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 300,
          "y": 2600
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 43770b8d-3981-4456-8cd9-9e621a56db99
      iscommand: false
      name: Incident Layout Display
      type: title
      version: -1
    taskid: 43770b8d-3981-4456-8cd9-9e621a56db99
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1030,
          "y": 2420
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the incident contains any kind of file.
      id: 47622f33-536f-41ab-8b78-c4a2bb1d6234
      iscommand: false
      name: Are there any files in the incident?
      type: condition
      version: -1
    taskid: 47622f33-536f-41ab-8b78-c4a2bb1d6234
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -360
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IncidentFiles
      value:
        complex:
          root: inputs.File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the files that were initially involved with the incident
        in a separate context key so they are available separate from email attachment
        files.
      id: 971afa58-3f58-434b-895e-15bc11e1ccb3
      iscommand: false
      name: Save incident files separately from email attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 971afa58-3f58-434b-895e-15bc11e1ccb3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": -170
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "27"
      - "28"
      - "29"
      - "30"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set multiple keys/values to the context.
      id: afb5f93c-42cf-4e92-8934-04a1885c80cb
      iscommand: false
      name: Attachment Information
      type: title
      version: -1
    taskid: afb5f93c-42cf-4e92-8934-04a1885c80cb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2010,
          "y": 2600
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Count
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the number of attachments in the email.
      id: 793e4e15-3ff6-47a2-879b-c1fce93c3d3a
      iscommand: false
      name: Save number of attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 793e4e15-3ff6-47a2-879b-c1fce93c3d3a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 2800
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Extension
      value:
        complex:
          accessor: Extension
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment extensions.
      id: df9fdd5c-8861-4a3f-8ade-52604f201044
      iscommand: false
      name: Save attachment extensions
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: df9fdd5c-8861-4a3f-8ade-52604f201044
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 2800
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Hash
      value:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment MD5 hashes.
      id: c967c0e1-b2a8-41ad-8baf-b8cf30f75188
      iscommand: false
      name: Save attachment MD5 hashes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c967c0e1-b2a8-41ad-8baf-b8cf30f75188
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1727.5,
          "y": 2800
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Name
      value:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment names.
      id: e9315111-7d2b-4466-844f-7a6e852616b7
      iscommand: false
      name: Save attachment names
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: e9315111-7d2b-4466-844f-7a6e852616b7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2540,
          "y": 2800
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Size
      value:
        complex:
          accessor: Size
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment sizes.
      id: aee2a44d-f0e5-461e-84df-5d0e9b4dc07a
      iscommand: false
      name: Save attachment sizes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: aee2a44d-f0e5-461e-84df-5d0e9b4dc07a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2140,
          "y": 2800
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Type
      value:
        complex:
          accessor: Type
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment types.
      id: 6dd271dc-7932-4202-839b-de25909a3e71
      iscommand: false
      name: Save attachment types
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 6dd271dc-7932-4202-839b-de25909a3e71
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2950,
          "y": 2800
        }
      }
  "32":
    continueonerror: true
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: headers
      grid_id:
        simple: phishingreporteremailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Normalizes the keys names of the headers, which are different with
        each client. This facilitates extracting the relevant values for the next
        tasks.
      id: c213bea9-5c9f-4bc6-81f8-91ef7712c07b
      iscommand: false
      name: Normalize Reporter Email Headers
      script: SetGridField
      type: regular
      version: -1
    taskid: c213bea9-5c9f-4bc6-81f8-91ef7712c07b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 720
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: headers
      value:
        complex:
          accessor: phishingreporteremailheaders
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Preserves the original state of the reporter's email headers, which
        are stored in the context.
      id: 5c2f2f03-5a7e-446e-84ec-81b30a5c201c
      iscommand: false
      name: Extract Reporter Email Headers
      script: Set
      type: regular
      version: -1
    taskid: 5c2f2f03-5a7e-446e-84ec-81b30a5c201c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 555
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      EmailBrand:
        complex:
          root: inputs.EmailBrand
      EmailSubject:
        complex:
          root: inputs.Thread-Topic
      MessageID:
        complex:
          root: inputs.MessageID
      UserID:
        complex:
          root: inputs.UserID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This v2 playbook is used inside the phishing flow. The inputs in this version do not use labels and also allow the user to supply an email brand.
        Note: You must have the necessary permissions in your email service to execute a global search.

        To retrieve the email files directly from the email service providers, use one of the provided inputs (Agari Phishing Defense customers should also use the following):
        - EWS: eDiscovery
        - Gmail: Google Apps Domain-Wide Delegation of Authority
        - MSGraph: As described in the [message-get API](https://docs.microsoft.com/en-us/graph/api/message-get) and the [user-list-messages API](https://docs.microsoft.com/en-us/graph/api/user-list-messages).</li></ul>
        - EmailSecurityGateway retrieves eml files from:
            * FireEye EX
            * FireEye CM
            * Proofpoint Protection Server
            * Mimecast
      id: be1ca0e3-fba9-4111-86e8-f3580cdd4f86
      iscommand: false
      name: Get Original Email - Generic v2
      playbookId: Get Original Email - Generic v2
      type: playbook
      version: -1
    taskid: be1ca0e3-fba9-4111-86e8-f3580cdd4f86
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -50,
          "y": 885
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "18"
      "yes":
      - "46"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        simple: ${File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identifies whether the incident includes an email message attached
        as an EML or MSG file and returns the answer to playbook. Also saves the identified
        entry ID to context for later use. Commonly used in automated playbooks that
        handle phishing reports sent to a special phishing mailbox set up by the security
        team.
      id: 43766a67-fa17-4183-81d4-d89bc0a5d84e
      iscommand: false
      name: Do we have original emails attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 43766a67-fa17-4183-81d4-d89bc0a5d84e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 170,
          "y": 1075
        }
      }
  "37":
    continueonerror: true
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: ExtractedHeadersMap
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" field in the incident layout with the
        retrieved email headers.
      id: d174bb70-e6e8-4ec2-839c-c2e88a795b85
      iscommand: false
      name: Display email headers in layout - Email.HeadersMap
      script: SetGridField
      type: regular
      version: -1
    taskid: d174bb70-e6e8-4ec2-839c-c2e88a795b85
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 2960
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      EmailBrand:
        complex:
          accessor: sourceBrand
          root: incident
      EmailSubject:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.phishingreporteremailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Thread-Topic
          root: incident.phishingreporteremailheaders
      MessageID:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.phishingreporteremailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: In-Reply-To
          root: incident.phishingreporteremailheaders
      UserID:
        complex:
          root: inputs.UserID
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook retrieves the original email in the thread including headers and attachments, when the reporting user forwarded the original email not as an attachment.

        Note: You must have the necessary permissions in your email service to execute a global search.

        - EWS: eDiscovery
        - Gmail: Google Apps Domain-Wide Delegation of Authority
        - MSGraph: As described in the [message-get API](https://docs.microsoft.com/en-us/graph/api/message-get) and the [user-list-messages API](https://docs.microsoft.com/en-us/graph/api/user-list-messages).</li></ul>
        - EmailSecurityGateway retrieves eml files from:
            * FireEye EX
            * FireEye CM
            * Proofpoint Protection Server
            * Mimecast
      id: c2183b0c-92d8-4851-8d0b-e589253364e7
      iscommand: false
      name: Get Original Email - Generic v2
      playbookId: Get Original Email - Generic v2
      type: playbook
      version: -1
    taskid: c2183b0c-92d8-4851-8d0b-e589253364e7
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 885
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: AttachmentNames
                root: Email
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if attachments were found in an EML file to display their
        details in the layout.
      id: f32dd442-572b-40c0-86c6-f2c33042651f
      iscommand: false
      name: Check if attachments were found in eml file
      type: condition
      version: -1
    taskid: f32dd442-572b-40c0-86c6-f2c33042651f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 820,
          "y": 2170
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedHeadersMap
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Email.HeadersMap
              operator: isNotEmpty
          root: Email.HeadersMap
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: df95e52c-4643-426e-816c-9737192b7b8f
      iscommand: false
      name: Set ExtractedHeadersMap
      script: Set
      type: regular
      version: -1
    taskid: df95e52c-4643-426e-816c-9737192b7b8f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 430,
          "y": 2800
        }
      }
  "41":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: eml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: msg
                root: File
                transformers:
                - operator: uniq
                - operator: count
          operator: greaterThan
          right:
            value:
              simple: "1"
      label: "yes"
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the Get Original Email - Generic v2 playbook found more
        than one EML file.
      id: d3cebc5c-faf2-4156-81d5-2f7f3e397194
      iscommand: false
      name: Did the automation find more than one email?
      type: condition
      version: -1
    taskid: d3cebc5c-faf2-4156-81d5-2f7f3e397194
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 400,
          "y": 1450
        }
      }
  "42":
    continueonerrortype: ""
    form:
      description: Please review the email files retrieved using the Get Original
        Email - Generic v2 playbook and insert the relevant entry ID to process.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Which EntryID should the playbook process?
        options: []
        optionsarg:
        - complex:
            accessor: Name
            filters:
            - - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: File.Extension
                operator: isEqualString
                right:
                  value:
                    simple: eml
              - ignorecase: true
                left:
                  iscontext: true
                  value:
                    simple: File.Extension
                operator: isEqualString
                right:
                  value:
                    simple: msg
            root: File
        - {}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: Your SOC team
      title: Handling multiple email files
      totalanswers: 0
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Several email files were found, please pick the relevant one
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Asks the user to provide the EntryID of one of the EML files found.
      id: f44c8d3c-b102-4ac5-8ec2-1683bac638aa
      iscommand: false
      name: Handling multiple email files
      type: collection
      version: -1
    taskid: f44c8d3c-b102-4ac5-8ec2-1683bac638aa
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 400,
          "y": 1650
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: reportedemailentryid
      value:
        complex:
          accessor: "0"
          root: Handling multiple email files.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: a0b0274c-09a5-44a0-84d6-19b666ac5474
      iscommand: false
      name: Set the relevant file entry id
      script: Set
      type: regular
      version: -1
    taskid: a0b0274c-09a5-44a0-84d6-19b666ac5474
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 400,
          "y": 1820
        }
      }
  "44":
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ReportedEmailOrigin
      value:
        simple: Attached
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: eccf6f51-1797-4462-849f-b973f2885a2b
      iscommand: false
      name: Set reported email origin (attached)
      script: Set
      type: regular
      version: -1
    taskid: eccf6f51-1797-4462-849f-b973f2885a2b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 820,
          "y": 190
        }
      }
  "45":
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    scriptarguments:
      reportedemailorigin:
        simple: None
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Set "reportedemailorigin" incident field value to "None".
      id: 9c94d183-ab1b-4779-8313-6ecb6cb3c5c7
      iscommand: true
      name: Set reported email origin (none)
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 9c94d183-ab1b-4779-8313-6ecb6cb3c5c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -470,
          "y": 2325
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ReportedEmailOrigin
      value:
        simple: Retrieved
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 8cbc8a81-41b4-4ea5-83c7-c4bc0db369c0
      iscommand: false
      name: Set reported email origin (retrieved)
      script: Set
      type: regular
      version: -1
    taskid: 8cbc8a81-41b4-4ea5-83c7-c4bc0db369c0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 400,
          "y": 1260
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ReportedEmailOrigin
      value:
        simple: Retrieved
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 40fd9f0d-4f6b-4e9c-8280-ff22c0c0017c
      iscommand: false
      name: Set reported email origin (retrieved)
      script: Set
      type: regular
      version: -1
    taskid: 40fd9f0d-4f6b-4e9c-8280-ff22c0c0017c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 260,
          "y": 2250
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 758d220a-6468-4a1c-819d-cc765b4483b2
      iscommand: false
      name: Phishing - Forwarded Email
      type: title
      version: -1
    taskid: 758d220a-6468-4a1c-819d-cc765b4483b2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 410
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a34a58fb-2830-4188-86d3-6d9a01686600
      iscommand: false
      name: Phishing Alerts
      type: title
      version: -1
    taskid: a34a58fb-2830-4188-86d3-6d9a01686600
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -50,
          "y": 410
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7fbb6732-637c-4f2a-89da-d9bf34283c12
      iscommand: false
      name: Do Not Retrieve Email
      type: title
      version: -1
    taskid: 7fbb6732-637c-4f2a-89da-d9bf34283c12
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -470,
          "y": 410
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "60"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f1f02e34-e79a-45f8-8233-949d5474fc5b
      iscommand: false
      name: Keep Old Field Mapping
      type: title
      version: -1
    taskid: f1f02e34-e79a-45f8-8233-949d5474fc5b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -940,
          "y": 3020
        }
      }
  "60":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Rendered HTML
      output:
        complex:
          root: inputs.EmailHtml
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.EmailText
            operator: SetIfEmpty
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''EmailCC''], From: val[''EmailFrom''],
          Subject: val[''EmailSubject''], Text: val[''EmailText''], HTML: val[''EmailHtml''],
          Headers: val[''EmailHeaders''], Format: val[''EmailFormat'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the details of the email that was forwarded under the email
        context key. Also saves the HTML or email text to the email body section in
        the layout.
      id: 655dada4-1eea-4524-87ef-7de91fffa4a2
      iscommand: false
      name: Add original email details to context
      script: Set
      type: regular
      version: -1
    taskid: 655dada4-1eea-4524-87ef-7de91fffa4a2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -940,
          "y": 3160
        }
      }
  "61":
    continueonerrortype: ""
    id: "61"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "62"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3e62e117-814b-4967-86fa-78302c9093b1
      iscommand: false
      name: No Field Mapping
      type: title
      version: -1
    taskid: 3e62e117-814b-4967-86fa-78302c9093b1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -500,
          "y": 3025
        }
      }
  "62":
    continueonerrortype: ""
    id: "62"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''EmailCC''], From: val[''EmailFrom''],
          Subject: val[''EmailSubject''], Text: val[''EmailText''], HTML: val[''EmailHtml''],
          Headers: val[''EmailHeaders''], Format: val[''EmailFormat'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the details of the email that was forwarded under the email
        context key. Also saves the HTML or email text to the email body section in
        the layout.
      id: 2ea1361a-74c3-47c1-8eba-2f7477689110
      iscommand: false
      name: Add original email details to context
      script: Set
      type: regular
      version: -1
    taskid: 2ea1361a-74c3-47c1-8eba-2f7477689110
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -500,
          "y": 3160
        }
      }
  "63":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseOldHTMLFields
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "61"
      "yes":
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether to keep this sub-playbook backward-compatible in terms
        of the incident fields being set. Opting out will result in the Rendered HTML
        and Email Body HTML not being set, and the Email HTML field will be used instead.
      id: 7cea36ef-74f3-43ba-81a6-9908756bd4a5
      iscommand: false
      name: Keep backward-compatibility?
      type: condition
      version: -1
    taskid: 7cea36ef-74f3-43ba-81a6-9908756bd4a5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -710,
          "y": 2840
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: Email.Text
            operator: SetIfEmpty
          - operator: uniq
          - operator: Stringify
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailrecipientscount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - operator: count
      emailreplyto:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Reply-To
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Return-Path
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value: {}
            operator: split
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
      reportedemailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      reportedemailorigin:
        complex:
          root: ReportedEmailOrigin
      reportedemailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Cortex XSOAR incident fields using data from the email
        object.
      id: 4fc1e52e-511d-47e3-8447-bc2ecb0ee2c4
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 4fc1e52e-511d-47e3-8447-bc2ecb0ee2c4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 3510
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 59e175da-6af9-43d6-82c6-d3ab9400b56e
      iscommand: false
      name: Keep Old Fields
      type: title
      version: -1
    taskid: 59e175da-6af9-43d6-82c6-d3ab9400b56e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": 3380
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "69"
    note: false
    quietmode: 0
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailbodyhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: Stringify
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailrecipientscount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - operator: count
      emailreplyto:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Reply-To
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Return-Path
          root: incident.emailheaders
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value: {}
            operator: split
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
      renderedhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: Email.Text
            operator: SetIfEmpty
      reportedemailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailmessageid:
        complex:
          accessor: headervalue
          filters:
          - - left:
                iscontext: true
                value:
                  simple: incident.emailheaders.headername
              operator: isEqualString
              right:
                value:
                  simple: Message-ID
          root: incident.emailheaders
          transformers:
          - operator: uniq
      reportedemailorigin:
        complex:
          root: ReportedEmailOrigin
      reportedemailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Cortex XSOAR incident fields using data from the email
        object.
      id: 2fce304c-8afd-49dc-818f-e77ff239cbc3
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 2fce304c-8afd-49dc-818f-e77ff239cbc3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": 3510
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 17c7cfdb-f6a0-459a-82f6-900dd62250cd
      iscommand: false
      name: Don't Keep Old Fields
      type: title
      version: -1
    taskid: 17c7cfdb-f6a0-459a-82f6-900dd62250cd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1150,
          "y": 3390
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 40a6f63a-ee3c-40a3-8318-0897f9036454
      iscommand: false
      name: Continue
      type: title
      version: -1
    taskid: 40a6f63a-ee3c-40a3-8318-0897f9036454
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 920,
          "y": 3690
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.MD5
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.MD5
          - - left:
                iscontext: true
                value:
                  simple: File.MD5
              operator: isNotEmpty
          root: File
          transformers:
          - operator: uniq
      uri:
        simple: incident/upload/${incident.id}
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Uploads file attachments of the email to the incident layout.
      id: 754742b3-8a98-45b3-8d02-a850f90d83fd
      iscommand: true
      name: Upload email attachments to layout
      script: '|||core-api-multipart'
      type: regular
      version: -1
    taskid: 754742b3-8a98-45b3-8d02-a850f90d83fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1520,
          "y": 4190
        }
      }
  "71":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.MD5
                    operator: notIn
                    right:
                      iscontext: true
                      value:
                        simple: IncidentFiles.MD5
                - - left:
                      iscontext: true
                      value:
                        simple: File.MD5
                    operator: isNotEmpty
                root: File
          operator: isNotEmpty
          right:
            value: {}
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Core REST API
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the Core REST API integration is enabled, and whether
        any file attachments were extracted from the email.
      id: bc13d37f-42b6-49cc-873a-3f41c8b60b38
      iscommand: false
      name: Can email attachments be uploaded?
      type: condition
      version: -1
    taskid: bc13d37f-42b6-49cc-873a-3f41c8b60b38
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1520,
          "y": 3970
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "71"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: beee6bf9-e581-46ac-8c39-d1a74d2c91fc
      iscommand: false
      name: Add email files and attachments to the layout
      type: title
      version: -1
    taskid: beee6bf9-e581-46ac-8c39-d1a74d2c91fc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1520,
          "y": 3840
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "19_66_yes": 0.52,
      "19_68_#default#": 0.53,
      "23_24_yes": 0.49,
      "39_22_yes": 0.31,
      "41_3_#default#": 0.35,
      "41_42_yes": 0.5,
      "4_5_yes": 0.57,
      "4_6_#default#": 0.18,
      "63_59_yes": 0.6,
      "63_61_#default#": 0.58,
      "71_6_#default#": 0.24
    },
    "paper": {
      "dimensions": {
        "height": 4965,
        "width": 4270,
        "x": -940,
        "y": -510
      }
    }
  }
