playbook/playbook-Block_IP_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.4.13
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
deprecated: true
description: "Deprecated. Use the `Block IP - Generic v3` playbook instead. \nThis
  playbook blocks malicious IPs using all integrations that are enabled.\n\nSupported
  integrations for this playbook:\n* Check Point Firewall\n* Palo Alto Networks Minemeld\n*
  Palo Alto Networks PAN-OS\n* Zscaler\n* FortiGate"
id: Block IP - Generic v2
inputs:
- description: The name of the IP block list Miner in  Minemeld.
  key: IPBlacklistMiner
  playbookInputQuery: null
  required: false
  value: {}
- description: Array of malicious IPs to block.
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Custom Block Rules are used.
    Specify True to use Custom Block Rules.
  key: CustomBlockRule
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Panorama log forwarding object name.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether to commit the configuration automatically.
    Yes - Commit automatically.
    No - Commit manually.
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "No"
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Static Address Groups are used.
    Specify the Static Address Group name for IP handling.
  key: StaticAddressGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used for blocking IPs.
    Specify the EDL name for IP handling.
  key: IPListName
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall External Dynamic Lists are used:
    * The IP address of the web server on which the files are stored.
    * The web server IP address is configured in the integration instance.
  key: EDLServerIP
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input determines whether Palo Alto Networks Panorama or Firewall Dynamic Address Groups are used.
    Specify the Dynamic Address Group tag name for IP handling.
  key: DAG
  playbookInputQuery: null
  required: false
  value: {}
name: Block IP - Generic v2
outputs:
- contextPath: CheckpointFWRule.Destination
  description: Rule Destination.
- contextPath: CheckpointFWRule.DestinationNegate
  description: Rule destination negate status (True/False).
- contextPath: PanoramaRule.Direction
  description: Direction of the Panorama rule. Can be 'to','from', 'both'
  type: string
- contextPath: PanoramaRule.IP
  description: The IP the Panorama rule blocks
  type: string
- contextPath: CheckpointFWRule.Name
  description: Rule name.
- contextPath: PanoramaRule.Name
  description: Name of the Panorama rule
  type: string
- contextPath: CheckpointFWRule.UID
  description: Rule UID.
- contextPath: PanoramaRule
  description: List of Panorama rules
- contextPath: CheckpointFWRule.Type
  description: Rule Type.
- contextPath: CheckpointFWRule.Action
  description: 'Rule action (Valid values are: Accept, Drop, Apply Layer, Ask, Info).'
- contextPath: CheckpointFWRule.ActionSetting
  description: Rule action settings.
- contextPath: CheckpointFWRule.CustomFields
  description: Rule custom fields.
- contextPath: CheckpointFWRule.Data
  description: Rule data.
- contextPath: CheckpointFWRule.DataDirection
  description: Rule data direction.
- contextPath: CheckpointFWRule.DataNegate
  description: Rule data negate status (True/False).
- contextPath: CheckpointFWRule.Domain
  description: Rule domain.
- contextPath: CheckpointFWRule.Enabled
  description: Rule status.
- contextPath: CheckpointFWRule.Hits
  description: Rule hits count.
- contextPath: CheckpointFWRule.Data.Name
  description: Rule data object name.
- contextPath: CheckpointFWRule.Data.Domain
  description: Information about the domain the data object belongs to.
- contextPath: CheckpointFWRule.Domain.Name
  description: Rule domain name.
- contextPath: CheckpointFWRule.Domain.UID
  description: Rule domain UID.
- contextPath: CheckpointFWRule.Domain.Type
  description: Rule domain type.
- contextPath: CheckpointFWRule.Hits.FirstDate
  description: The date of the first hit for the rule.
- contextPath: CheckpointFWRule.Hits.LastDate
  description: The date of the last hit for the rule.
- contextPath: CheckpointFWRule.Hits.Level
  description: Level of rule hits.
- contextPath: CheckpointFWRule.Hits.Percentage
  description: Percentage of rule hits.
- contextPath: CheckpointFWRule.Hits.Value
  description: Value of rule hits.
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 650804b8-1cd4-4c33-8d83-8f72c789f860
      iscommand: false
      name: ""
      version: -1
    taskid: 650804b8-1cd4-4c33-8d83-8f72c789f860
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 500,
          "y": 10
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cbdf2261-0bd1-4856-86f8-c5082a16f3ee
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: cbdf2261-0bd1-4856-86f8-c5082a16f3ee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1020
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "19"
      - "20"
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 47c2b776-5038-453b-8115-48141dbad596
      iscommand: false
      name: Block IPs
      type: title
      version: -1
    taskid: 47c2b776-5038-453b-8115-48141dbad596
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 370
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      direction:
        simple: both
      ip:
        complex:
          root: inputs.IP
      ipname:
        simple: IP-${inputs.IP}
      rulename:
        simple: Block-${inputs.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Block the IPs using Check Point Firewall
      id: 9dd50dac-37af-45ff-8c50-d02eadc60b93
      iscommand: true
      name: Block IP with Check Point Firewall
      script: '|||checkpoint-block-ip'
      type: regular
      version: -1
    taskid: 9dd50dac-37af-45ff-8c50-d02eadc60b93
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 980,
          "y": 850
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Check Point
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: Active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Check Point Firewall enabled.
      id: f74fb6b5-f7c9-42ed-808a-d227355f1e9d
      iscommand: false
      name: Is Check Point Firewall enabled?
      type: condition
      version: -1
    taskid: f74fb6b5-f7c9-42ed-808a-d227355f1e9d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 980,
          "y": 650
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.IP
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one IP to block.
      id: 39db44de-9bb1-460e-8b42-023c12aa4778
      iscommand: false
      name: Is there an IP to block?
      type: condition
      version: -1
    taskid: 39db44de-9bb1-460e-8b42-023c12aa4778
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 155
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: d8d7576b-c4e9-48a6-8046-68f589b27e2e
      iscommand: false
      name: Add Indicator to Miner - Palo Alto MineMeld
      playbookName: Add Indicator to Miner - Palo Alto MineMeld
      type: playbook
      version: -1
    taskid: d8d7576b-c4e9-48a6-8046-68f589b27e2e
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 500,
          "y": 650
        }
      }
  "12":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Zscaler
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of Zscaler enabled.
      id: e8c51174-7d85-4248-86b4-6d14eba20ca6
      iscommand: false
      name: Is Zscaler enabled?
      type: condition
      version: -1
    taskid: e8c51174-7d85-4248-86b4-6d14eba20ca6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 650
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: Zscaler
      description: Block the IPs using Zscaler.
      id: 5e4a94dc-b93a-43e9-8a81-176b36b3fc57
      iscommand: true
      name: Block IP with Zscaler
      script: Zscaler|||zscaler-blacklist-ip
      type: regular
      version: -1
    taskid: 5e4a94dc-b93a-43e9-8a81-176b36b3fc57
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 850
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: b8398534-32b9-4455-84d6-2dd09bd2a592
      iscommand: false
      name: PAN-OS - Block IP - Custom Block Rule
      playbookId: PAN-OS - Block IP - Custom Block Rule
      type: playbook
      version: -1
    taskid: b8398534-32b9-4455-84d6-2dd09bd2a592
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 80,
          "y": 850
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 9828866a-b42c-4155-8681-d7b183b80fe2
      iscommand: false
      name: PAN-OS - Block IP - Static Address Group
      playbookId: PAN-OS - Block IP - Static Address Group
      type: playbook
      version: -1
    taskid: 9828866a-b42c-4155-8681-d7b183b80fe2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -330,
          "y": 850
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 9620e528-42f8-4c0d-8706-b46a73d188be
      iscommand: false
      name: PAN-OS - Block IP and URL - External Dynamic List
      playbookName: PAN-OS - Block IP and URL - External Dynamic List
      type: playbook
      version: -1
    taskid: 9620e528-42f8-4c0d-8706-b46a73d188be
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -760,
          "y": 850
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
      - "23"
      - "24"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9d73fbe9-6b72-4cd3-8a23-235fb61bc197
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: 9d73fbe9-6b72-4cd3-8a23-235fb61bc197
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -550,
          "y": 510
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fa041b26-6524-4e1f-8aeb-6d6e77e75c5c
      iscommand: false
      name: CheckPoint FW
      type: title
      version: -1
    taskid: fa041b26-6524-4e1f-8aeb-6d6e77e75c5c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 980,
          "y": 515
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3c8ee2b0-16ec-4e9e-8e66-b86781a7144e
      iscommand: false
      name: MineMeld
      type: title
      version: -1
    taskid: 3c8ee2b0-16ec-4e9e-8e66-b86781a7144e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 500,
          "y": 515
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ffef1804-3251-47ce-83d5-f398b82b8fa6
      iscommand: false
      name: Zscaler
      type: title
      version: -1
    taskid: ffef1804-3251-47ce-83d5-f398b82b8fa6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1470,
          "y": 515
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      id: 6c3dfdb9-9ac3-4a32-831b-67fc7bec6fd1
      iscommand: false
      name: PAN-OS DAG Configuration
      playbookId: PAN-OS DAG Configuration
      type: playbook
      version: -1
    taskid: 6c3dfdb9-9ac3-4a32-831b-67fc7bec6fd1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -1180,
          "y": 850
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CustomBlockRule
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if custom block rule playbook input is set to true or not.
      id: 621b09ab-5f15-4893-8b6d-eb6d241d8f98
      iscommand: false
      name: Use Custom Block Rules?
      type: condition
      version: -1
    taskid: 621b09ab-5f15-4893-8b6d-eb6d241d8f98
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 90,
          "y": 650
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.StaticAddressGroup
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a static address group name set as a playbook
        input.
      id: 8d1ccb6b-eade-48db-8c34-904dbcbf644c
      iscommand: false
      name: Use Static Address Group?
      type: condition
      version: -1
    taskid: 8d1ccb6b-eade-48db-8c34-904dbcbf644c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -330,
          "y": 650
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IPListName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.EDLServerIP
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is an EDL Server IP as a playbook input.
      id: 156aee26-31e3-4cba-8846-767ee8a2dc6a
      iscommand: false
      name: Use External Dynamic List?
      type: condition
      version: -1
    taskid: 156aee26-31e3-4cba-8846-767ee8a2dc6a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -760,
          "y": 650
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.DAG
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify if there is a dynamic address group name set as a playbook
        input.
      id: 181b1519-8b3e-4296-8cb2-d0f91984b16b
      iscommand: false
      name: Use Dynamic Address Group?
      type: condition
      version: -1
    taskid: 181b1519-8b3e-4296-8cb2-d0f91984b16b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1180,
          "y": 650
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 65dca814-c04b-40ff-8e32-766432ee9f13
      iscommand: false
      name: Fortinet
      type: title
      version: -1
    taskid: 65dca814-c04b-40ff-8e32-766432ee9f13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1920,
          "y": 510
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: FortiGate
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that there is a valid instance of FortiGate enabled.
      id: 5ec7ae21-1c50-4a72-8a86-daa39ac43f18
      iscommand: false
      name: Is FortiGate enabled?
      type: condition
      version: -1
    taskid: 5ec7ae21-1c50-4a72-8a86-daa39ac43f18
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1920,
          "y": 650
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      ip_address:
        complex:
          root: inputs.IP
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds IP addresses to the banned list.
      id: f3b16aab-fe0c-4c4f-8791-55cbd589405f
      iscommand: true
      name: 'FortiGate Ban IP '
      script: '|||fortigate-ban-ip'
      type: regular
      version: -1
    taskid: f3b16aab-fe0c-4c4f-8791-55cbd589405f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1920,
          "y": 850
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_2_#default#": 0.18,
      "22_2_#default#": 0.22,
      "23_2_#default#": 0.11,
      "24_2_#default#": 0.1,
      "25_2_#default#": 0.1,
      "27_2_#default#": 0.16,
      "7_2_#default#": 0.39,
      "8_2_#default#": 0.48
    },
    "paper": {
      "dimensions": {
        "height": 1075,
        "width": 3480,
        "x": -1180,
        "y": 10
      }
    }
  }
