playbook/playbook-Email_Address_Enrichment_-_Generic_v2.1.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.5.2
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  Enrich email addresses.
  - Get information from Active Directory for internal addresses
  - Get the domain-squatting reputation for external addresses
  - Email address reputation using !email command
id: Email Address Enrichment - Generic v2.1
inputs:
- description: A CSV list of internal domains. The list will be used to determine
    whether an email address is internal or external.
  key: InternalDomains
  playbookInputQuery: null
  required: false
  value: {}
- description: The email addresses to enrich.
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Email.Address
      root: Account
      transformers:
      - operator: uniq
- description: The domains associated with the incident. These domains will be checked
    for domain-squatting.
  key: Domain
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Define if you would like to use the !email command.
    Note: This input should be used whenever there is no auto-extract enabled in the investigation flow.
    Possible values: True / False.
    The default value is false.
  key: UseReputationCommand
  playbookInputQuery: null
  required: true
  value:
    simple: "False"
name: Email Address Enrichment - Generic v2.1
outputs:
- contextPath: Account
  description: The Account object.
  type: unknown
- contextPath: Account.Email.NetworkType
  description: The email account NetworkType (Internal/External).
  type: string
- contextPath: Account.Email.Distance.Domain
  description: The compared domain.
  type: string
- contextPath: Account.Email.Distance.Value
  description: 'The distance between the email domain and the compared domain. '
  type: number
- contextPath: DBotScore
  description: The DBotScore object.
  type: unknown
- contextPath: Account.Email.Username
  description: The Email account username
  type: string
- contextPath: Account.Email.Domain
  description: The Email account domain
  type: string
- contextPath: ActiveDirectory.Users.dn
  description: The user distinguished name.
- contextPath: ActiveDirectory.Users.displayName
  description: The user display name.
- contextPath: ActiveDirectory.Users.name
  description: The user common name.
- contextPath: ActiveDirectory.Users.sAMAccountName
  description: The user sAMAccountName.
- contextPath: ActiveDirectory.Users.userAccountControl
  description: The user account control flag.
- contextPath: ActiveDirectory.Users.manager
  description: The manager of the user.
- contextPath: ActiveDirectory.Users.memberOf
  description: Groups in which the user is a member.
- contextPath: ActiveDirectory.Users.userAccountControlFields.SCRIPT
  description: Whether the login script is run. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.ACCOUNTDISABLE
  description: Whether the user account is disabled. Works for *Windows Server 2012
    R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.HOMEDIR_REQUIRED
  description: Whether the home folder is required. Works for *Windows Server 2012
    R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.LOCKOUT
  description: Whether the user is locked out. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWD_NOTREQD
  description: Whether the password is required. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWD_CANT_CHANGE
  description: Whether the user can change the password. Works for *Windows Server
    2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.ENCRYPTED_TEXT_PWD_ALLOWED
  description: Whether the user can send an encrypted password. Works for *Windows
    Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.TEMP_DUPLICATE_ACCOUNT
  description: Whether this is an account for users whose primary account is in another
    domain. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.NORMAL_ACCOUNT
  description: Whether this is a default account type that represents a typical user.
    Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.INTERDOMAIN_TRUST_ACCOUNT
  description: Whether the account is permitted to trust a system domain that trusts
    other domains. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.WORKSTATION_TRUST_ACCOUNT
  description: Whether this is a computer account for a computer running Microsoft
    Windows NT 4.0 Workstation, Microsoft Windows NT 4.0 Server, Microsoft Windows
    2000 Professional, or Windows 2000 Server and is a member of this domain.
- contextPath: ActiveDirectory.Users.userAccountControlFields.SERVER_TRUST_ACCOUNT
  description: Whether this is a computer account for a domain controller that is
    a member of this domain. Works for *Windows Server 2012 R2*.
- contextPath: ActiveDirectory.Users.userAccountControlFields.DONT_EXPIRE_PASSWORD
  description: Whether to never expire the password on the account.
- contextPath: ActiveDirectory.Users.userAccountControlFields.MNS_LOGON_ACCOUNT
  description: Whether this is an MNS login account.
- contextPath: ActiveDirectory.Users.userAccountControlFields.SMARTCARD_REQUIRED
  description: Whether to force the user to log in by using a smart card.
- contextPath: ActiveDirectory.Users.userAccountControlFields.TRUSTED_FOR_DELEGATION
  description: Whether the service account (the user or computer account) under which
    a service runs is trusted for Kerberos delegation.
- contextPath: ActiveDirectory.Users.userAccountControlFields.NOT_DELEGATED
  description: Whether the security context of the user isn't delegated to a service
    even if the service account is set as trusted for Kerberos delegation.
- contextPath: ActiveDirectory.Users.userAccountControlFields.USE_DES_KEY_ONLY
  description: Whether to restrict this principal to use only Data Encryption Standard
    (DES) encryption types for keys.
- contextPath: ActiveDirectory.Users.userAccountControlFields.DONT_REQ_PREAUTH
  description: Whether this account require Kerberos pre-authentication for logging
    on.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PASSWORD_EXPIRED
  description: Whether the user password expired.
- contextPath: ActiveDirectory.Users.userAccountControlFields.TRUSTED_TO_AUTH_FOR_DELEGATION
  description: Whether the account is enabled for delegation.
- contextPath: ActiveDirectory.Users.userAccountControlFields.PARTIAL_SECRETS_ACCOUNT
  description: Whether the account is a read-only domain controller (RODC).
- contextPath: ActiveDirectory.UsersPageCookie
  description: An opaque string received in a paged search, used for requesting subsequent
    entries.
- contextPath: Account.DisplayName
  description: The user display name.
- contextPath: Account.Groups
  description: Groups for which the user is a member.
- contextPath: Account.Manager
  description: The user manager.
- contextPath: Account.ID
  description: The user distinguished name.
- contextPath: Account.Username
  description: The user samAccountName.
- contextPath: Account.Email
  description: The user email address.
- contextPath: ActiveDirectory.Users.mail
  description: The user email address.
- contextPath: Account.Email.Address
  description: The Email account full address
  type: string
- contextPath: Account.Email.Distance
  description: The email address distance compare to the domains in query.
  type: number
- contextPath: DBotScore.Indicator
  description: The Indicator.
  type: string
- contextPath: DBotScore.Type
  description: The Indicator Type.
  type: string
- contextPath: DBotScore.Vendor
  description: The DBot score vendor.
  type: string
- contextPath: DBotScore.Score
  description: The DBot score.
  type: number
- contextPath: DBotScore.Reliability
  description: The actual score.
- contextPath: Email.Relationships.EntityA
  description: The source of the relationship.
- contextPath: Email.Relationships.EntityB
  description: The destination of the relationship.
- contextPath: Email.Relationships.Relationship
  description: The name of the relationship.
- contextPath: Email.Relationships.EntityAType
  description: The type of the source of the relationship.
- contextPath: Email.Relationships.EntityBType
  description: The type of the destination of the relationship.
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 22a55a7c-c942-4d12-84fb-76bce3695b83
      iscommand: false
      name: ""
      version: -1
    taskid: 22a55a7c-c942-4d12-84fb-76bce3695b83
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 497.5,
          "y": 120
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: entry.contents:${Account.Username}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8970ccc7-3ca4-4f5a-879e-f9d0c07c3e5b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 8970ccc7-3ca4-4f5a-879e-f9d0c07c3e5b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 497.5,
          "y": 1310
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Email
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines whether the playbook's input contains at least one email
        address.
      id: dce4e3b8-0986-4a8c-8436-0602977d9f8c
      iscommand: false
      name: Are there email addresses to check?
      type: condition
      version: -1
    taskid: dce4e3b8-0986-4a8c-8436-0602977d9f8c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 497.5,
          "y": 250
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
      - "14"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      domain:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
      email:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Email
              operator: isNotEmpty
          root: inputs.Email
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Adds a NetworkType attribute to all email addresses. The NetworkType
        attribute determines whether the email address is an internal or external
        email address, according to the domains that were passed as arguments to this
        playbook.
      id: 41284223-6f2e-44de-82a4-c8e096a3cdc4
      iscommand: false
      name: Classify email addresses as internal or external
      script: IsEmailAddressInternal
      type: regular
      version: -1
    taskid: 41284223-6f2e-44de-82a4-c8e096a3cdc4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 497.5,
          "y": 450
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1a9686bb-e22f-46a7-8f5e-adf7acffdf3b
      iscommand: false
      name: Internal
      type: title
      version: -1
    taskid: 1a9686bb-e22f-46a7-8f5e-adf7acffdf3b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 102.5,
          "y": 790
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7874c1a7-0bae-43cc-8f13-9234c337f491
      iscommand: false
      name: External
      type: title
      version: -1
    taskid: 7874c1a7-0bae-43cc-8f13-9234c337f491
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 790
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      email:
        complex:
          accessor: Address
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Account.Email.NetworkType
              operator: isEqualString
              right:
                value:
                  simple: Internal
          root: Account.Email
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Uses Active Directory to get user information for internal email
        addresses.
      id: e3b298d5-cb30-4440-803e-596597adcc10
      iscommand: true
      name: Get email address info from Active Directory
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: e3b298d5-cb30-4440-803e-596597adcc10
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 102.5,
          "y": 1135
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          accessor: Email
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Account.Email.NetworkType
              operator: isEqualString
              right:
                value:
                  simple: External
          root: Account
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there are email addresses with a NetworkType attribute
        value of "External".
      id: 4dbbbdb8-0102-445f-8fc3-d3ed70c32aa3
      iscommand: false
      name: Are there any external email addresses?
      script: Exists
      type: condition
      version: -1
    taskid: 4dbbbdb8-0102-445f-8fc3-d3ed70c32aa3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 620
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          accessor: Email
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Account.Email.NetworkType
              operator: isEqualString
              right:
                value:
                  simple: Internal
          root: Account
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there are email addresses with a NetworkType attribute
        value of "Internal".
      id: 4bb4197a-cd13-41a6-8882-b8e6c51312c3
      iscommand: false
      name: Are there any internal email addresses?
      script: Exists
      type: condition
      version: -1
    taskid: 4bb4197a-cd13-41a6-8882-b8e6c51312c3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 102.5,
          "y": 620
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      domain:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Domain
              operator: isNotEmpty
          root: inputs.Domain
          transformers:
          - operator: uniq
      email:
        complex:
          accessor: Email
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEmpty
          root: Account
          transformers:
          - args:
              equalTo:
                value:
                  simple: External
              field:
                value:
                  simple: NetworkType
              getField:
                value:
                  simple: Address
              stringify:
                value:
                  simple: "false"
            operator: WhereFieldEquals
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if an email address's domain is trying to squat other domains
        using Levenshtein distance algorithm.
      id: 9b9a97f6-c855-4d4e-8047-f0306f006a5f
      iscommand: false
      name: Check email addresses for domain-squatting
      script: EmailDomainSquattingReputation
      type: regular
      version: -1
    taskid: 9b9a97f6-c855-4d4e-8047-f0306f006a5f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 710.5,
          "y": 1135
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          accessor: brand
          filters:
          - - left:
                iscontext: true
                value:
                  simple: modules.brand
              operator: isEqualString
              right:
                value:
                  simple: Active Directory Query v2
          - - left:
                iscontext: true
                value:
                  simple: modules.state
              operator: isEqualString
              right:
                value:
                  simple: active
          root: modules
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there's an active instance of the Active Directory Query
        v2 integration enabled.
      id: bc59d675-c18d-44ac-878f-bdc8dc7c578e
      iscommand: false
      name: Is Active Directory Query v2 enabled?
      script: Exists
      type: condition
      version: -1
    taskid: bc59d675-c18d-44ac-878f-bdc8dc7c578e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 102.5,
          "y": 930
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.Domain
              operator: isNotEmpty
          root: inputs.Domain
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is at least one domain to check for domain-squatting.
      id: 82034885-dcb2-4c4a-8fa7-1c1514c27e46
      iscommand: false
      name: Is there a domain list input?
      script: Exists
      type: condition
      version: -1
    taskid: 82034885-dcb2-4c4a-8fa7-1c1514c27e46
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 710.5,
          "y": 930
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 358de9fa-efe5-47c2-801f-7c85db0d408b
      iscommand: false
      name: No Email Addresses
      type: title
      version: -1
    taskid: 358de9fa-efe5-47c2-801f-7c85db0d408b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -220,
          "y": 465
        }
      }
  "21":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UseReputationCommand
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if should run email address reputation command
      id: 047c804f-cc74-4eb3-8ea5-7776e5827088
      iscommand: false
      name: Should use !email command?
      type: condition
      version: -1
    taskid: 047c804f-cc74-4eb3-8ea5-7776e5827088
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1110,
          "y": 930
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      email:
        complex:
          accessor: Address
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Account.Email.NetworkType
              operator: isEqualString
              right:
                value:
                  simple: External
          root: Account.Email
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Checks if an email address was compromised.
      id: 156ef5ee-88a6-4fd7-8636-b6e9c678f5e3
      iscommand: true
      name: Check Reputation
      script: '|||email'
      type: regular
      version: -1
    taskid: 156ef5ee-88a6-4fd7-8636-b6e9c678f5e3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 1135
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_11_yes": 0.64,
      "13_4_#default#": 0.25,
      "14_10_yes": 0.65,
      "14_4_#default#": 0.17,
      "17_4_#default#": 0.55,
      "18_4_#default#": 0.25,
      "21_4_#default#": 0.13,
      "5_20_#default#": 0.35
    },
    "paper": {
      "dimensions": {
        "height": 1255,
        "width": 1720,
        "x": -220,
        "y": 120
      }
    }
  }
