playbook/playbook-PAN-OS_Query_Logs_For_Indicators.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.2.0
    itemVersion: 2.1.4
    packID: PAN-OS
    packName: PAN-OS by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: 'This playbook queries the following PAN-OS log types: traffic, threat,
  url, data-filtering and wildfire. The playbook accepts inputs such as IP. hash,
  and url.'
id: PAN-OS Query Logs For Indicators
inputs:
- description: 'URL, for example: "safebrowsing.googleapis.com".'
  key: url
  playbookInputQuery: null
  required: false
  value: {}
- description: File hash (for WildFire logs only).
  key: filedigest
  playbookInputQuery: null
  required: false
  value: {}
- description: Source or destination address
  key: ip
  playbookInputQuery: null
  required: false
  value: {}
name: PAN-OS Query Logs For Indicators
outputs:
- contextPath: Panorama.Monitor
  description: Monitor logs object.
  type: string
- contextPath: Panorama.Monitor.Logs.Action
  description: Action taken for the session. Can be "alert", "allow", "deny", "drop",
    "drop-all-packets", "reset-client", "reset-server", "reset-both", or "block-url".
  type: string
- contextPath: Panorama.Monitor.Logs.Application
  description: Application associated with the session.
  type: string
- contextPath: Panorama.Monitor.Logs.Category
  description: For URL subtype, it is the URL category; For WildFire subtype, it is
    the verdict on the file and is either ‘malicious’, ‘phishing’, ‘grayware’, or
    ‘benign’; For other subtypes, the value is ‘any’.
  type: string
- contextPath: Panorama.Monitor.Logs.DeviceName
  description: The hostname of the firewall on which the session was logged.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationAddress
  description: Original session destination IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationUser
  description: Username of the user to which the session was destined.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationCountry
  description: Destination country or internal region for private addresses. Maximum
    length is 32 bytes.
  type: string
- contextPath: Panorama.Monitor.Logs.DestinationPort
  description: Destination port utilized by the session.
  type: string
- contextPath: Panorama.Monitor.Logs.FileDigest
  description: |-
    Only for WildFire subtype; all other types do not use this field.
    The filedigest string shows the binary hash of the file sent to be analyzed by the WildFire service.
  type: string
- contextPath: Panorama.Monitor.Logs.FileName
  description: |-
    File name or file type when the subtype is file.
    File name when the subtype is virus.
    File name when the subtype is wildfire-virus.
    File name when the subtype is wildfire.
  type: string
- contextPath: Panorama.Monitor.Logs.FileType
  description: |-
    Only for the WildFire subtype; all other types do not use this field.
    Specifies the type of file that the firewall forwarded for WildFire analysis.
  type: string
- contextPath: Panorama.Monitor.Logs.FromZone
  description: Zone the session was sourced from.
  type: string
- contextPath: Panorama.Monitor.Logs.URLOrFilename
  description: |-
    The actual URI when the subtype is url.
    File name or file type when the subtype is file.
    File name when the subtype is virus.
    File name when the subtype is wildfire-virus.
    File name when the subtype is wildfire.
    URL or file name when the subtype is vulnerability if applicable.
  type: string
- contextPath: Panorama.Monitor.Logs.NATDestinationIP
  description: If destination NAT performed, the post-NAT destination IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.NATDestinationPort
  description: Post-NAT destination port.
  type: string
- contextPath: Panorama.Monitor.Logs.NATSourceIP
  description: If source NAT performed, the post-NAT source IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.NATSourcePort
  description: Post-NAT source port.
  type: string
- contextPath: Panorama.Monitor.Logs.PCAPid
  description: The packet capture (pcap) ID is a 64 bit unsigned integral denoting
    an ID to correlate threat pcap files with extended pcaps taken as a part of that
    flow. All threat logs will contain either a pcap_id of 0 (no associated pcap),
    or an ID referencing the extended pcap file.
  type: string
- contextPath: Panorama.Monitor.Logs.IPProtocol
  description: IP protocol associated with the session.
  type: string
- contextPath: Panorama.Monitor.Logs.Recipient
  description: |-
    Only for the WildFire subtype; all other types do not use this field.
    Specifies the name of the receiver of an email that WildFire determined to be malicious when analyzing an email link forwarded by the firewall.
  type: string
- contextPath: Panorama.Monitor.Logs.Rule
  description: Name of the rule that the session matched.
  type: string
- contextPath: Panorama.Monitor.Logs.RuleID
  description: ID of the rule that the session matched.
  type: string
- contextPath: Panorama.Monitor.Logs.ReceiveTime
  description: Time the log was received at the management plane.
  type: string
- contextPath: Panorama.Monitor.Logs.Sender
  description: |-
    Only for the WildFire subtype; all other types do not use this field.
    Specifies the name of the sender of an email that WildFire determined to be malicious when analyzing an email link forwarded by the firewall.
  type: string
- contextPath: Panorama.Monitor.Logs.SessionID
  description: An internal numerical identifier applied to each session.
  type: string
- contextPath: Panorama.Monitor.Logs.DeviceSN
  description: The serial number of the firewall on which the session was logged.
  type: string
- contextPath: Panorama.Monitor.Logs.Severity
  description: Severity associated with the threat. Can be "informational", "low",
    "medium", "high", or "critical".
  type: string
- contextPath: Panorama.Monitor.Logs.SourceAddress
  description: Original session source IP address.
  type: string
- contextPath: Panorama.Monitor.Logs.SourceCountry
  description: Source country or internal region for private addresses. Maximum length
    is 32 bytes.
  type: string
- contextPath: Panorama.Monitor.Logs.SourceUser
  description: Username of the user who initiated the session.
  type: string
- contextPath: Panorama.Monitor.Logs.SourcePort
  description: Source port utilized by the session.
  type: string
- contextPath: Panorama.Monitor.Logs.Name
  description: Palo Alto Networks identifier for the threat. It is a description string
    followed by a 64-bit numerical identifier.
  type: string
- contextPath: Panorama.Monitor.Logs.ID
  description: Palo Alto Networks ID for the threat.
  type: string
- contextPath: Panorama.Monitor.Logs.ToZone
  description: The zone to which the session was destined.
  type: string
- contextPath: Panorama.Monitor.Logs.TimeGenerated
  description: Time that the log was generated on the dataplane.
  type: string
- contextPath: Panorama.Monitor.Logs.URLCategoryList
  description: A list of the URL filtering categories that the firewall used to enforce
    policy.
  type: string
- contextPath: Panorama.Monitor.JobID
  description: Job ID of the logs query.
- contextPath: Panorama.Monitor.Status
  description: Status of the logs query.
  type: string
- contextPath: Panorama.Monitor.Message
  description: Message  of the logs query.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Start
      id: 4c6e6664-2b4a-436c-83fa-3e379c606404
      iscommand: false
      name: ""
      version: -1
    taskid: 4c6e6664-2b4a-436c-83fa-3e379c606404
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 40,
          "y": -260
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "11"
      - "20"
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a valid instance of the Palo Alto Networks PAN-OS.
        integration enabled.
      id: 46712325-47fc-42d4-8934-37612d712661
      iscommand: false
      name: Is Palo Alto Networks PAN-OS enabled?
      type: condition
      version: -1
    taskid: 46712325-47fc-42d4-8934-37612d712661
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 40,
          "y": -60
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: traffic
      polling:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs.
      id: 3a72fc10-d362-4036-8912-4d03828cc863
      iscommand: true
      name: Panorama query traffic logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: 3a72fc10-d362-4036-8912-4d03828cc863
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 420,
          "y": 610
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Header
      id: d69222cb-a986-4d52-8f73-f020b67ef103
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d69222cb-a986-4d52-8f73-f020b67ef103
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1110
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: threat
      polling:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs
      id: 1997c25a-56ad-4648-870d-3f9687ef7c3d
      iscommand: true
      name: Panorama query threat logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: 1997c25a-56ad-4648-870d-3f9687ef7c3d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 610
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Header
      id: f0295d6d-ca7b-4da7-84e2-6a4534187c98
      iscommand: false
      name: IP search
      type: title
      version: -1
    taskid: f0295d6d-ca7b-4da7-84e2-6a4534187c98
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 350,
          "y": 110
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ip
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "2"
      - "9"
      - "14"
      - "17"
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an IP?
      id: 1a8ee268-d796-4441-87f3-6d39648ab2f1
      iscommand: false
      name: Is there an IP address?
      type: condition
      version: -1
    taskid: 1a8ee268-d796-4441-87f3-6d39648ab2f1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 350,
          "y": 240
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: wildfire
      polling:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs.
      id: 13876f73-0e2c-4331-85a0-e81ecf17bd6a
      iscommand: true
      name: Panorama query wildfire logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: 13876f73-0e2c-4331-85a0-e81ecf17bd6a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 610
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: data
      polling:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs.
      id: c57dc9bd-13b7-4a3f-8dc8-86ec5ddf4570
      iscommand: true
      name: Panorama query data logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: c57dc9bd-13b7-4a3f-8dc8-86ec5ddf4570
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1650,
          "y": 610
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        complex:
          root: inputs.ip
      log-type:
        simple: url
      polling:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs
      id: 3f931dd2-9f60-4889-8cba-2a1be49a7b8c
      iscommand: true
      name: Panorama query url logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: 3f931dd2-9f60-4889-8cba-2a1be49a7b8c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2050,
          "y": 610
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Header
      id: cee28744-b9b4-498c-86d4-080aae03e0d7
      iscommand: false
      name: Hash Search
      type: title
      version: -1
    taskid: cee28744-b9b4-498c-86d4-080aae03e0d7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -290,
          "y": 110
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.filedigest
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a hash?
      id: 3e4145cb-b2cb-4055-841f-cd0f9aebfeda
      iscommand: false
      name: Is there a hash?
      type: condition
      version: -1
    taskid: 3e4145cb-b2cb-4055-841f-cd0f9aebfeda
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -290,
          "y": 240
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      filedigest:
        complex:
          root: inputs.filedigest
      log-type:
        simple: wildfire
      polling:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs
      id: 9903cdd2-6896-4936-8dc4-fb397d046000
      iscommand: true
      name: Panorama query wildfire logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: 9903cdd2-6896-4936-8dc4-fb397d046000
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -190,
          "y": 860
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Header
      id: d931076b-f81a-4714-8d4a-d6dea69249ff
      iscommand: false
      name: Url search
      type: title
      version: -1
    taskid: d931076b-f81a-4714-8d4a-d6dea69249ff
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 110
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.url
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "30"
      - "32"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a url?
      id: b9be6fea-a396-4e1c-8fdd-adc32ad3c1ca
      iscommand: false
      name: Is there a url?
      type: condition
      version: -1
    taskid: b9be6fea-a396-4e1c-8fdd-adc32ad3c1ca
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 240
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      log-type:
        simple: threat
      polling:
        simple: "true"
      url:
        complex:
          root: inputs.url
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs
      id: abaf43ab-272a-485c-88a7-95ef5e352794
      iscommand: true
      name: Panorama query threat logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: abaf43ab-272a-485c-88a7-95ef5e352794
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2100,
          "y": 610
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      log-type:
        simple: data
      polling:
        simple: "true"
      url:
        complex:
          root: inputs.url
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs.
      id: 121e065b-b639-4b16-8569-c6b79d4201fc
      iscommand: true
      name: Panorama query data logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: 121e065b-b639-4b16-8569-c6b79d4201fc
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1270,
          "y": 610
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      log-type:
        simple: url
      polling:
        simple: "true"
      url:
        complex:
          root: inputs.url
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Query logs.
      id: ca130c36-c309-4b73-8bee-174a13a5a55a
      iscommand: true
      name: Panorama query url logs
      script: '|||pan-os-query-logs'
      type: regular
      version: -1
    taskid: ca130c36-c309-4b73-8bee-174a13a5a55a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1680,
          "y": 610
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_5_#default#": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 1435,
        "width": 4530,
        "x": -2100,
        "y": -260
      }
    }
  }
