playbook/playbook-Extract_Indicators_From_File_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.6.3
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook extracts indicators from a file.
  Supported file types:
  - CSV
  - PDF
  - TXT
  - HTM, HTML
  - DOC, DOCX
  - PPT
  - PPTX
  - RTF
  - XLS
  - XLSX
  - XML
  - XLSM
  - DOCM
  - PPTM
  - DOTM
  - XLSB
  - DOT
  - PPSM.
id: Extract Indicators From File - Generic v2
inputs:
- description: The file to extract indicators from.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: true
  required: false
  value: {}
- description: |-
    Available values: "True" or "False". Default is "False"
    When this is set to "True", in case a macro was found within the file (using oletools), it will output all the obfuscated strings with their decoded content (Hex, Base64, StrReverse, Dridex, VBA).
  key: Decode
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    The maximum number of images that can be extracted from a PDF file.
    We recommend setting a low number if you don't need all images extracted from PDF files.
    If no value is specified, a default of 20 will be used.
  key: MaxImagesFromPDF
  playbookInputQuery: null
  required: false
  value:
    simple: "10"
name: Extract Indicators From File - Generic v2
outputs:
- contextPath: Domain.Name
  description: The extracted domains.
  type: string
- contextPath: Account.Email.Address
  description: The extracted email addresses.
  type: string
- contextPath: File.MD5
  description: The extracted MD5 hash.
  type: string
- contextPath: File.SHA1
  description: The extracted SHA1 hash.
  type: string
- contextPath: File.SHA256
  description: The extracted SHA256 hash.
  type: string
- contextPath: IP.Address
  description: The extracted IP addresses.
  type: string
- contextPath: File.Text
  description: The text or images extracted from the PDF file.
  type: string
- contextPath: File.Producer
  description: The PDF file producer.
  type: string
- contextPath: File.Title
  description: The title of the PDF file.
  type: string
- contextPath: File.xap
  description: The XAP of the PDF file.
  type: string
- contextPath: File.Author
  description: The author of the file.
  type: string
- contextPath: File.dc
  description: The DC of the file.
  type: string
- contextPath: File.xapmm
  description: The XAPMM of the file.
  type: string
- contextPath: File.ModDate
  description: The mod date of the file.
  type: string
- contextPath: File.CreationDate
  description: The creation date of the file.
  type: string
- contextPath: File.Pages
  description: The number of pages in the file.
  type: string
- contextPath: URL.Data
  description: The list of URLs that were extracted from the file.
  type: string
- contextPath: ExtractedURLsFromFiles
  description: The list of URLs that were extracted from the file. This output is
    a duplicate of the URL.Data output and it enables parent playbooks to identify
    the URLs generated by this playbook.
  type: String
- contextPath: Oletools.Oleid.ole_command_result
  description: Indicator list from the oleid command.
  type: string
- contextPath: Oletools.Oleid.file_name
  description: File name.
  type: string
- contextPath: Oletools.Oleid.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format
  description: Indicator file format.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format
  description: Indicator container format.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted
  description: Indicator encrypted.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros
  description: Indicator VBA macros.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros
  description: Indicator XLM macros.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships
  description: Indicator external relationships.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool
  description: Indicator object pool.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects
  description: Indicator flash objects.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Value
  description: Indicator file format value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Ole_Risk
  description: Indicator file format OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Description
  description: Indicator file format description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Value
  description: Indicator container format value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Ole_Risk
  description: Indicator container format OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Description
  description: Indicator container format description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Value
  description: Indicator encrypted value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Ole_Risk
  description: Indicator encrypted OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Description
  description: Indicator encrypted description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Value
  description: Indicator VBA macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Ole_Risk
  description: Indicator VBA macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Description
  description: Indicator VBA macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Value
  description: Indicator XLM macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Ole_Risk
  description: Indicator XLM macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Description
  description: Indicator XLM macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Value
  description: Indicator XLM macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Ole_Risk
  description: Indicator XLM macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Description
  description: Indicator XLM macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Value
  description: Indicator object pool value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Ole_Risk
  description: Indicator object pool OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Description
  description: Indicator object pool description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Value
  description: Indicator Flash objects value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Ole_Risk
  description: Indicator Flash objects OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Description
  description: Indicator Flash objects description.
  type: string
- contextPath: Oletools.Oleobj.ole_command_result.hyperlinks
  description: List of hyperlinks.
  type: string
- contextPath: Oletools.Oleobj.file_name
  description: File name.
  type: string
- contextPath: Oletools.Oleobj.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Olevba.file_name
  description: File name.
  type: string
- contextPath: Oletools.Olevba.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_analyze
  description: Macro analyze.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_src_code
  description: Macro source code.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_list
  description: Macro list.
  type: string
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Vendor
  description: The vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: number
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c33ca9eb-1ff3-450a-8c2d-b9aa72f7f771
      iscommand: false
      name: ""
      version: -1
    taskid: c33ca9eb-1ff3-450a-8c2d-b9aa72f7f771
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 915,
          "y": -10
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Checks if there is a file in the playbook input.
      id: ea98aae7-5a6e-4eab-8348-4cb62716a5f7
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: ea98aae7-5a6e-4eab-8348-4cb62716a5f7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 915,
          "y": 120
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7cbad10d-b188-4999-8c0f-aad2a33000b3
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 7cbad10d-b188-4999-8c0f-aad2a33000b3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 915,
          "y": 1410
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "7"
      - "9"
      - "15"
      - "20"
      - "21"
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7697255d-fcab-4619-8a3d-bfa51bc758d9
      iscommand: false
      name: Extract Indicators From Files
      type: title
      version: -1
    taskid: 7697255d-fcab-4619-8a3d-bfa51bc758d9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 915,
          "y": 295
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Rich Text Format
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: UTF-8 Unicode text
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: news or mail
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document, No summary info
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: text/rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xml
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: message/rfc822
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: p7m
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a text-based file in context. Skips MSG and
        EML files.
      id: b3bc875f-d706-4180-802b-238c7d29381e
      iscommand: false
      name: Is there a text-based file?
      type: condition
      version: -1
    taskid: b3bc875f-d706-4180-802b-238c7d29381e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 112.5,
          "y": 460
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: ASCII text
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Rich Text Format
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: UTF-8 Unicode
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: news or mail
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document, No summary info
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: text/rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: notContainsGeneral
              right:
                value:
                  simple: xml
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: message/rfc822
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from text-based files.
      id: 4ba573d4-5094-4e80-883b-a3b84ed21791
      iscommand: false
      name: Extract indicators from text-based file
      script: ExtractIndicatorsFromTextFile
      type: regular
      version: -1
    taskid: 4ba573d4-5094-4e80-883b-a3b84ed21791
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 112.5,
          "y": 720
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a PDF file in context.
      id: 0e5716b4-d88b-45dc-8aa4-c68a6dbf2df6
      iscommand: false
      name: Is there a PDF file?
      type: condition
      version: -1
    taskid: 0e5716b4-d88b-45dc-8aa4-c68a6dbf2df6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 460
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsString
              right:
                value:
                  simple: pdf
          root: inputs.File
          transformers:
          - args:
              item:
                value:
                  simple: ${File(val.Info=="application/pdf").EntryID}
              raw: {}
            operator: AppendIfNotEmpty
          - operator: uniq
      maxImages:
        complex:
          root: inputs.MaxImagesFromPDF
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load a PDF file's content and metadata into context.
      id: da76292f-3f94-4097-857d-1ddc6d3828d4
      iscommand: false
      name: Extract indicators from PDF file
      script: ReadPDFFileV2
      type: regular
      version: -1
    taskid: da76292f-3f94-4097-857d-1ddc6d3828d4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1320,
          "y": 720
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Word
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsString
                    right:
                      value:
                        simple: CDFV2
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xls
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsx
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Excel
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: ppt
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: pptx
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsm
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: docm
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: oft
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: oft
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: 884b6c9a-7e2f-467c-8b05-5f711bf59686
      iscommand: false
      name: Is there a Word file?
      type: condition
      version: -1
    taskid: 884b6c9a-7e2f-467c-8b05-5f711bf59686
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": 460
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd5234cd-bca5-49c3-844e-478ec0e69f2a
      iscommand: false
      name: No File To Parse
      type: title
      version: -1
    taskid: bd5234cd-bca5-49c3-844e-478ec0e69f2a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -555,
          "y": 735
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Composite Document File V2 Document
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Word
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: docx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xls
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsx
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: notContainsString
              right:
                value:
                  simple: Excel
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: ppt
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: pptx
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotExists
            - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsm
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: oft
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: oft
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: b2cbcfd1-04a0-43cb-88ed-712c131d53e5
      iscommand: false
      name: Extract indicators from Word file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: b2cbcfd1-04a0-43cb-88ed-712c131d53e5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 720
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Image OCR
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the Image OCR integration.
        enabled.
      id: fc037219-4b91-402f-8ad8-dc099bc2e67b
      iscommand: false
      name: Is Image OCR enabled?
      type: condition
      version: -1
    taskid: fc037219-4b91-402f-8ad8-dc099bc2e67b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2150,
          "y": 720
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts text from PNG, JPEG, and GIF image files, and uses auto-extract
        to get reputation for indicators.
      id: 67aa8abc-03b8-4df4-8d81-75ba4b4f0521
      iscommand: true
      name: Extract text from images
      script: '|||image-ocr-extract-text'
      type: regular
      version: -1
    taskid: 67aa8abc-03b8-4df4-8d81-75ba4b4f0521
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2150,
          "y": 1040
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: ppt
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: pptx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: rtf
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xls
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xlsx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: xml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-powerpoint
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-excel
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                  - left:
                      iscontext: true
                      value:
                        simple: inputs.File
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xlsb
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Checks if one of the following file types exists:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: fe69f8c7-5257-4b62-8ddd-a82a514bdc44
      iscommand: false
      name: Is there another supported document type?
      type: condition
      version: -1
    taskid: fe69f8c7-5257-4b62-8ddd-a82a514bdc44
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 460
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all_files:
        simple: "yes"
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: ppt
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: pptx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: rtf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: xls
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: isEqualString
              right:
                value:
                  simple: xlsx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: xml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-powerpoint
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-excel
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Info
              operator: containsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: notContainsGeneral
              right:
                value:
                  simple: xlsb
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Converts the following formats to PDF format:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 7f3736b6-092c-4c5d-878d-1d1fb71ae749
      iscommand: false
      name: Convert a document to PDF
      script: ConvertFile
      type: regular
      version: -1
    taskid: 7f3736b6-092c-4c5d-878d-1d1fb71ae749
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1740,
          "y": 720
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedURLsFromFiles
      value:
        complex:
          accessor: Data
          root: URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Extracts URLs from files and stores them under the "ExtractedURLsFromFiles" key in the playbook output.
        Parent playbooks can use this key to indicate which URLs were extracted.
      id: 44ff2241-eeb3-4b0b-831f-79543662820f
      iscommand: false
      name: Set ExtractedURLsFromFiles
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 44ff2241-eeb3-4b0b-831f-79543662820f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 915,
          "y": 1230
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      Decode:
        complex:
          root: inputs.Decode
      FileObject:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.EntryID
              operator: isNotEmpty
          root: inputs.File
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Oletools is a tool for analyzing Microsoft OLE2 files, such as Microsoft Office documents or Outlook messages, mainly for malware analysis, forensics, and debugging.
        This playbook will run run the "oleid" command on the files which are passed to to it as playbook inputs. In case any macros or external relationships were found, it will also run "olevba" and "oleobj" commands as well on the relevant files.
        oleid - Analyze OLE files to detect specific characteristics usually found in malicious files.
        oleobj - Extract embedded objects from OLE files.
        olevba - Extract and analyze VBA Macro source code from MS Office documents (OLE and OpenXML).
      id: 31a1d53b-2b50-490f-8bb7-1d6f112ac92f
      iscommand: false
      name: Microsoft Office File Enrichment - Oletools
      playbookName: Microsoft Office File Enrichment - Oletools
      type: playbook
      version: -1
    taskid: 31a1d53b-2b50-490f-8bb7-1d6f112ac92f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -290,
          "y": 460
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the uploaded file is a valid image file.
      id: f561dd7e-9772-489e-8be2-af2e0d87844f
      iscommand: false
      name: Is there an image file?
      type: condition
      version: -1
    taskid: f561dd7e-9772-489e-8be2-af2e0d87844f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2150,
          "y": 460
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Type
              operator: containsString
              right:
                value:
                  simple: Zip archive data
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: inputs.File.Extension
              operator: isEqualString
              right:
                value:
                  simple: docx
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: a9713787-fe05-4ba6-8b99-b8980598b0dd
      iscommand: false
      name: Extract indicators from docx file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: a9713787-fe05-4ba6-8b99-b8980598b0dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 915,
          "y": 720
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Zip archive data
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: inputs.File.Extension
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                root: inputs.File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: 6a194cfc-0af6-4776-8290-28b7deb60579
      iscommand: false
      name: Is there a Word docx file?
      type: condition
      version: -1
    taskid: 6a194cfc-0af6-4776-8290-28b7deb60579
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 915,
          "y": 460
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_19_#default#": 0.14,
      "15_10_#default#": 0.11,
      "15_16_yes": 0.38,
      "1_10_#default#": 0.17,
      "21_10_#default#": 0.1,
      "23_10_#default#": 0.14,
      "23_22_yes": 0.43,
      "5_10_#default#": 0.33,
      "5_6_yes": 0.36,
      "7_10_#default#": 0.15,
      "7_8_yes": 0.38,
      "9_10_#default#": 0.18,
      "9_11_yes": 0.35
    },
    "paper": {
      "dimensions": {
        "height": 1485,
        "width": 3085,
        "x": -555,
        "y": -10
      }
    }
  }
