playbook/playbook-Entity_Enrichment_-_Generic_v3.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.4.13
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Enrich entities using one or more integrations.
id: Entity Enrichment - Generic v3
inputs:
- description: The IP addresses to enrich
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Address
      root: IP
      transformers:
      - operator: uniq
- description: 'A list of internal IP ranges to check IP addresses against. The list
    should be provided in CIDR notation, separated by commas. An example of a list
    of ranges would be: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes).
    If a list is not provided, will use default list provided in the IsIPInRanges
    script (the known IPv4 private address ranges).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: File MD5 to enrich
  key: MD5
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: MD5
      root: File
      transformers:
      - operator: uniq
- description: File SHA256 to enrich
  key: SHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA256
      root: File
      transformers:
      - operator: uniq
- description: File SHA1 to enrich
  key: SHA1
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: SHA1
      root: File
      transformers:
      - operator: uniq
- description: URL to enrich
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Data
      root: URL
      transformers:
      - operator: uniq
- description: The email addresses to enrich
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Email.Address
      root: Account
      transformers:
      - operator: uniq
- description: The hostname to enrich
  key: Hostname
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Hostname
      root: Endpoint
      transformers:
      - operator: uniq
- description: The username to enrich
  key: Username
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Username
      root: Account
      transformers:
      - operator: uniq
- description: The domain name to enrich
  key: Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: Name
      root: Domain
      transformers:
      - operator: uniq
- description: Determines whether the IP Enrichment - Generic playbook should convert
    IP addresses to hostnames using a DNS query. True - Resolves the IP addresses
    to hostnames. False - Does not resolve the IP addresses to hostnames.
  key: ResolveIP
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: A CSV list of internal domains. The list will be used to determine
    whether an email address is internal or external.
  key: InternalDomains
  playbookInputQuery: null
  required: false
  value: {}
- description: CVE ID to enrich.
  key: CVE
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: ID
      root: CVE
- description: |-
    Whether to verify SSL certificates for URLs.
    Can be True or False.
  key: URLSSLVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: Entity Enrichment - Generic v3
outputs:
- contextPath: IP
  description: The IP object.
  type: unknown
- contextPath: Endpoint
  description: The endpoint object.
  type: unknown
- contextPath: Endpoint.Hostname
  description: The hostname that was enriched.
  type: string
- contextPath: Endpoint.OS
  description: The endpoint's operating system.
  type: string
- contextPath: Endpoint.IP
  description: A list of endpoint IP addresses.
- contextPath: Endpoint.MAC
  description: A list of endpoint MAC addresses.
- contextPath: Endpoint.Domain
  description: The endpoint domain name.
  type: string
- contextPath: DBotScore
  description: The DBotScore object.
  type: unknown
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Vendor
  description: Vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: number
- contextPath: File
  description: The file object.
  type: unknown
- contextPath: File.SHA1
  description: SHA1 hash of the file.
  type: string
- contextPath: File.SHA256
  description: SHA256 hash of the file.
  type: string
- contextPath: File.MD5
  description: MD5 hash of the file.
  type: string
- contextPath: File.Malicious
  description: Whether the file is malicious.
  type: unknown
- contextPath: File.Malicious.Vendor
  description: For malicious files, the vendor that made the decision.
  type: string
- contextPath: URL
  description: The URL object.
  type: uknown
- contextPath: URL.Data
  description: The enriched URL.
  type: string
- contextPath: URL.Malicious
  description: Whether the detected URL was malicious.
  type: unknown
- contextPath: URL.Vendor
  description: Vendor that labeled the URL as malicious.
  type: string
- contextPath: URL.Description
  description: Additional information for the URL.
  type: string
- contextPath: Domain
  description: The domain object.
  type: unknown
- contextPath: Account
  description: The account object.
  type: unknown
- contextPath: Account.Email
  description: The email of the account.
  type: unknown
- contextPath: Account.Email.NetworkType
  description: The email account NetworkType (Internal/External).
  type: string
- contextPath: Account.Email.Distance
  description: 'The object that contains the distance between the email domain and
    the compared domain. '
  type: unknown
- contextPath: Account.Email.Distance.Domain
  description: The compared domain.
  type: string
- contextPath: Account.Email.Distance.Value
  description: 'The distance between the email domain and the compared domain. '
  type: number
- contextPath: ActiveDirectory.Users
  description: An object containing information about the user from Active Directory.
  type: unknown
- contextPath: ActiveDirectory.Users.sAMAccountName
  description: The user's samAccountName.
- contextPath: ActiveDirectory.Users.userAccountControl
  description: The user's account control flag.
- contextPath: ActiveDirectory.Users.mail
  description: The user's email address.
- contextPath: ActiveDirectory.Users.memberOf
  description: Groups the user is a member of.
- contextPath: CylanceProtectDevice
  description: The device information about the hostname that was enriched using Cylance
    Protect v2.
  type: unknown
- contextPath: PaloAltoNetworksXDR.RiskyUser
  description: The account object.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.type
  description: Form of identification element.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.id
  description: Identification value of the type field.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.score
  description: The score assigned to the user.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons
  description: The account risk objects.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.date created
  description: Date when the incident was created.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.description
  description: Description of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.severity
  description: The severity of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.status
  description: The incident status.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyUser.reasons.points
  description: The score.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost
  description: The endpoint object.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.type
  description: Form of identification element.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.id
  description: Identification value of the type field.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.score
  description: The score assigned to the host.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons
  description: The endpoint risk objects.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.date created
  description: Date when the incident was created.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.description
  description: Description of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.severity
  description: The severity of the incident.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.status
  description: The incident status.
  type: string
- contextPath: PaloAltoNetworksXDR.RiskyHost.reasons.points
  description: The score.
  type: string
- contextPath: Core
  description: An object containing risky users and risky hosts as identified by the
    Core ITDR module.
  type: unknown
- contextPath: Core.RiskyUser
  description: The risky user object.
  type: unknown
- contextPath: Core.RiskyUser.type
  description: Form of identification element.
- contextPath: Core.RiskyUser.id
  description: Identification value of the type field.
- contextPath: Core.RiskyUser.score
  description: The score assigned to the user.
- contextPath: Core.RiskyUser.reasons
  description: The reasons for the user risk level.
  type: unknown
- contextPath: Core.RiskyUser.reasons.date created
  description: Date when the incident was created.
- contextPath: Core.RiskyUser.reasons.description
  description: Description of the incident.
- contextPath: Core.RiskyUser.reasons.severity
  description: The severity of the incident.
- contextPath: Core.RiskyUser.reasons.status
  description: The incident status.
- contextPath: Core.RiskyUser.reasons.points
  description: The score.
- contextPath: Core.Endpoint
  description: The endpoint object.
  type: unknown
- contextPath: Core.RiskyHost
  description: The risky host object.
  type: unknown
- contextPath: Core.Endpoint.endpoint_id
  description: The endpoint ID.
- contextPath: Core.Endpoint.endpoint_name
  description: The endpoint name.
- contextPath: Core.Endpoint.endpoint_type
  description: The endpoint type.
- contextPath: Core.Endpoint.endpoint_status
  description: The status of the endpoint.
- contextPath: Core.Endpoint.os_type
  description: The endpoint OS type.
- contextPath: Core.Endpoint.ip
  description: A list of IP addresses.
- contextPath: Core.Endpoint.users
  description: A list of users.
- contextPath: Core.Endpoint.domain
  description: The endpoint domain.
- contextPath: Core.Endpoint.alias
  description: The endpoint's aliases.
- contextPath: Core.Endpoint.first_seen
  description: First seen date/time in Epoch (milliseconds).
- contextPath: Core.Endpoint.last_seen
  description: Last seen date/time in Epoch (milliseconds).
- contextPath: Core.Endpoint.content_version
  description: Content version.
- contextPath: Core.Endpoint.installation_package
  description: Installation package.
- contextPath: Core.Endpoint.active_directory
  description: Active directory.
- contextPath: Core.Endpoint.install_date
  description: Install date in Epoch (milliseconds).
- contextPath: Core.Endpoint.endpoint_version
  description: Endpoint version.
- contextPath: Core.Endpoint.is_isolated
  description: Whether the endpoint is isolated.
- contextPath: Core.Endpoint.group_name
  description: The name of the group to which the endpoint belongs.
- contextPath: Core.RiskyHost.type
  description: Form of identification element.
- contextPath: Core.RiskyHost.id
  description: Identification value of the type field.
- contextPath: Core.RiskyHost.score
  description: The score assigned to the host.
- contextPath: Core.RiskyHost.reasons
  description: The reasons for the risk level.
  type: unknown
- contextPath: Core.RiskyHost.reasons.date created
  description: Date when the incident was created.
- contextPath: Core.RiskyHost.reasons.description
  description: Description of the incident.
- contextPath: Core.RiskyHost.reasons.severity
  description: The severity of the incident.
- contextPath: Core.RiskyHost.reasons.status
  description: The incident status.
- contextPath: Core.RiskyHost.reasons.points
  description: The score.
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
      - "18"
      - "19"
      - "22"
      - "23"
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cdd6228a-7feb-4386-8ab1-7dfdf77d99c2
      iscommand: false
      name: ""
      version: -1
    taskid: cdd6228a-7feb-4386-8ab1-7dfdf77d99c2
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 280,
          "y": 70
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 38007764-1687-47b1-8490-0f3cded9dc95
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 38007764-1687-47b1-8490-0f3cded9dc95
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 280,
          "y": 871
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          root: inputs.InternalRange
          transformers:
          - operator: uniq
      ResolveIP:
        complex:
          root: inputs.ResolveIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP using one or more integrations.

        IP enrichment includes:
        * Resolve IP to Hostname (DNS)
        * Threat information
        * Separate internal and external addresses
        * IP reputation
        * For internal addresses, get host information
      id: afe0c443-753d-4633-89e1-0d77dc533447
      iscommand: false
      name: IP Enrichment - Generic v2
      playbookId: IP Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: afe0c443-753d-4633-89e1-0d77dc533447
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 490,
          "y": 225
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      MD5:
        complex:
          root: inputs.MD5
          transformers:
          - operator: uniq
      SHA1:
        complex:
          root: inputs.SHA1
          transformers:
          - operator: uniq
      SHA256:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 8189698a-475c-433b-8fbf-20275b3b2084
      iscommand: false
      name: File Enrichment - Generic v2
      playbookId: File Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 8189698a-475c-433b-8fbf-20275b3b2084
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 225
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      Rasterize:
        simple: "True"
      URL:
        complex:
          root: inputs.URL
          transformers:
          - operator: uniq
      UseReputationCommand:
        simple: "False"
      VerifyURL:
        complex:
          root: inputs.URLSSLVerification
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich URLs using one or more integrations.

        URL enrichment includes:
        * SSL verification for URLs
        * Threat information
        * Providing of URL screenshots
        * URL Reputation using !url
      id: a80df9df-c0d4-4d25-88d1-39a974a9c2cb
      iscommand: false
      name: URL Enrichment - Generic v2
      playbookId: URL Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: a80df9df-c0d4-4d25-88d1-39a974a9c2cb
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 490,
          "y": 386
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich domains using one or more integrations.
        Domain enrichment includes:
        * Threat information
      id: 6245f7fc-b1cc-4120-81da-d3320f809b03
      iscommand: false
      name: Domain Enrichment - Generic v2
      playbookId: Domain Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 6245f7fc-b1cc-4120-81da-d3320f809b03
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 490,
          "y": 700
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          root: inputs.Email
          transformers:
          - operator: uniq
      InternalDomains:
        complex:
          root: inputs.InternalDomains
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 0ba8dffe-9aac-40a7-8303-ff40de2d91f9
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 0ba8dffe-9aac-40a7-8303-ff40de2d91f9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 386
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "26"
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          root: inputs.Username
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 7f313517-52cb-4653-8c77-08819d4910f3
      iscommand: false
      name: Account Enrichment - Generic v2.1
      playbookId: Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 7f313517-52cb-4653-8c77-08819d4910f3
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 545
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      Hostname:
        complex:
          root: inputs.Hostname
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 473ab066-87e5-408d-8317-70e38ead40ca
      iscommand: false
      name: Endpoint Enrichment - Generic v2.1
      playbookId: Endpoint Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 473ab066-87e5-408d-8317-70e38ead40ca
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 490,
          "y": 545
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      cve_id:
        complex:
          root: inputs.CVE
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook performs CVE Enrichment using the following integrations:
        - VulnDB
        - CVE Search
        - IBM X-Force Exchange
      id: a9201fe9-18e4-47dc-8b45-c2c5111eea6a
      iscommand: false
      name: CVE Enrichment - Generic v2
      playbookId: CVE Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: a9201fe9-18e4-47dc-8b45-c2c5111eea6a
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 70,
          "y": 700
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 866,
        "width": 800,
        "x": 70,
        "y": 70
      }
    }
  }
