playbook/playbook-TIM_-_QRadar_Add_Bad_Hash_Indicators.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.5.0
    itemVersion: 2.4.41
    packID: QRadar
    packName: IBM QRadar
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook queries indicators based on a pre-defined query or results
  from a parent playbook, and adds the resulting indicators to a QRadar Reference
  Set. The Reference Set name must be defined in the playbook inputs.
id: TIM - QRadar Add Bad Hash Indicators
inputs:
- description: The name of the QRadar Md5 reference set to insert the data in to.
  key: QRadarMd5ReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the QRadar Sha1 reference set to insert the data in to.
  key: QRadarSha1ReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: The name of the QRadar Sha256 reference set to insert the data in to.
  key: QRadarSha256ReferenceSetName
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: false
  required: false
  value: {}
name: TIM - QRadar Add Bad Hash Indicators
outputs: []
quiet: true
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f1764f4-d8e4-4a73-883e-a7e2f8e2046b
      iscommand: false
      name: ""
      version: -1
    taskid: 4f1764f4-d8e4-4a73-883e-a7e2f8e2046b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 340,
          "y": -310
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3174d8a8-8be4-497a-8d4d-110c701f4e07
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 3174d8a8-8be4-497a-8d4d-110c701f4e07
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 340,
          "y": 1510
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: inList
                    right:
                      value:
                        simple: QRadar,QRadar_v2,QRadar v3
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "49"
      - "50"
      - "51"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9414d6b5-94dc-4b24-843b-cdfc6eecd46e
      iscommand: false
      name: Is QRadarEnabled?
      type: condition
      version: -1
    taskid: 9414d6b5-94dc-4b24-843b-cdfc6eecd46e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 580,
          "y": 240
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: File
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c644aaac-dfaf-4da2-8d41-90ccfadef4b7
      iscommand: false
      name: Are there filtered results?
      type: condition
      version: -1
    taskid: c644aaac-dfaf-4da2-8d41-90ccfadef4b7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 340,
          "y": -100
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarSha256ReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: Sha256
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: File
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: stringHasLength
              right:
                value:
                  simple: "64"
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 89624abb-440c-4cdd-881b-fce9b8462f2b
      iscommand: true
      name: Add Sha256 to QRadar reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 89624abb-440c-4cdd-881b-fce9b8462f2b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1055
        }
      }
  "31":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarSha256ReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: File
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: Sha256
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a99bf47-5cb4-4355-8dc4-aa2cabe3614f
      iscommand: false
      name: Is there a Qradar Sha256 Reference Set and values?
      type: condition
      version: -1
    taskid: 7a99bf47-5cb4-4355-8dc4-aa2cabe3614f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 800,
          "y": 700
        }
      }
  "36":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarSha1ReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: File
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: Sha1
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 960739c4-90dc-4145-8b68-e5362e870fab
      iscommand: false
      name: Is there a Qradar Sha1 Reference Set and values?
      type: condition
      version: -1
    taskid: 960739c4-90dc-4145-8b68-e5362e870fab
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 700
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarSha1ReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: Sha1
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: File
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: stringHasLength
              right:
                value:
                  simple: "40"
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: 1cc5c04b-a56c-46c7-8136-cc82f6e58544
      iscommand: true
      name: Add Sha1 to QRadar reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: 1cc5c04b-a56c-46c7-8136-cc82f6e58544
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 1055
        }
      }
  "39":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.QRadarMd5ReferenceSetName
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: value
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.indicator_type
                    operator: isEqualString
                    right:
                      value:
                        simple: File
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: Md5
                - - left:
                      iscontext: true
                      value:
                        simple: playbookQuery.CustomFields.tags
                    operator: isEqualString
                    right:
                      value:
                        simple: approved_black
                root: playbookQuery
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 35f7ec07-4008-44ce-8b62-02312a7a339a
      iscommand: false
      name: Is there a Qradar Md5 Reference Set and values?
      type: condition
      version: -1
    taskid: 35f7ec07-4008-44ce-8b62-02312a7a339a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2560,
          "y": 710
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    scriptarguments:
      ref_name:
        simple: ${inputs.QRadarMd5ReferenceSetName}
      value:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: Md5
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: File
          root: playbookQuery
          transformers:
          - operator: uniq
      values:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.value
              operator: stringHasLength
              right:
                value:
                  simple: "32"
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Add or update a value in a reference set.
      id: bf09c33b-b18f-4753-801e-1c953599ccee
      iscommand: true
      name: Add Md5 to QRadar reference set
      script: '|||qradar-update-reference-set-value'
      type: regular
      version: -1
    taskid: bf09c33b-b18f-4753-801e-1c953599ccee
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2560,
          "y": 1055
        }
      }
  "49":
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 38d68455-33df-4d69-8d34-e33d49da30c8
      iscommand: false
      name: Sha256
      type: title
      version: -1
    taskid: 38d68455-33df-4d69-8d34-e33d49da30c8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 800,
          "y": 550
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4d6da770-b066-46b7-80b4-ae44a3083999
      iscommand: false
      name: Sha1
      type: title
      version: -1
    taskid: 4d6da770-b066-46b7-80b4-ae44a3083999
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 550
        }
      }
  "51":
    continueonerrortype: ""
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2c41c02-1ab4-4f9f-85c5-3d743f1d65f8
      iscommand: false
      name: Md5
      type: title
      version: -1
    taskid: c2c41c02-1ab4-4f9f-85c5-3d743f1d65f8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2560,
          "y": 550
        }
      }
  "52":
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: File
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: Sha256
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicator.
      id: 7ce87557-da19-44e2-8ed9-16e7c501f6b3
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 7ce87557-da19-44e2-8ed9-16e7c501f6b3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 800,
          "y": 1290
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: File
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: Sha1
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicator.
      id: 5b8cc0f8-0973-4d3e-8e17-3bb7ae0bd7fe
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 5b8cc0f8-0973-4d3e-8e17-3bb7ae0bd7fe
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1580,
          "y": 1300
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      field:
        simple: tags
      fieldValue:
        simple: SIEM
      indicatorsValues:
        complex:
          accessor: value
          filters:
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.indicator_type
              operator: isEqualString
              right:
                value:
                  simple: File
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: approved_black
          - - left:
                iscontext: true
                value:
                  simple: playbookQuery.CustomFields.tags
              operator: isEqualString
              right:
                value:
                  simple: Md5
          root: playbookQuery
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Adds the SIEM tag to the indicator.
      id: 35b1c16b-1db9-4265-8a34-3bcfd8b825f1
      iscommand: true
      name: Add SIEM tag
      script: Builtin|||appendIndicatorField
      type: regular
      version: -1
    taskid: 35b1c16b-1db9-4265-8a34-3bcfd8b825f1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2560,
          "y": 1300
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1885,
        "width": 2600,
        "x": 340,
        "y": -310
      }
    }
  }
