playbook/playbook-Block_Account_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 2.4.13
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook blocks malicious usernames using all integrations that you have enabled.

  Supported integrations for this playbook:
  * Active Directory
  * PAN-OS - This requires PAN-OS 9.1 or higher.
  * SailPoint
  * PingOne
  * AWS IAM
  * Clarizen IAM
  * Envoy IAM
  * ExceedLMS IAM
  * Okta
  * Microsoft Graph User (Azure Active Directory Users)
  * Google Workspace Admin
  * Slack IAM
  * ServiceNow IAM
  * Prisma Cloud IAM
  * Zoom IAM
  * Atlassian IAM
  * GitHub IAM.
id: Block Account - Generic v2
inputs:
- description: Array of malicious usernames to block.
  key: Username
  playbookInputQuery: null
  required: false
  value: {}
- description: PAN-OS Tag name to apply to the username that you want to block.
  key: Tag
  playbookInputQuery: null
  required: false
  value:
    simple: Bad Account
- description: In case you are using naming convention in your IDP, please specify
    a prefix for special/service accounts (use comma separated)
  key: NamingConvention
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    Possible values:True/False. Default:True.
    Specify if User Verification is Requrired
  key: UserVerification
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
name: Block Account - Generic v2
outputs:
- contextPath: Blocklist.Final
  description: Blocked accounts
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cc38d57c-1f3a-4616-8fc3-b3d5b2beefb3
      iscommand: false
      name: ""
      version: -1
    taskid: cc38d57c-1f3a-4616-8fc3-b3d5b2beefb3
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -1700,
          "y": -1450
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 78bcaa68-2a3d-4805-8e25-1bee31249d8f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 78bcaa68-2a3d-4805-8e25-1bee31249d8f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 1260
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "19"
      - "20"
      - "21"
      - "22"
      - "23"
      - "25"
      - "24"
      - "54"
      - "56"
      - "58"
      - "60"
      - "66"
      - "68"
      - "71"
      - "64"
      - "73"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: df7e57df-4f26-4b41-8552-0d4068792d13
      iscommand: false
      name: Block accounts
      type: title
      version: -1
    taskid: df7e57df-4f26-4b41-8552-0d4068792d13
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1960,
          "y": 410
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Username
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "38"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one username to
        block.
      id: 84a222c3-d83f-4d9c-8f75-605f9c1cd233
      iscommand: false
      name: Is there a username to block?
      type: condition
      version: -1
    taskid: 84a222c3-d83f-4d9c-8f75-605f9c1cd233
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1700,
          "y": -1260
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      Users:
        complex:
          accessor: Final
          root: Blocklist
      tag:
        complex:
          root: inputs.Tag
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Registers users to a tag. This command is only available for PAN-OS
        version 9.x and above.
      id: d50b5c24-46e7-4b68-8082-632feb18733d
      iscommand: true
      name: PAN-OS - Register Tag to User
      script: '|||pan-os-register-user-tag'
      type: regular
      version: -1
    taskid: d50b5c24-46e7-4b68-8082-632feb18733d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2330,
          "y": 1090
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.Tag
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Verify that the playbook input includes at least one tag to apply
        to the user.
      id: 134ffe20-63fc-486a-8a79-685e3d206ae8
      iscommand: false
      name: Is there a Tag name to register?
      type: condition
      version: -1
    taskid: 134ffe20-63fc-486a-8a79-685e3d206ae8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2330,
          "y": 920
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd28a21a-8e77-4e94-8ebd-6b4dd2a40907
      iscommand: false
      name: OKTA
      type: title
      version: -1
    taskid: dd28a21a-8e77-4e94-8ebd-6b4dd2a40907
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1960,
          "y": 555
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 253e9206-6499-4698-81bc-4f6b405723e9
      iscommand: false
      name: SailPoint
      type: title
      version: -1
    taskid: 253e9206-6499-4698-81bc-4f6b405723e9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 640,
          "y": 555
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4665f43b-c357-46ab-8658-1f5307d73e34
      iscommand: false
      name: AWS IAM
      type: title
      version: -1
    taskid: 4665f43b-c357-46ab-8658-1f5307d73e34
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -220,
          "y": 555
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f3e4789-ef65-4d8b-8142-b931aca2d1b8
      iscommand: false
      name: PingOne
      type: title
      version: -1
    taskid: 9f3e4789-ef65-4d8b-8142-b931aca2d1b8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 210,
          "y": 555
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5af0265d-f69a-47ef-8fdd-8be726ab8812
      iscommand: false
      name: Clarizen IAM
      type: title
      version: -1
    taskid: 5af0265d-f69a-47ef-8fdd-8be726ab8812
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -640,
          "y": 555
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8170d464-f524-484a-8578-d2d5c6b44c24
      iscommand: false
      name: Envoy IAM
      type: title
      version: -1
    taskid: 8170d464-f524-484a-8578-d2d5c6b44c24
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 555
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9426248c-bc57-4e2a-898c-333c705fe7c9
      iscommand: false
      name: ExceedLMS IAM
      type: title
      version: -1
    taskid: 9426248c-bc57-4e2a-898c-333c705fe7c9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1500,
          "y": 555
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e3d46f19-bf96-4280-887d-c746b0e95976
      iscommand: false
      name: PAN-OS
      type: title
      version: -1
    taskid: e3d46f19-bf96-4280-887d-c746b0e95976
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2330,
          "y": 555
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 00761e97-8a6e-48f4-85fb-d894509a2c17
      iscommand: false
      name: Microsoft Active Directory
      type: title
      version: -1
    taskid: 00761e97-8a6e-48f4-85fb-d894509a2c17
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 555
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Okta IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: ca29fc92-0b56-4eca-8fb4-285bf732a419
      iscommand: false
      name: Is OKTA Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: ca29fc92-0b56-4eca-8fb4-285bf732a419
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1960,
          "y": 715
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "75"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: SailPointIdentityIQ
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 692fc977-5dff-49fa-8ef9-4c0c53979786
      iscommand: false
      name: Is SailPoint Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 692fc977-5dff-49fa-8ef9-4c0c53979786
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 640,
          "y": 715
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: AWS - IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c00031c8-63dc-447a-8064-458b8b89c0b9
      iscommand: false
      name: Is AWS IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c00031c8-63dc-447a-8064-458b8b89c0b9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -220,
          "y": 715
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "34"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PingOne
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 1dfdb5b5-b388-49f8-8778-b631675b5228
      iscommand: false
      name: Is PingOne Integration Enabled
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 1dfdb5b5-b388-49f8-8778-b631675b5228
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 210,
          "y": 715
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: ClarizenIAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 1e40e759-f2e0-46f7-8c4c-e6c305ada2fe
      iscommand: false
      name: Is ClarizenIAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 1e40e759-f2e0-46f7-8c4c-e6c305ada2fe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -640,
          "y": 715
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Envoy IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e69ec334-a883-4519-8b53-2d12a380819d
      iscommand: false
      name: Is Envoy IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e69ec334-a883-4519-8b53-2d12a380819d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1070,
          "y": 715
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: ExceedLMS IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: d7750a59-552e-4fbe-8d72-6a0dbf2c50b2
      iscommand: false
      name: Is ExceedLMS IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: d7750a59-552e-4fbe-8d72-6a0dbf2c50b2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1500,
          "y": 715
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      user-profile:
        simple: ${Blocklist.Final}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Disable an active user.
      id: 85bde384-178d-44b1-8c73-5899e51cf664
      iscommand: true
      name: IAM Disable User
      script: '|||iam-disable-user'
      type: regular
      version: -1
    taskid: 85bde384-178d-44b1-8c73-5899e51cf664
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1280,
          "y": 940
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          accessor: Final
          root: Blocklist
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Deactivate a user's account.
      id: 08d5ce28-f0dd-4a81-889a-383591a50ad5
      iscommand: true
      name: PingOne - Deactivate user
      script: '|||pingone-deactivate-user'
      type: regular
      version: -1
    taskid: 08d5ce28-f0dd-4a81-889a-383591a50ad5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 210,
          "y": 920
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      id:
        complex:
          accessor: id
          root: IdentityIQ.Account
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Disable account's active status by id using IdentityIQ SCIM API's.
      id: 50b2030e-e402-47f1-86df-5b5f4e8e7077
      iscommand: true
      name: SailPoint-Disable account
      script: '|||identityiq-disable-account'
      type: regular
      version: -1
    taskid: 50b2030e-e402-47f1-86df-5b5f4e8e7077
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 640,
          "y": 1090
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "16"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Panorama
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 90a2adf8-4f57-4b53-896d-44bddd4d064c
      iscommand: false
      name: Is PAN-OS/Panorama Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 90a2adf8-4f57-4b53-896d-44bddd4d064c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2330,
          "y": 715
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "48"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Active Directory Query v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e31ad79c-5806-41f0-839b-f896c860d3cc
      iscommand: false
      name: Is Active Directory Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e31ad79c-5806-41f0-839b-f896c860d3cc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 715
        }
      }
  "38":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.UserVerification
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "47"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if manual verification is required before block
      id: c34085c0-1974-4153-8f36-fb22e4ba0c4e
      iscommand: false
      name: Is User Verification Required?
      type: condition
      version: -1
    taskid: c34085c0-1974-4153-8f36-fb22e4ba0c4e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1700,
          "y": -1050
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eda8a397-b0f5-4cb8-85a6-804bbbf59244
      iscommand: false
      name: No User to be blocked
      type: title
      version: -1
    taskid: eda8a397-b0f5-4cb8-85a6-804bbbf59244
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -5370,
          "y": 1105
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: checks.common
      value:
        complex:
          root: inputs.NamingConvention
          transformers:
          - args:
              limit: {}
              replaceWith: {}
              toReplace:
                value:
                  simple: ' '
            operator: replace
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 90c4e379-c164-495b-8bd0-74e807433506
      iscommand: false
      name: Set Naming Convention to a key
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 90c4e379-c164-495b-8bd0-74e807433506
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -880
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "45"
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Blocklist.Sensitive
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Blocklist.Potential
              operator: StringContainsArray
              right:
                iscontext: true
                value:
                  simple: checks.common
          root: Blocklist.Potential
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 603550b4-89d3-4df1-84d9-1eb2951e0871
      iscommand: false
      name: Identify Potential Sensitive Users
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 603550b4-89d3-4df1-84d9-1eb2951e0871
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -560
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: Blocklist.Potential
      value:
        complex:
          root: inputs.Username
          transformers:
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 93dc1c23-81e4-40fd-8f62-9f4290882421
      iscommand: false
      name: Set User to a potential block list
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 93dc1c23-81e4-40fd-8f62-9f4290882421
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -720
        }
      }
  "43":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Blocklist.Sensitive
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "45"
      "yes":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there are any sensitive users to block
      id: 39b3cf6c-5757-447b-8188-9ead6e21a445
      iscommand: false
      name: Check if there are any sensitive users to block
      type: condition
      version: -1
    taskid: 39b3cf6c-5757-447b-8188-9ead6e21a445
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2670,
          "y": -390
        }
      }
  "44":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Sensitive Users:'
        options: []
        optionsarg:
        - simple: ${Blocklist.Sensitive}
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: 'Which sensitive users you would like to Block?  Choose from the following
        lists :'
      totalanswers: 0
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of sensitive accounts will be blocked on your XSOAR's integrated IDP/IAM devices.</p>
          <p><br />(<strong>Note</strong>: the Accounts will be set to disabled on those XSOAR integrated devices).</p>
          <p>Also, <strong>please note</strong> that the following accounts are listed as <strong> "Sensitive Accounts" based on a naming convention </strong> mentioned in the playbook:</p>
          <p>${Blocklist.Sensitive}</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc:
        simple: Administrator
      format: html
      methods:
      - email
      subject:
        simple: Block Sensitive Account - User Verification Form
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Please note that in this form there are serval accounts that are listed as "Sensitive Accounts":
        ${User.Sensetive}
      id: 6ab46eeb-8460-44ab-8b96-0c6a35e38581
      iscommand: false
      name: Ask the user for verification [Sensitive Users]
      type: collection
      version: -1
    taskid: 6ab46eeb-8460-44ab-8b96-0c6a35e38581
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -2670,
          "y": -190
        }
      }
  "45":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: 'Users to be blocked:'
        options: []
        optionsarg:
        - complex:
            accessor: Potential
            root: Blocklist
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: multiSelect
      sender: ""
      title: 'Which Users you would like to Block?  Choose from the following lists
        :'
      totalanswers: 0
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: |
          <p>Dear XSOAR user,</p>
          <p>This notification informs you that the following list of accounts will be blocked on your XSOAR's integrated IDP/IAM devices.</p>
          <p><br />(<strong>Note</strong>: the Accounts will be set to disabled on those XSOAR integrated devices).</p>
          <p>&nbsp;</p>
          <p>For more information, click the link below.</p>
      cc:
        simple: Administrator
      format: html
      methods:
      - email
      subject:
        simple: Block Account - User Verification Form
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to:
        simple: Analyst
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Please note that in this form there are serval accounts that are listed as "Sensitive Accounts":
        ${User.Sensetive}
      id: 4d484404-eefc-4cf6-8f56-abdae89d61e6
      iscommand: false
      name: Ask the user for verification [without Sensitive Users]
      type: collection
      version: -1
    taskid: 4d484404-eefc-4cf6-8f56-abdae89d61e6
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -190
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.Final
      value:
        complex:
          accessor: 0}
          root: ${Which Users you would like to Block?  Choose from the following
            lists :.Answers
          transformers:
          - args:
              item:
                iscontext: true
                value:
                  simple: Which sensitive users you would like to Block?  Choose from
                    the following lists :.Answers.0
            operator: append
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 9e174bd8-73a8-46ef-8a56-138a1cac0b61
      iscommand: false
      name: Set the final accounts list to be blocked
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9e174bd8-73a8-46ef-8a56-138a1cac0b61
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2230,
          "y": 170
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Blocklist.Final
      value:
        complex:
          root: inputs.Username
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: f97632fd-1653-4fda-8222-e8dbe5c36646
      iscommand: false
      name: Set the final accounts list to be blocked
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: f97632fd-1653-4fda-8222-e8dbe5c36646
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1700,
          "y": 170
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          accessor: Final
          root: Blocklist
    separatecontext: false
    skipunavailable: false
    task:
      brand: Active Directory Query v2
      description: Disables an Active Directory user account.
      id: f9188978-a51d-4e86-8420-1749db9f1d3b
      iscommand: true
      name: Active Directory - Disable Account
      script: Active Directory Query v2|||ad-disable-account
      type: regular
      version: -1
    taskid: f9188978-a51d-4e86-8420-1749db9f1d3b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1060,
          "y": 920
        }
      }
  "52":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Which Users you would like to Block?  Choose from the following
                lists :.Answers.0
          operator: isNotEmpty
          right:
            value: {}
        - left:
            iscontext: true
            value:
              simple: Which sensitive users you would like to Block?  Choose from
                the following lists :.Answers.0
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "39"
      "yes":
      - "46"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the analyst selected any users to block
      id: 64ddf917-048c-444b-8fea-b9529a3ad0b3
      iscommand: false
      name: Is Username selected?
      type: condition
      version: -1
    taskid: 64ddf917-048c-444b-8fea-b9529a3ad0b3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2230,
          "y": -10
        }
      }
  "53":
    continueonerrortype: ""
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Slack IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 8791822e-5e1e-4b28-82d9-a822aa17108d
      iscommand: false
      name: Is Slack IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 8791822e-5e1e-4b28-82d9-a822aa17108d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2410,
          "y": 715
        }
      }
  "54":
    continueonerrortype: ""
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e2aaa6e8-de1f-4399-8e89-2321fe4fa030
      iscommand: false
      name: Slack IAM
      type: title
      version: -1
    taskid: e2aaa6e8-de1f-4399-8e89-2321fe4fa030
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2410,
          "y": 555
        }
      }
  "55":
    continueonerrortype: ""
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: ServiceNow IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: e8b7f7a8-2b9c-44ef-8eff-ceb494799432
      iscommand: false
      name: Is ServiceNow IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e8b7f7a8-2b9c-44ef-8eff-ceb494799432
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2840,
          "y": 715
        }
      }
  "56":
    continueonerrortype: ""
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6a694bcc-610d-46c4-8d22-dec644076b78
      iscommand: false
      name: ServiceNow IAM
      type: title
      version: -1
    taskid: 6a694bcc-610d-46c4-8d22-dec644076b78
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2840,
          "y": 555
        }
      }
  "57":
    continueonerrortype: ""
    id: "57"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Salesforce IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 6345f42c-51a8-401f-8099-ecea5a0403c4
      iscommand: false
      name: Is Salesforce IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 6345f42c-51a8-401f-8099-ecea5a0403c4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -3260,
          "y": 715
        }
      }
  "58":
    continueonerrortype: ""
    id: "58"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "57"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dba2b9c1-cb47-41a9-8386-1de15a47de2d
      iscommand: false
      name: Salesforce IAM
      type: title
      version: -1
    taskid: dba2b9c1-cb47-41a9-8386-1de15a47de2d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -3260,
          "y": 555
        }
      }
  "59":
    continueonerrortype: ""
    id: "59"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: PrismaCloud IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: c6cb894b-65a5-4e85-87f4-debe4d8cdbfe
      iscommand: false
      name: Is PrismaCloud IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: c6cb894b-65a5-4e85-87f4-debe4d8cdbfe
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -3690,
          "y": 715
        }
      }
  "60":
    continueonerrortype: ""
    id: "60"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "59"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: de7c1b4f-0ecc-4782-8346-50b679dac66b
      iscommand: false
      name: PrismaCloud IAM
      type: title
      version: -1
    taskid: de7c1b4f-0ecc-4782-8346-50b679dac66b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -3690,
          "y": 555
        }
      }
  "63":
    continueonerrortype: ""
    id: "63"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "69"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Microsoft Graph User
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 1a19cd62-eafa-4b66-80aa-b397a439f52c
      iscommand: false
      name: Is Microsoft Graph User Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 1a19cd62-eafa-4b66-80aa-b397a439f52c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 715
        }
      }
  "64":
    continueonerrortype: ""
    id: "64"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "63"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 31d15f37-d89d-4d09-8009-2a60c76d0b5e
      iscommand: false
      name: Microsoft Graph User
      type: title
      version: -1
    taskid: 31d15f37-d89d-4d09-8009-2a60c76d0b5e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 555
        }
      }
  "65":
    continueonerrortype: ""
    id: "65"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Zoom_IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 31592372-486c-4648-8376-8889941df6c8
      iscommand: false
      name: Is Zoom IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 31592372-486c-4648-8376-8889941df6c8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -4120,
          "y": 715
        }
      }
  "66":
    continueonerrortype: ""
    id: "66"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "65"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b98574a0-93fc-423b-87e1-bf888db3881a
      iscommand: false
      name: Zoom IAM
      type: title
      version: -1
    taskid: b98574a0-93fc-423b-87e1-bf888db3881a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -4120,
          "y": 555
        }
      }
  "67":
    continueonerrortype: ""
    id: "67"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: Atlassian IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: deb7235b-0e73-4aa7-8e3e-2b07ad73daf9
      iscommand: false
      name: Is Atlassian IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: deb7235b-0e73-4aa7-8e3e-2b07ad73daf9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -4550,
          "y": 715
        }
      }
  "68":
    continueonerrortype: ""
    id: "68"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "67"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5e5c6e1e-8c3a-42b8-85bd-3646e9b01531
      iscommand: false
      name: Atlassian IAM
      type: title
      version: -1
    taskid: 5e5c6e1e-8c3a-42b8-85bd-3646e9b01531
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -4550,
          "y": 555
        }
      }
  "69":
    continueonerrortype: ""
    id: "69"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      user:
        complex:
          accessor: Final
          root: Blocklist
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Disables a user from all Office 365 applications, and prevents sign in. Note: This command disables user,
        but does not terminate an existing session. Supported only in a self deployed app flow with the
        Permission: Directory.AccessAsUser.All(Delegated)
      id: 909d3b40-e606-4225-8d09-a83ebdd33b79
      iscommand: true
      name: Microsoft Graph User - Disable Account
      script: '|||msgraph-user-account-disable'
      type: regular
      version: -1
    taskid: 909d3b40-e606-4225-8d09-a83ebdd33b79
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 920
        }
      }
  "70":
    continueonerrortype: ""
    id: "70"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "33"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: GitHub IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: 909312b6-5f6e-451c-83dd-a00e31c49197
      iscommand: false
      name: Is GitHub IAM Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 909312b6-5f6e-451c-83dd-a00e31c49197
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -4970,
          "y": 715
        }
      }
  "71":
    continueonerrortype: ""
    id: "71"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "70"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4f6321ef-dfb9-41fd-8a72-61bea5cff007
      iscommand: false
      name: GitHub IAM
      type: title
      version: -1
    taskid: 4f6321ef-dfb9-41fd-8a72-61bea5cff007
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -4970,
          "y": 555
        }
      }
  "72":
    continueonerrortype: ""
    id: "72"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "74"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: GSuiteAdmin
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: a274143d-2455-4679-8064-41a6cc01e1be
      iscommand: false
      name: Is Google Workspace Admin Integration Enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: a274143d-2455-4679-8064-41a6cc01e1be
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 715
        }
      }
  "73":
    continueonerrortype: ""
    id: "73"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "72"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: fa1e6574-7969-4b44-8593-b2244060cebe
      iscommand: false
      name: Google Workspace Admin
      type: title
      version: -1
    taskid: fa1e6574-7969-4b44-8593-b2244060cebe
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 555
        }
      }
  "74":
    continueonerrortype: ""
    id: "74"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      suspended:
        simple: "true"
      user_key:
        complex:
          accessor: Final
          root: Blocklist
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Updates a user.
      id: 128ca043-fa17-4ebf-82e1-ce3b4812de86
      iscommand: true
      name: Google Workspace Admin - Disable Account
      script: '|||gsuite-user-update'
      type: regular
      version: -1
    taskid: 128ca043-fa17-4ebf-82e1-ce3b4812de86
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1900,
          "y": 920
        }
      }
  "75":
    continueonerrortype: ""
    id: "75"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      display_name:
        complex:
          accessor: Final
          root: Blocklist
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Fetch accounts by search/filter parameters (id, display_name, last_refresh,
        native_identity, last_target_agg, identity_name & application_name) using
        IdentityIQ SCIM APIs.
      id: 4ebe9bf0-210f-4752-83d0-bb2e2a03262a
      iscommand: true
      name: Get Account IDs From SailPoint
      script: '|||identityiq-get-accounts'
      type: regular
      version: -1
    taskid: 4ebe9bf0-210f-4752-83d0-bb2e2a03262a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 640,
          "y": 920
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_15_yes": 0.62,
      "16_2_#default#": 0.1,
      "26_2_#default#": 0.11,
      "26_33_yes": 0.14,
      "27_2_#default#": 0.1,
      "28_2_#default#": 0.15,
      "28_33_yes": 0.1,
      "29_2_#default#": 0.11,
      "29_34_yes": 0.36,
      "30_2_#default#": 0.26,
      "30_33_yes": 0.11,
      "31_2_#default#": 0.27,
      "31_33_yes": 0.12,
      "32_2_#default#": 0.18,
      "32_33_yes": 0.24,
      "36_2_#default#": 0.1,
      "37_2_#default#": 0.12,
      "37_48_yes": 0.42,
      "43_44_yes": 0.49,
      "52_39_#default#": 0.2,
      "53_2_#default#": 0.1,
      "53_33_yes": 0.14,
      "55_2_#default#": 0.1,
      "55_33_yes": 0.21,
      "57_2_#default#": 0.1,
      "57_33_yes": 0.18,
      "59_2_#default#": 0.1,
      "59_33_yes": 0.14,
      "63_2_#default#": 0.1,
      "63_69_yes": 0.44,
      "65_2_#default#": 0.1,
      "65_33_yes": 0.1,
      "67_2_#default#": 0.1,
      "67_33_yes": 0.1,
      "70_2_#default#": 0.1,
      "70_33_yes": 0.1,
      "72_2_#default#": 0.1,
      "72_74_yes": 0.44,
      "8_38_yes": 0.65,
      "8_39_#default#": 0.13
    },
    "paper": {
      "dimensions": {
        "height": 2775,
        "width": 8080,
        "x": -5370,
        "y": -1450
      }
    }
  }
