playbook/playbook-Extract_Indicators_From_File_-_Generic_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.4.13
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |-
  This playbook extracts indicators from a file.
  Supported file types:
  - CSV
  - PDF
  - TXT
  - HTM, HTML
  - DOC, DOCX
  - PPT
  - PPTX
  - RTF
  - XLS
  - XLSX
  - XML
  - XLSM
  - DOCM
  - PPTM
  - DOTM
  - XLSB
  - DOT
  - PPSM
id: Extract Indicators From File - Generic v2
inputs:
- description: The file to extract indicators from.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: ""
  key: ""
  playbookInputQuery:
    daterange:
      fromdate: "0001-01-01T00:00:00Z"
      fromdatelicenseval: "0001-01-01T00:00:00Z"
      period:
        by: ""
        byfrom: ""
        byto: ""
        field: ""
        fromvalue: null
        tovalue: null
      todate: "0001-01-01T00:00:00Z"
    query: ""
    queryEntity: indicators
    results: null
    runFromLastJobTime: true
  required: false
  value: {}
- description: |-
    Available values: "True" or "False". Default is "False"
    When this is set to "True", in case a macro was found within the file (using oletools), it will output all the obfuscated strings with their decoded content (Hex, Base64, StrReverse, Dridex, VBA).
  key: Decode
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: Extract Indicators From File - Generic v2
outputs:
- contextPath: Domain.Name
  description: The extracted domains.
  type: string
- contextPath: Account.Email.Address
  description: The extracted email addresses.
  type: string
- contextPath: File.MD5
  description: The extracted MD5 hash.
  type: string
- contextPath: File.SHA1
  description: The extracted SHA1 hash.
  type: string
- contextPath: File.SHA256
  description: The extracted SHA256 hash.
  type: string
- contextPath: IP.Address
  description: The extracted IP addresses.
  type: string
- contextPath: File.Text
  description: The text or images extracted from the PDF file.
  type: string
- contextPath: File.Producer
  description: The PDF file producer.
  type: string
- contextPath: File.Title
  description: The title of the PDF file.
  type: string
- contextPath: File.xap
  description: The XAP of the PDF file.
  type: string
- contextPath: File.Author
  description: The author of the file.
  type: string
- contextPath: File.dc
  description: The DC of the file.
  type: string
- contextPath: File.xapmm
  description: The XAPMM of the file.
  type: string
- contextPath: File.ModDate
  description: The mod date of the file.
  type: string
- contextPath: File.CreationDate
  description: The creation date of the file.
  type: string
- contextPath: File.Pages
  description: The number of pages in the file.
  type: string
- contextPath: URL.Data
  description: The list of URLs that were extracted from the file.
  type: string
- contextPath: ExtractedURLsFromFiles
  description: The list of URLs that were extracted from the file. This output is
    a duplicate of the URL.Data output and it enables parent playbooks to identify
    the URLs generated by this playbook.
  type: String
- contextPath: Oletools.Oleid.ole_command_result
  description: Indicator list from the oleid command.
  type: string
- contextPath: Oletools.Oleid.file_name
  description: File name.
  type: string
- contextPath: Oletools.Oleid.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format
  description: Indicator file format.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format
  description: Indicator container format.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted
  description: Indicator encrypted.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros
  description: Indicator VBA macros.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros
  description: Indicator XLM macros.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships
  description: Indicator external relationships.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool
  description: Indicator object pool.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects
  description: Indicator flash objects.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Value
  description: Indicator file format value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Ole_Risk
  description: Indicator file format OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.File_format.Description
  description: Indicator file format description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Value
  description: Indicator container format value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Ole_Risk
  description: Indicator container format OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Container_format.Description
  description: Indicator container format description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Value
  description: Indicator encrypted value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Ole_Risk
  description: Indicator encrypted OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Encrypted.Description
  description: Indicator encrypted description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Value
  description: Indicator VBA macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Ole_Risk
  description: Indicator VBA macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.VBA_Macros.Description
  description: Indicator VBA macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Value
  description: Indicator XLM macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Ole_Risk
  description: Indicator XLM macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.XLM_Macros.Description
  description: Indicator XLM macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Value
  description: Indicator XLM macros value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Ole_Risk
  description: Indicator XLM macros OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.External_Relationships.Description
  description: Indicator XLM macros description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Value
  description: Indicator object pool value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Ole_Risk
  description: Indicator object pool OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.ObjectPool.Description
  description: Indicator object pool description.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Value
  description: Indicator Flash objects value.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Ole_Risk
  description: Indicator Flash objects OLE risk.
  type: string
- contextPath: Oletools.Oleid.ole_command_result.Flash_objects.Description
  description: Indicator Flash objects description.
  type: string
- contextPath: Oletools.Oleobj.ole_command_result.hyperlinks
  description: List of hyperlinks.
  type: string
- contextPath: Oletools.Oleobj.file_name
  description: File name.
  type: string
- contextPath: Oletools.Oleobj.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Olevba.file_name
  description: File name.
  type: string
- contextPath: Oletools.Olevba.sha256
  description: SHA256 hash.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_analyze
  description: Macro analyze.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_src_code
  description: Macro source code.
  type: string
- contextPath: Oletools.Olevba.ole_command_result.macro_list
  description: Macro list.
  type: string
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Vendor
  description: The vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: number
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bcdc9d1b-25b8-4f8e-8718-043218ed8977
      iscommand: false
      name: ""
      version: -1
    taskid: bcdc9d1b-25b8-4f8e-8718-043218ed8977
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": -10
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Checks if there is a file in the playbook input.
      id: 9c37cfa4-5bd3-4994-80df-33bd4b58728f
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 9c37cfa4-5bd3-4994-80df-33bd4b58728f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 180
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: File
      value:
        complex:
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the input file into local context.
      id: b287e371-7f7f-43cf-8f07-ea42b1ab70b6
      iscommand: false
      name: Set file to local context
      script: Set
      type: regular
      version: -1
    taskid: b287e371-7f7f-43cf-8f07-ea42b1ab70b6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 350
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9f01ab9b-8991-4705-83a8-2bc3f0e902b2
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9f01ab9b-8991-4705-83a8-2bc3f0e902b2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": 2340
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
      - "7"
      - "9"
      - "15"
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ccedd221-520c-4c64-8ec8-fc07d1b107fc
      iscommand: false
      name: Extract Indicators From Files
      type: title
      version: -1
    taskid: ccedd221-520c-4c64-8ec8-fc07d1b107fc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 510,
          "y": 535
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: ASCII text
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Rich Text Format
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: UTF-8 Unicode text
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: news or mail
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Composite Document File V2 Document, No summary info
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: text/rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: rtf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xml
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: message/rfc822
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: p7m
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a text-based file in context. Skips MSG and
        EML files.
      id: 6b1ca925-a7ee-46d9-8f41-bc1ca5ee1f28
      iscommand: false
      name: Is there a text-based file?
      type: condition
      version: -1
    taskid: 6b1ca925-a7ee-46d9-8f41-bc1ca5ee1f28
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 92.5,
          "y": 700
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: ASCII text
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Rich Text Format
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: UTF-8 Unicode
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: news or mail
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Composite Document File V2 Document, No summary info
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: text/rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: rtf
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: notContainsGeneral
              right:
                value:
                  simple: xml
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: message/rfc822
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from text-based files.
      id: 25e595b9-5c08-4247-8888-ad17fecd9703
      iscommand: false
      name: Extract indicators from text-based file
      script: ExtractIndicatorsFromTextFile
      type: regular
      version: -1
    taskid: 25e595b9-5c08-4247-8888-ad17fecd9703
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 92.5,
          "y": 960
        }
      }
  "7":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: pdf
                root: File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a PDF file in context.
      id: 6456e51c-3165-435e-8fd4-9b3143f4b011
      iscommand: false
      name: Is there a PDF file?
      type: condition
      version: -1
    taskid: 6456e51c-3165-435e-8fd4-9b3143f4b011
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 700
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: pdf
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load a PDF file's content and metadata into context.
      id: 413768ed-dc27-441e-8395-9878777549e5
      iscommand: false
      name: Extract indicators from PDF file
      script: ReadPDFFileV2
      type: regular
      version: -1
    taskid: 413768ed-dc27-441e-8395-9878777549e5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 930,
          "y": 960
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Composite Document File V2 Document
                  - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: containsString
                    right:
                      value:
                        simple: Microsoft Word
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: docx
                  - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsString
                    right:
                      value:
                        simple: CDFV2
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: msg
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: eml
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xls
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsx
                - - left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: isNotExists
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Type
                    operator: notContainsString
                    right:
                      value:
                        simple: Excel
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: ppt
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: pptx
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotExists
                  - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsm
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: docm
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: oft
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isNotEqualString
                    right:
                      value:
                        simple: oft
                root: File
                transformers:
                - operator: uniq
          operator: isExists
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if there is a Word file (DOC, DOCX) in context.
      id: 56597c25-22cd-42b4-8c2f-f08c31fd1dd4
      iscommand: false
      name: Is there a Word file?
      type: condition
      version: -1
    taskid: 56597c25-22cd-42b4-8c2f-f08c31fd1dd4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 510,
          "y": 700
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 68b22c92-c5b7-4e98-8b45-cadb678c6da8
      iscommand: false
      name: No File To Parse
      type: title
      version: -1
    taskid: 68b22c92-c5b7-4e98-8b45-cadb678c6da8
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -455,
          "y": 975
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Composite Document File V2 Document
            - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: containsString
              right:
                value:
                  simple: Microsoft Word
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: docx
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: msg
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: eml
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xls
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsx
          - - left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isNotExists
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: notContainsString
              right:
                value:
                  simple: Excel
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: ppt
          - - left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: pptx
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotExists
            - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: xlsm
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: isNotEqualString
              right:
                value:
                  simple: oft
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isNotEqualString
              right:
                value:
                  simple: oft
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts indicators from word files (DOC, DOCX).
      id: 94620d34-671a-4869-81f1-dcf67071a9ee
      iscommand: false
      name: Extract indicators from Word file
      script: ExtractIndicatorsFromWordFile
      type: regular
      version: -1
    taskid: 94620d34-671a-4869-81f1-dcf67071a9ee
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 960
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/png
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/jpeg
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: Info
                    operator: isEqualString
                    right:
                      value:
                        simple: image/gif
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether images were extracted from PDF files.
      id: 53f7a7dd-1720-451f-892d-28bdc2938d12
      iscommand: false
      name: Were images extracted?
      type: condition
      version: -1
    taskid: 53f7a7dd-1720-451f-892d-28bdc2938d12
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 1740
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Image OCR
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there is an active instance of the Image OCR integration.
        enabled.
      id: 016dfd29-eb0c-4638-8f9c-b47a21dbf83e
      iscommand: false
      name: Is Image OCR enabled?
      type: condition
      version: -1
    taskid: 016dfd29-eb0c-4638-8f9c-b47a21dbf83e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1560
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/png
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/jpeg
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: image/gif
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Extracts text from PNG, JPEG, and GIF image files, and uses auto-extract
        to get reputation for indicators.
      id: 9e63e4dc-c072-46b9-876d-6862cf429573
      iscommand: true
      name: Extract text from images
      script: '|||image-ocr-extract-text'
      type: regular
      version: -1
    taskid: 9e63e4dc-c072-46b9-876d-6862cf429573
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 1910
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                filters:
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: ppt
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: pptx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: rtf
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xls
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: isEqualString
                    right:
                      value:
                        simple: xlsx
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: xml
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-powerpoint
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: vnd.ms-excel
                  - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: File.Info
                    operator: containsGeneral
                    right:
                      value:
                        simple: text/rtf
                - - left:
                      iscontext: true
                      value:
                        simple: File.Extension
                    operator: isNotEqualString
                    right:
                      value:
                        simple: xlsb
                  - left:
                      iscontext: true
                      value:
                        simple: File
                    operator: notContainsGeneral
                    right:
                      value:
                        simple: xlsb
                root: File
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Checks if one of the following file types exists:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: ffb93222-0298-4fc1-8087-6e2e66eecda4
      iscommand: false
      name: Is there another supported document type?
      type: condition
      version: -1
    taskid: ffb93222-0298-4fc1-8087-6e2e66eecda4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 700
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      all_files:
        simple: "yes"
      entry_id:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: ppt
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: pptx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: rtf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: xls
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: isEqualString
              right:
                value:
                  simple: xlsx
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: xml
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-powerpoint
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: vnd.ms-excel
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsGeneral
              right:
                value:
                  simple: text/rtf
          - - left:
                iscontext: true
                value:
                  simple: File.Extension
              operator: notContainsGeneral
              right:
                value:
                  simple: xlsb
          root: File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Converts the following formats to PDF format:
        - PPT
        - PPTX
        - RTF
        - XLS
        - XLSX
        - XML
      id: 9a754389-5cc2-4638-84b4-2877b55a649a
      iscommand: false
      name: Convert a document to PDF
      script: ConvertFile
      type: regular
      version: -1
    taskid: 9a754389-5cc2-4638-84b4-2877b55a649a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1480,
          "y": 960
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      EntryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Type
              operator: isEqualString
              right:
                value:
                  simple: application/pdf
            - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: File.Info
              operator: containsString
              right:
                value:
                  simple: application/pdf
          root: File
          transformers:
          - operator: uniq
      file_name:
        simple: PDF_preview
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets a preview (image) of the PDF files.
      id: 0fa1cea9-9c2e-4512-81d1-37058f817ea2
      iscommand: true
      name: Preview PDF files
      script: '|||rasterize-pdf'
      tags:
      - PDF_Images
      type: regular
      version: -1
    taskid: 0fa1cea9-9c2e-4512-81d1-37058f817ea2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 1380
        }
      }
  "18":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Rasterize
                - - ignorecase: true
                    left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
                transformers:
                - operator: uniq
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "13"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the Rasterize integration is enabled.
      id: f7e70aea-197a-48b0-8e5b-1a0e4e813a15
      iscommand: false
      name: Is Rasterize enabled?
      type: condition
      version: -1
    taskid: f7e70aea-197a-48b0-8e5b-1a0e4e813a15
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 930,
          "y": 1200
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExtractedURLsFromFiles
      value:
        complex:
          accessor: Data
          root: URL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Extracts URLs from files and stores them under the "ExtractedURLsFromFiles" key in the playbook output.
        Parent playbooks can use this key to indicate which URLs were extracted.
      id: dff24f87-3133-4c5b-85f0-3e8cfb5910f6
      iscommand: false
      name: Set ExtractedURLsFromFiles
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: dff24f87-3133-4c5b-85f0-3e8cfb5910f6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 510,
          "y": 2120
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      Decode:
        complex:
          root: inputs.Decode
      FileObject:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.File.EntryID
              operator: isNotEmpty
          root: inputs.File
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Oletools is a tool for analyzing Microsoft OLE2 files, such as Microsoft Office documents or Outlook messages, mainly for malware analysis, forensics, and debugging.
        This playbook will run run the "oleid" command on the files which are passed to to it as playbook inputs. In case any macros or external relationships were found, it will also run "olevba" and "oleobj" commands as well on the relevant files.
        oleid - Analyze OLE files to detect specific characteristics usually found in malicious files.
        oleobj - Extract embedded objects from OLE files.
        olevba - Extract and analyze VBA Macro source code from MS Office documents (OLE and OpenXML).
      id: 0ca91cf6-8403-4e3e-84fd-a5076cb1e172
      iscommand: false
      name: Microsoft Office File Enrichment - Oletools
      playbookName: Microsoft Office File Enrichment - Oletools
      type: playbook
      version: -1
    taskid: 0ca91cf6-8403-4e3e-84fd-a5076cb1e172
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -330,
          "y": 700
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_14_yes": 0.55,
      "13_12_yes": 0.55,
      "15_10_#default#": 0.13,
      "15_16_yes": 0.38,
      "18_13_#default#": 0.41,
      "18_17_yes": 0.31,
      "1_10_#default#": 0.15,
      "5_10_#default#": 0.23,
      "5_6_yes": 0.36,
      "7_10_#default#": 0.15,
      "7_8_yes": 0.38,
      "9_10_#default#": 0.18,
      "9_11_yes": 0.35
    },
    "paper": {
      "dimensions": {
        "height": 2415,
        "width": 2315,
        "x": -455,
        "y": -10
      }
    }
  }
