playbook/playbook-Detonate_and_Analyze_File_-_Generic.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 2.5.2
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: 'This playbook uploads, detonates, and analyzes files for supported sandboxes.
  Currently supported sandboxes are Falcon Intelligence Sandbox, JoeSecurity, and
  Wildfire. '
id: Detonate and Analyze File - Generic
inputs:
- description: The details of the file to search for.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
name: Detonate and Analyze File - Generic
outputs:
- contextPath: csfalconx.resource.tags
  description: The analysis tags.
  type: string
- contextPath: csfalconx.resource.sha256
  description: The SHA256 hash of the scanned file.
  type: string
- contextPath: csfalconx.resource.file_name
  description: The name of the uploaded file.
  type: string
- contextPath: csfalconx.resource.sandbox
  description: The Falcon Intelligence Sandbox findings.
  type: string
- contextPath: csfalconx.resource.intel
  description: The Falcon Intelligence Sandbox intelligence results.
  type: string
- contextPath: WildFire.Report
  description: The Wildfire findings.
  type: string
- contextPath: AttackPattern
  description: The MITRE Attack pattern information.
  type: string
- contextPath: MITREATTACK
  description: Full MITRE data for the attack pattern.
  type: string
- contextPath: DBotScore
  description: DBotScore object.
  type: string
- contextPath: Joe.Analysis
  description: Joe Analysis object.
  type: string
- contextPath: DBotScore.Vendor
  description: The vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Indicator
  description: The indicator that was tested.
  type: string
- contextPath: DBotScore.Type
  description: The indicator type.
  type: string
- contextPath: DBotScore.Score
  description: The actual score.
  type: string
- contextPath: DBotScore.Malicious
  description: DBotScore Malicious object
  type: string
- contextPath: DBotScore.Malicious.Vendor
  description: The vendor used to calculate the score.
  type: string
- contextPath: DBotScore.Malicious.Detections
  description: The sub analysis detection statuses
  type: string
- contextPath: DBotScore.Malicious.SHA1
  description: The SHA1 of the file
  type: string
- contextPath: Joe.Analysis.ID
  description: Web ID
  type: string
- contextPath: Joe.Analysis.Status
  description: Analysis Status
  type: string
- contextPath: Joe.Analysis.Comments
  description: Analysis Comments
  type: string
- contextPath: Joe.Analysis.Time
  description: Submitted Time
  type: date
- contextPath: Joe.Analysis.Runs
  description: Sub-Analysis Information
  type: string
- contextPath: Joe.Analysis.Result
  description: Analysis Results
  type: string
- contextPath: Joe.Analysis.Errors
  description: Raised errors during sampling
  type: string
- contextPath: Joe.Analysis.Systems
  description: Analysis OS
  type: string
- contextPath: Joe.Analysis.MD5
  description: MD5 of analysis sample
  type: string
- contextPath: Joe.Analysis.SHA1
  description: SHA1 of analysis sample
  type: string
- contextPath: Joe.Analysis.SHA256
  description: SHA256 of analysis sample
  type: string
- contextPath: Joe.Analysis.SampleName
  description: Sample Data, could be a file name or URL
  type: string
- contextPath: InfoFile
  description: Report file object
  type: string
- contextPath: InfoFile.Name
  description: The filename.
  type: string
- contextPath: InfoFile.EntryID
  description: The entry ID of the report.
  type: string
- contextPath: InfoFile.Size
  description: File size.
  type: number
- contextPath: InfoFile.Type
  description: File type, e.g., "PE".
  type: string
- contextPath: InfoFile.Info
  description: Basic information of the file.
  type: string
- contextPath: InfoFile.Extension
  description: The extension of the image file.
  type: string
- contextPath: File
  description: File object
  type: string
- contextPath: File.Extension
  description: File extension.
  type: string
- contextPath: File.MD5
  description: The MD5 hash of the file.
  type: string
- contextPath: File.Name
  description: The full file name.
  type: string
- contextPath: File.SHA1
  description: The SHA1 hash of the file.
  type: string
- contextPath: File.SHA256
  description: The SHA256 hash of the file.
  type: string
- contextPath: ExtractedIndicators
  description: outputs.extractindicators
  type: string
- contextPath: AttackPattern.STIXID
  description: The STIX ID of the Attack Pattern.
  type: string
- contextPath: AttackPattern.KillChainPhases
  description: The kill chain phases of the Attack Pattern.
  type: string
- contextPath: AttackPattern.FirstSeenBySource
  description: The first seen by source of the Attack Pattern.
  type: string
- contextPath: AttackPattern.Description
  description: The description of the Attack Pattern.
  type: string
- contextPath: AttackPattern.OperatingSystemRefs
  description: The operating system references of the Attack Pattern.
  type: string
- contextPath: AttackPattern.Publications
  description: The publications of the Attack Pattern.
  type: string
- contextPath: AttackPattern.MITREID
  description: The MITRE ID of the Attack Pattern.
  type: string
- contextPath: AttackPattern.Tags
  description: The tags of the Attack Pattern.
  type: string
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 218725c8-5f2a-438c-8b00-39eb76656d1f
      iscommand: false
      name: ""
      version: -1
    taskid: 218725c8-5f2a-438c-8b00-39eb76656d1f
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 80
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      AlertOS:
        complex:
          accessor: deviceosname
          root: incident
          transformers:
          - args:
              input_values:
                value:
                  simple: Windows,Linux,Android
              mapped_values:
                value:
                  simple: '160: Windows 10,300: Linux Ubuntu 16.04,300: Linux Ubuntu
                    16.04'
            operator: MapValuesTransformer
      EnableTor:
        simple: "false"
      EnvironmentID:
        simple: '''160: Windows 10'''
      File:
        complex:
          root: inputs.File
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: This playbook uploads, detonates, and analyzes files for the CrowdStrike
        Falcon Intelligence Sandbox.
      id: 1efe544b-f18b-467c-8a8c-de784c146ef9
      iscommand: false
      name: CrowdStrike Falcon Intelligence Sandbox Detonate and Analyze File
      playbookName: CrowdStrike Falcon Intelligence Sandbox Detonate and Analyze File
      type: playbook
      version: -1
    taskid: 1efe544b-f18b-467c-8a8c-de784c146ef9
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 570
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: inputs.File
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |
        This playbook uploads, detonates, and analyzes files for the Wildfire sandbox.
      id: 215ed959-df27-4580-8ed0-a95b3246f65d
      iscommand: false
      name: Wildfire Detonate and Analyze File
      playbookId: Wildfire Detonate and Analyze File
      type: playbook
      version: -1
    taskid: 215ed959-df27-4580-8ed0-a95b3246f65d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 570
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bd46d172-dfb1-43e4-8904-643571582a5d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: bd46d172-dfb1-43e4-8904-643571582a5d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 1640
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "3"
      "yes":
      - "1"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: CrowdStrike Falcon X
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the CrowdStrike Falcon Intelligence Sandbox integration
        is available.
      id: 1e2efc1c-d878-46c7-835f-ea5c802dd878
      iscommand: false
      name: Is CrowdStrike Falcon Intelligence Sandbox enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: 1e2efc1c-d878-46c7-835f-ea5c802dd878
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 380
        }
      }
  "5":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.File
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "4"
      - "6"
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a file?
      id: 5257b87f-910c-4b92-814a-5a478d777ae8
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 5257b87f-910c-4b92-814a-5a478d777ae8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1590,
          "y": 210
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "3"
      "yes":
      - "2"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: WildFire-v2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if the WildFire integration is available.
      id: e64d0590-3e6c-4b99-8ded-da01909d2195
      iscommand: false
      name: Is Wildfire enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e64d0590-3e6c-4b99-8ded-da01909d2195
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 380
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: attack_id
                root: csfalconx.resource.sandbox.mitre_attacks
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: csfalconx.resource.sandbox.mitre_attacks.parent.attack_id
                  operator: append
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there MITRE findings?
      id: 50b29f08-f3b1-4b2b-8722-20a7656c61ef
      iscommand: false
      name: Are there MITRE findings?
      type: condition
      version: -1
    taskid: 50b29f08-f3b1-4b2b-8722-20a7656c61ef
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 750
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      scriptArguments:
        'TechniqueID ':
          complex:
            accessor: attack_id
            root: csfalconx.resource.sandbox.mitre_attacks
            transformers:
            - args:
                item:
                  iscontext: true
                  value:
                    simple: csfalconx.resource.sandbox.mitre_attacks.parent.attack_id
              operator: append
      wait: 1
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      TechniqueID:
        complex:
          accessor: attack_id
          root: csfalconx.resource.sandbox.mitre_attacks
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook accepts as input MITRE techniques IDs.
        It returns the MITRE technique name and full technique data using the MITRE integration.
      id: 93344bc1-a4e8-4997-8879-3ecb04041bd1
      iscommand: false
      name: Mitre Attack - Extract Technique Information From ID
      playbookId: Mitre Attack - Extract Technique Information From ID
      type: playbook
      version: -1
    taskid: 93344bc1-a4e8-4997-8879-3ecb04041bd1
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1840,
          "y": 945
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "22"
    note: false
    quietmode: 0
    results:
    - brandInstances
    scriptarguments:
      brandname:
        simple: JoeSecurityV2
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'.
      id: e0390fd8-4e73-42bc-8fdb-8480bf9af4d9
      iscommand: false
      name: Is JoeSecurity sandbox enabled?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: e0390fd8-4e73-42bc-8fdb-8480bf9af4d9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1330,
          "y": 380
        }
      }
  "14":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Joe Sandbox report - Json Format
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      type:
        simple: json
      webid:
        complex:
          accessor: ID
          root: Joe.Analysis
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Download a resource belonging to a report. This can be the full
        report, dropped binaries, etc. See integration README for the full supported
        report types.
      id: 723d2bf6-e92a-4ac9-851c-c1227ce3b386
      iscommand: true
      name: Get a full report from Joe Sandbox - JSON
      script: '|||joe-download-report'
      type: regular
      version: -1
    taskid: 723d2bf6-e92a-4ac9-851c-c1227ce3b386
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 945
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Analysis
                root: Joe
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "14"
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Any results from the Joe search?
      id: 4924f70b-3356-41b7-8264-8f944bfc2585
      iscommand: false
      name: Any results from the Joe search?
      type: condition
      version: -1
    taskid: 4924f70b-3356-41b7-8264-8f944bfc2585
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 750
        }
      }
  "16":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Joe Sandbox report - PDF Format
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      type:
        simple: pdf
      webid:
        complex:
          accessor: ID
          root: Joe.Analysis
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Download a resource belonging to a report. This can be the full
        report, dropped binaries, etc. See integration README for the full supported
        report types.
      id: 0176d511-3e34-44ea-8f79-518314ddca71
      iscommand: true
      name: Get a full report from Joe Sandbox - PDF
      script: '|||joe-download-report'
      type: regular
      version: -1
    taskid: 0176d511-3e34-44ea-8f79-518314ddca71
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 690,
          "y": 945
        }
      }
  "17":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Joe Security Sandbox report
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      EntryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: InfoFile.Extension
              operator: isEqualString
              right:
                value:
                  simple: pdf
          root: InfoFile
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Converts a PDF file to an image file.
      id: 3ef64df5-ef9a-4a40-8fd8-ee5a4e3e9274
      iscommand: true
      name: Rasterize PDF
      script: '|||rasterize-pdf'
      type: regular
      version: -1
    taskid: 3ef64df5-ef9a-4a40-8fd8-ee5a4e3e9274
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 690,
          "y": 1470
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: InfoFile.Extension
              operator: isEqualString
              right:
                value:
                  simple: json
          root: InfoFile
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.extract.indicators
      id: d4b713f1-b7b9-4689-8964-f70d44dec5dd
      iscommand: true
      name: Extract Indicators from the Report
      script: Builtin|||extractIndicators
      type: regular
      version: -1
    taskid: d4b713f1-b7b9-4689-8964-f70d44dec5dd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 1105
        }
      }
  "19":
    continueonerror: true
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      attack_pattern:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ExtractedIndicators.Attack_Pattern
              operator: isNotEmpty
          root: ExtractedIndicators.Attack_Pattern
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: Looks up the reputation of the indicator.
      id: 0a8ff382-630f-486b-8daf-a9d9dd9521a1
      iscommand: true
      name: Enrich Mitre Attack Techniques information.
      script: '|||attack-pattern'
      type: regular
      version: -1
    taskid: 0a8ff382-630f-486b-8daf-a9d9dd9521a1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 1470
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: ExtractedIndicators.Attack_Pattern
                    operator: isNotEmpty
                root: ExtractedIndicators.Attack_Pattern
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Are there MITRE findings?
      id: baac5ee9-b37f-4ad7-80fe-b7021e116faf
      iscommand: false
      name: Are there MITRE findings?
      type: condition
      version: -1
    taskid: baac5ee9-b37f-4ad7-80fe-b7021e116faf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 1270
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    scriptarguments:
      File:
        complex:
          root: inputs.File
      InternetAccess:
        simple: "True"
      Interval:
        simple: "1"
      Timeout:
        simple: "1200"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: The Detonate File using Joe Sandbox Process is designed to streamline
        and enhance the security assessment of files. This automated system accepts
        a user-submitted file, sends it for in-depth analysis using Joe Sandbox technology,
        and returns comprehensive results as attachments to the user. The process
        is designed to be swift, efficient, and secure, providing users with valuable
        insights into potential threats and vulnerabilities within their files.
      id: 9bdf9a41-2a91-4582-8640-d40a3401e20d
      iscommand: false
      name: Detonate File - JoeSecurity V2
      playbookName: Detonate File - JoeSecurity V2
      type: playbook
      version: -1
    taskid: 9bdf9a41-2a91-4582-8640-d40a3401e20d
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1090,
          "y": 570
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_3_#default#": 0.1,
      "15_3_#default#": 0.25,
      "21_3_#default#": 0.27,
      "4_1_yes": 0.61,
      "4_3_no": 0.15,
      "5_3_#default#": 0.1,
      "6_3_no": 0.14,
      "9_11_yes": 0.59,
      "9_3_#default#": 0.13
    },
    "paper": {
      "dimensions": {
        "height": 1625,
        "width": 1990,
        "x": 690,
        "y": 80
      }
    }
  }
