playbook/playbook-Cortex_XDR_-_Possible_External_RDP_Brute-Force_-_Set_Verdict.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.8.0
    itemVersion: 6.0.4
    packID: CortexXDR
    packName: Cortex XDR by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "This playbook creating an array called \"Suspicious Elements\", which
  is used to count potential security threats. The following elements can be added
  to the array:\n\n- \"IP Reputation\" - DBot Score is 2-3 \n- \"Source geolocation\"
  - RDP Connection made from rare geo-location \n-  Related to campaign - IP address
  is related to campaign, based on TIM module\n-  Hunting results - the hunt for indicators
  related to the source IP and the related campaign returned results\n-  XDR Alert
  search - XDR Alerts that related to the same username and endpoint, and to the MITRE
  tactics that comes after \"Credential Access\", were found.\n- Risky User - one
  or more risky users are involved in the incident, as identified by the Cortex XDR
  - IR integration's ITDR module.\n- Risky Host - one or more risky hosts are involved
  in the incident, as identified by the Cortex XDR - IR integration's ITDR module.\n\n\nThe
  array will then be outputted and its size will be compared to a final threshold.
  If the size is greater than or equal to the threshold, the investigation's final
  verdict will be deemed a \"True Positive.\""
id: Cortex XDR - Possible External RDP Brute-Force - Set Verdict
inputs:
- description: Number of XDR alerts that are related to the same user or endpoint.
  key: RelatedAlerts
  playbookInputQuery: null
  required: false
  value: {}
- description: Campaign related to the external IP.
  key: RelatedCampaign
  playbookInputQuery: null
  required: false
  value: {}
- description: Determine whether hunting results exist. The input value should be
    true or false.
  key: HuntResults
  playbookInputQuery: null
  required: false
  value: {}
- description: ' determine whether the RDP connection has made RDP Connection made
    from rare geo-location. the input value should be true or false.'
  key: UnusualGeoLocation
  playbookInputQuery: null
  required: false
  value: {}
- description: The external IP reputation.
  key: IpReputation
  playbookInputQuery: null
  required: false
  value: {}
- description: Usernames of users that were found as risky by Cortex XDR.
  key: XDRRiskyUser
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: id
      filters:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.RiskyUser.risk_level
          operator: isEqualString
          right:
            value:
              simple: MED
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.RiskyUser.risk_level
          operator: isEqualString
          right:
            value:
              simple: HIGH
      root: PaloAltoNetworksXDR.RiskyUser
      transformers:
      - operator: uniq
- description: Hostnames that were found as risky by Cortex XDR.
  key: XDRRiskyHost
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: id
      filters:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.RiskyHost.risk_level
          operator: isEqualString
          right:
            value:
              simple: MED
        - ignorecase: true
          left:
            iscontext: true
            value:
              simple: PaloAltoNetworksXDR.RiskyHost.risk_level
          operator: isEqualString
          right:
            value:
              simple: HIGH
      root: PaloAltoNetworksXDR.RiskyHost
      transformers:
      - operator: uniq
name: Cortex XDR - Possible External RDP Brute-Force - Set Verdict
outputs:
- contextPath: Suspicious_Elements
  description: Array that contains all the suspicious elements.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
      - "4"
      - "1"
      - "2"
      - "10"
      - "15"
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f858fb51-cdf1-4ebc-82ef-52ce56de6555
      iscommand: false
      name: ""
      version: -1
    taskid: f858fb51-cdf1-4ebc-82ef-52ce56de6555
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RelatedCampaign
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if a related campaign exists.
      id: ad4c70ac-fa2f-4d57-84f7-9cbe13790fd1
      iscommand: false
      name: Related to specific campaign?
      type: condition
      version: -1
    taskid: ad4c70ac-fa2f-4d57-84f7-9cbe13790fd1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 30,
          "y": 190
        }
      }
  "2":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.HuntResults
                transformers:
                - operator: count
          operator: isEqualString
          right:
            value:
              simple: "true"
      label: "yes"
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if hunting results exist.
      id: 598f8193-b48c-4682-8ec6-2d3c2240b87f
      iscommand: false
      name: Has Hunting Results?
      type: condition
      version: -1
    taskid: 598f8193-b48c-4682-8ec6-2d3c2240b87f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 450,
          "y": 190
        }
      }
  "3":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.RelatedAlerts
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if XDR related alerts exist.
      id: faddab4a-86fb-4ba6-8587-f9e75832c152
      iscommand: false
      name: Has related alerts?
      type: condition
      version: -1
    taskid: faddab4a-86fb-4ba6-8587-f9e75832c152
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 880,
          "y": 190
        }
      }
  "4":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.UnusualGeoLocation
          operator: isEqualString
          right:
            value:
              simple: "false"
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the connection was made from an unusual country.
      id: ebf825df-cbb0-44bb-8c6c-217ff1d984be
      iscommand: false
      name: Connection from unusual country?
      type: condition
      version: -1
    taskid: ebf825df-cbb0-44bb-8c6c-217ff1d984be
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 190
        }
      }
  "5":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Source Geolocation
      output:
        simple: Connection from unusual country
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: Unusual Country
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 301a9fe4-8dbd-4216-81c8-c41bdf9e98e8
      iscommand: false
      name: Set unusual country
      script: Set
      type: regular
      version: -1
    taskid: 301a9fe4-8dbd-4216-81c8-c41bdf9e98e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1300,
          "y": 350
        }
      }
  "6":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: XDR Alert Search Results
      output:
        complex:
          root: inputs.RelatedAlerts
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: Related Alerts
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c5abd0de-b0a2-4646-8bf7-65f83996c7ac
      iscommand: false
      name: Set related alerts
      script: Set
      type: regular
      version: -1
    taskid: c5abd0de-b0a2-4646-8bf7-65f83996c7ac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 350
        }
      }
  "7":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Hunt Results Count
      output:
        simple: Has campaign hunt results
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: Hunting Results
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9eceb85c-37b8-4f99-8b8e-fa4afb28099b
      iscommand: false
      name: Set hunting results
      script: Set
      type: regular
      version: -1
    taskid: 9eceb85c-37b8-4f99-8b8e-fa4afb28099b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 350
        }
      }
  "8":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Part of Campaign
      output:
        complex:
          root: inputs.RelatedCampaign
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: Related Campaign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 0b05c05d-1cd9-4f4c-8e5e-479a54d6a7c8
      iscommand: false
      name: Set campaign
      script: Set
      type: regular
      version: -1
    taskid: 0b05c05d-1cd9-4f4c-8e5e-479a54d6a7c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 30,
          "y": 350
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61423854-c073-470c-8555-1cd6a1713304
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 61423854-c073-470c-8555-1cd6a1713304
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 450,
          "y": 550
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IpReputation
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: "yes"
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the IP reputation is suspicious or higher.
      id: ab591416-07d8-4ed8-8433-e9d6e2e45424
      iscommand: false
      name: IP Reputation is suspicious?
      type: condition
      version: -1
    taskid: ab591416-07d8-4ed8-8433-e9d6e2e45424
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -390,
          "y": 190
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: IP Reputation
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ea8c7cf4-29d3-408d-862a-4335f62283f2
      iscommand: false
      name: Set IP Reputation
      script: Set
      type: regular
      version: -1
    taskid: ea8c7cf4-29d3-408d-862a-4335f62283f2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -390,
          "y": 350
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: Risky User
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 6d003e29-d346-458d-8456-f929b1a66eab
      iscommand: false
      name: Add risky user to suspicious elements
      script: Set
      type: regular
      version: -1
    taskid: 6d003e29-d346-458d-8456-f929b1a66eab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -830,
          "y": 350
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.XDRRiskyUser
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a risky user is involved in the incident.
      id: 0a724d34-9e60-4f38-85e3-99228741f075
      iscommand: false
      name: Risky user involved?
      type: condition
      version: -1
    taskid: 0a724d34-9e60-4f38-85e3-99228741f075
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -830,
          "y": 190
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.XDRRiskyHost
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a risky host is involved in the incident.
      id: d45554b1-95ca-49af-8540-addc1a53c928
      iscommand: false
      name: Risky host involved?
      type: condition
      version: -1
    taskid: d45554b1-95ca-49af-8540-addc1a53c928
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1260,
          "y": 190
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Suspicious_Elements
      value:
        simple: Risky Host
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 39626191-a5ed-4a4a-8406-2582fd4a7d42
      iscommand: false
      name: Add risky host to suspicious elements
      script: Set
      type: regular
      version: -1
    taskid: 39626191-a5ed-4a4a-8406-2582fd4a7d42
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1260,
          "y": 360
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_9_#default#": 0.28,
      "15_9_#default#": 0.12,
      "16_9_#default#": 0.1,
      "1_9_#default#": 0.23,
      "2_9_#default#": 0.29,
      "3_9_#default#": 0.19,
      "4_9_#default#": 0.2
    },
    "paper": {
      "dimensions": {
        "height": 565,
        "width": 2940,
        "x": -1260,
        "y": 50
      }
    }
  }
