playbook-Process_Email_-_Generic.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 3.5.30
    packID: Phishing
    packName: Phishing
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
deprecated: true
description: Deprecated. Use Process Email - Generic v2 instead.
id: process_email_-_generic
inputs:
- description: An EML or MSG file with
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: The receiving email address.
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email
      root: incident
- description: CC addresses.
  key: Email/cc
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.CC
      root: incident
- description: The originator of the email.
  key: Email/from
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email/from
      root: incident
- description: The email’s subject.
  key: Email/subject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email/subject
      root: incident
- description: The email’s text.
  key: Email/text
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email/text
      root: incident
- description: The email’s html.
  key: Email/html
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email/html
      root: incident
- description: The email’s headers.
  key: Email/headers
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email/headers
      root: incident
- description: The email’s format.
  key: Email/format
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: labels.Email/format
      root: incident
- description: |-
    Retrieve the original email in the thread. Default is "False".

    You must have the necessary permissions in your email service to execute global search.

    - EWS: eDiscovery
    - Gmail: Google Apps Domain-Wide Delegation of Authority
  key: GetOriginalEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: Process Email - Generic
outputs:
- contextPath: Email.HTML
  description: Email 'html' body if exists.
  type: string
- contextPath: Email
  description: Email object.
  type: unknown
- contextPath: Email.CC
  description: Email 'cc' addresses.
  type: string
- contextPath: Email.From
  description: Email 'from' sender.
  type: string
- contextPath: Email.Subject
  description: Email subject.
  type: string
- contextPath: Email.To
  description: Email 'to' addresses.
  type: string
- contextPath: Email.Text
  description: Email 'text' body if exists.
  type: string
- contextPath: Email.Headers
  description: The full email headers as a single string.
  type: string
- contextPath: Email.Attachments
  description: The list of attachment names in the email.
  type: string
- contextPath: Email.Format
  description: The format of the email if available.
  type: string
- contextPath: File
  description: The File object.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 028c057d-2a33-4b5e-8501-ad0166f55e06
      iscommand: false
      name: ""
      version: -1
    taskid: 028c057d-2a33-4b5e-8501-ad0166f55e06
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": -280
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "16"
      "yes":
      - "3"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        simple: ${inputs.File.EntryID}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identify whether the incident includes an email message attached
        as an eml or msg file and return the answer to playbook. Also saves the identified
        entry ID to context for use for later. Commonly used in automated playbooks
        that handle phishing reports sent to a special phishing mailbox set up by
        the security team.
      id: 161bad06-c10f-4c3b-8599-1743e279f703
      iscommand: false
      name: Do we have original emails attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 161bad06-c10f-4c3b-8599-1743e279f703
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 245
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''Email/cc''], From: val[''Email/from''],
          Subject: val[''Email/subject''], Text: val[''Email/text''], HTML: val[''Email/html''],
          Headers: val[''Email/headers''], Format: val[''Email/format'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the details of the email that was forwarded under the Email
        context key.
      id: f1c1a160-c3ff-482b-88b9-d7036e969bc6
      iscommand: false
      name: Add original email details to context
      script: Set
      type: regular
      version: -1
    taskid: f1c1a160-c3ff-482b-88b9-d7036e969bc6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -910,
          "y": 1085
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        simple: ${reportedemailentryid}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parses an email from an EML or MSG file and populates all relevant
        context data to investigate the email. Also extracts indicators from the email
        messages.
      id: d0f5ab21-0c90-46fd-89e7-d1c2a7aa32d1
      iscommand: false
      name: Extract email artifacts and attachments
      script: ParseEmailFiles
      type: regular
      version: -1
    taskid: d0f5ab21-0c90-46fd-89e7-d1c2a7aa32d1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 460
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HTML
                root: Email
          operator: isExists
      - - left:
            iscontext: true
            value:
              simple: Email.HTML
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Rasterize
                - - left:
                      iscontext: true
                      value:
                        simple: state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email is HTML-formatted, and whether the Rasterize
        integration is enabled.
      id: 6340d4ba-b3c6-403e-80de-10f3c5ccbe05
      iscommand: false
      name: Can an image of the email be rendered?
      type: condition
      version: -1
    taskid: 6340d4ba-b3c6-403e-80de-10f3c5ccbe05
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 370,
          "y": 2390
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      htmlBody:
        complex:
          accessor: HTML
          root: Email
      offline:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Rasterize an email body into an image
      id: c41951dc-221e-41e2-8c39-87bb5e20b74c
      iscommand: true
      name: Render HTML to an image
      script: '|||rasterize-email'
      tags:
      - email_html_image
      type: regular
      version: -1
    taskid: c41951dc-221e-41e2-8c39-87bb5e20b74c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 130,
          "y": 2610
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b2be48ca-b624-4cd5-87d1-0124aa3e741d
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: b2be48ca-b624-4cd5-87d1-0124aa3e741d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 2840
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9fe923a7-22d9-49ee-81e1-9e2c4fb762f7
      iscommand: false
      name: Email Screenshot
      type: title
      version: -1
    taskid: 9fe923a7-22d9-49ee-81e1-9e2c4fb762f7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 370,
          "y": 2240
        }
      }
  "16":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.GetOriginalEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: If True, retrieve the original email in the thread
      id: 8b361d38-acc9-4af5-88f4-6fb07915df54
      iscommand: false
      name: Should the original email be retrieved?
      type: condition
      version: -1
    taskid: 8b361d38-acc9-4af5-88f4-6fb07915df54
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -260,
          "y": 460
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Use this playbook to retrieve the original email in the thread, including headers and attahcments, when the reporting user forwarded the original email not as an attachment.

        You must have the necessary permissions in your email service to execute global search.

        - EWS: eDiscovery
        - Gmail: Google Apps Domain-Wide Delegation of Authority
      id: e7a60f4a-46be-4d03-8980-ff8a66b8cfca
      iscommand: false
      name: Get Original Email - Generic
      playbookId: get_original_email_-_generic
      type: playbook
      version: -1
    taskid: e7a60f4a-46be-4d03-8980-ff8a66b8cfca
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -40,
          "y": 670
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Email
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an email object in the context?
      id: 31dcd39d-b40f-4291-8a17-635dac3e3099
      iscommand: false
      name: Was the original email retrieved?
      type: condition
      version: -1
    taskid: 31dcd39d-b40f-4291-8a17-635dac3e3099
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -40,
          "y": 840
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentitem:
        complex:
          accessor: Attachment.Item
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailbodyhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: Stringify
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailimage:
        complex:
          accessor: Image
          root: Email
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: HeadersMap.Message-ID
          root: Email
          transformers:
          - operator: uniq
      emailreplyto:
        complex:
          accessor: HeadersMap.Reply-To
          root: Email
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: HeadersMap.Return-Path
          root: Email
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Cortex XSOAR incident fields using data from the email
        object.
      id: d772520f-9b09-4a4b-8f8f-4f43e5402473
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d772520f-9b09-4a4b-8f8f-4f43e5402473
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1760
        }
      }
  "20":
    continueonerror: true
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    reputationcalc: 3
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: Email.HeadersMap
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" grid field in the incident layout with
        the email attachment's headers.
      id: 94c91957-8000-4bc6-8bb0-20e47c260310
      iscommand: false
      name: Display email headers in layout
      script: SetGridField
      type: regular
      version: -1
    taskid: 94c91957-8000-4bc6-8bb0-20e47c260310
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -100,
          "y": 1560
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "11"
      "yes":
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email headers were extracted from the original
        email that was either attached or retrieved using available email integrations.
      id: a915bae7-16a6-41cb-81bc-3fe3917b3e46
      iscommand: false
      name: Were email headers extracted successfully?
      type: condition
      version: -1
    taskid: a915bae7-16a6-41cb-81bc-3fe3917b3e46
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 260,
          "y": 1370
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c6b99de4-efa1-4a02-88fb-b39e7a0804cc
      iscommand: false
      name: Incident Layout Display
      type: title
      version: -1
    taskid: c6b99de4-efa1-4a02-88fb-b39e7a0804cc
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 1085
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the incident contains any kind of file.
      id: b6224cc9-ed84-4bed-8fcb-d077722b4f14
      iscommand: false
      name: Are there any files in the incident?
      type: condition
      version: -1
    taskid: b6224cc9-ed84-4bed-8fcb-d077722b4f14
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": -130
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IncidentFiles
      value:
        complex:
          root: inputs.File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the files that were initially involved with the incident
        in a separate context key so that they are available separate from email attachment
        files.
      id: 9c9c52d2-81ed-4dc4-820b-0be7f403ecc4
      iscommand: false
      name: Save incident files separately from email attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 9c9c52d2-81ed-4dc4-820b-0be7f403ecc4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 60
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
      - "27"
      - "28"
      - "29"
      - "30"
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set multiple keys/values to the context.
      id: 4b384f12-dc73-45ae-8990-d193d01095c0
      iscommand: false
      name: Attachment Information
      type: title
      version: -1
    taskid: 4b384f12-dc73-45ae-8990-d193d01095c0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 2400,
          "y": 1420
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Count
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the number of attachments in the email.
      id: 67edc7b4-d501-4e1c-81f6-81ad153677cb
      iscommand: false
      name: Save number of attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 67edc7b4-d501-4e1c-81f6-81ad153677cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 1580
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Extension
      value:
        complex:
          accessor: Extension
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment extensions.
      id: 0137a303-96ee-480b-8f14-7929f1a7cda3
      iscommand: false
      name: Save attachment extensions
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 0137a303-96ee-480b-8f14-7929f1a7cda3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 1580
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Hash
      value:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment MD5 hashes.
      id: 8c120a38-8df9-4f1f-872b-53bd062b968c
      iscommand: false
      name: Save attachment MD5 hashes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 8c120a38-8df9-4f1f-872b-53bd062b968c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2197.5,
          "y": 1580
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Name
      value:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment names.
      id: a1330e9f-c433-42f9-8593-ca456d69dab6
      iscommand: false
      name: Save attachment names
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: a1330e9f-c433-42f9-8593-ca456d69dab6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3010,
          "y": 1580
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Size
      value:
        complex:
          accessor: Size
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment sizes.
      id: 0bac780b-129b-4b4b-84df-6325cabc8431
      iscommand: false
      name: Save attachment sizes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 0bac780b-129b-4b4b-84df-6325cabc8431
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2610,
          "y": 1580
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Type
      value:
        complex:
          accessor: Type
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment types.
      id: 56901aa0-20e7-44b1-8ea4-a54c6ddf9185
      iscommand: false
      name: Save attachment types
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 56901aa0-20e7-44b1-8ea4-a54c6ddf9185
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3420,
          "y": 1580
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_2_#default#": 0.28,
      "18_22_yes": 0.45,
      "18_2_#default#": 0.43,
      "21_11_#default#": 0.2,
      "21_20_yes": 0.35,
      "23_24_yes": 0.49,
      "4_5_yes": 0.57
    },
    "paper": {
      "dimensions": {
        "height": 3185,
        "width": 4710,
        "x": -910,
        "y": -280
      }
    }
  }
