playbook-PAN-OS_-_Block_Destination_Service.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.1.11
    packID: PAN-OS
    packName: PAN-OS by Palo Alto Networks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: 'This playbook blocks a destination IP and service (TCP or UDP port)
  by creating a rule for a specific device group on PAN-OS. '
id: PAN-OS - Block Destination Service
inputs:
- description: Panorama log forwarding object name.
  key: LogForwarding
  playbookInputQuery: null
  required: false
  value: {}
- description: IP address to block.
  key: IP
  playbookInputQuery: null
  required: false
  value: {}
- description: |-
    This input establishes whether to commit the configuration automatically.
    True - Commit automatically.
    False - Commit manually.
  key: AutoCommit
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Target Device Group.
  key: DeviceGroup
  playbookInputQuery: null
  required: false
  value: {}
- description: Destination port to block.
  key: Port
  playbookInputQuery: null
  required: false
  value: {}
- description: Protocol
  key: Protocol
  playbookInputQuery: null
  required: false
  value: {}
- description: Prefix of the Service name to be created.
  key: ServiceNamePrefix
  playbookInputQuery: null
  required: false
  value:
    simple: xsoar-service-
- description: Prefix of the Rule name to be created.
  key: RuleNamePrefix
  playbookInputQuery: null
  required: false
  value:
    simple: xsoar-rule-
- description: Prefix of the object name to be created.
  key: ObjectNamePrefix
  playbookInputQuery: null
  required: false
  value:
    simple: xsoar-object-
- description: 'Where to move the rule. If you specify "before" or "after", you need
    to supply the "dst" argument. (Default is: ''top'')'
  key: WhereRule
  playbookInputQuery: null
  required: false
  value:
    simple: top
- description: A comma-separated list of source zones.
  key: SourceZone
  playbookInputQuery: null
  required: false
  value: {}
- description: A comma-separated list of destination zones.
  key: DestinationZone
  playbookInputQuery: null
  required: false
  value: {}
- description: If the rule, address and service are created in the "Shared" location,
    we need to know what device-groups we can push to because it isn't possible to
    push to the "Shared" location.
  key: SecondaryDeviceGroup
  playbookInputQuery: null
  required: false
  value: {}
name: PAN-OS - Block Destination Service
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 005aa0e7-2fdc-44c6-8121-592ba45ac1f0
      iscommand: false
      name: ""
      version: -1
    taskid: 005aa0e7-2fdc-44c6-8121-592ba45ac1f0
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: brand
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether PAN-OS integration is enabled.
      id: 930de9d7-f0b5-432f-8bc3-9312671c0544
      iscommand: false
      name: Palo Alto Networks PAN-OS enabled?
      type: condition
      version: -1
    taskid: 930de9d7-f0b5-432f-8bc3-9312671c0544
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 165
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: drop
      destination:
        complex:
          root: PanoramaAddress
      destination_zone:
        complex:
          root: inputs.DestinationZone
      device-group:
        complex:
          root: inputs.DeviceGroup
      log_forwarding:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.LogForwarding
              operator: isNotEmpty
          root: inputs.LogForwarding
      pre_post:
        simple: pre-rulebase
      rulename:
        simple: ${inputs.RuleNamePrefix} - ${incident.id}
      service:
        complex:
          root: PanoramaServiceName
      source_zone:
        complex:
          root: inputs.SourceZone
      where:
        complex:
          root: inputs.WhereRule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a policy rule.
      id: 684389af-e828-4088-85f1-0f8eb7223bc3
      iscommand: true
      name: Panorama - Create custom block rule
      script: '|||pan-os-create-rule'
      type: regular
      version: -1
    taskid: 684389af-e828-4088-85f1-0f8eb7223bc3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2605
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d936a766-4d24-4de6-89dc-dec0c66fa629
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: d936a766-4d24-4de6-89dc-dec0c66fa629
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3120
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.DeviceGroup
      ip_netmask:
        complex:
          root: inputs.IP
          transformers:
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /32
            operator: concat
      name:
        complex:
          root: PanoramaAddress
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates an address object
      id: c68b90a0-a448-4e1f-81f6-063efc5b8242
      iscommand: true
      name: PAN-OS - Create address object
      script: '|||pan-os-create-address'
      type: regular
      version: -1
    taskid: c68b90a0-a448-4e1f-81f6-063efc5b8242
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": 2190
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.DeviceGroup
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Commit the PAN-OS Panorama or firewall configuration.\nIf specified
        as Panorama, it also pushes the policies to the specified device group in
        the instance.
      id: 41890197-ea43-4d94-8746-6221d39b4d83
      iscommand: false
      name: PAN-OS Commit Configuration
      playbookId: PAN-OS Commit Configuration
      type: playbook
      version: -1
    taskid: 41890197-ea43-4d94-8746-6221d39b4d83
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 560,
          "y": 2950
        }
      }
  "11":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutoCommit
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether auto-commit is enabled.
      id: c40550d4-c929-49c9-84c9-62a18bcdb285
      iscommand: false
      name: AutoCommit defined?
      type: condition
      version: -1
    taskid: c40550d4-c929-49c9-84c9-62a18bcdb285
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 990,
          "y": 2365
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Commit manually on PAN-OS.
      id: b4e03523-eb69-4680-83fd-2ef3fdb63cac
      iscommand: false
      name: Commit PAN-OS Instance manually
      type: regular
      version: -1
    taskid: b4e03523-eb69-4680-83fd-2ef3fdb63cac
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 2950
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.IP
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Port
          operator: isExists
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Protocol
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether there is an IP/Service/Port to block.
      id: 33c3588e-276a-4cb3-884f-b0a0a406c797
      iscommand: false
      name: Is there an IP/Service/Port to block?
      type: condition
      version: -1
    taskid: 33c3588e-276a-4cb3-884f-b0a0a406c797
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 520,
          "y": 340
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.DeviceGroup
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns a list of addresses.
      id: b7e39257-2d04-4b00-8efe-2a0c0f96feb3
      iscommand: true
      name: List Panorama Services
      script: '|||pan-os-list-services'
      type: regular
      version: -1
    taskid: b7e39257-2d04-4b00-8efe-2a0c0f96feb3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 510
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: PanoramaServiceName
      value:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Panorama.Services.DestinationPort
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.Port
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Panorama.Services.Protocol
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: inputs.Protocol
          - - left:
                iscontext: true
                value:
                  simple: Panorama.Services.Name
              operator: startWith
              right:
                iscontext: true
                value:
                  simple: inputs.ServiceNamePrefix
          root: Panorama.Services
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 97a5a32c-62ae-4957-8954-c7a072e4c7b1
      iscommand: false
      name: Find Panorama Service
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 97a5a32c-62ae-4957-8954-c7a072e4c7b1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 680,
          "y": 670
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PanoramaServiceName
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the service exists in PAN-OS.
      id: 278d5df2-14c7-4b6c-84cb-5a54153537bc
      iscommand: false
      name: Is there an existing Service?
      type: condition
      version: -1
    taskid: 278d5df2-14c7-4b6c-84cb-5a54153537bc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 680,
          "y": 835
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      description:
        simple: Created by Cortex XSOAR
      destination_port:
        simple: ${inputs.Port}
      device-group:
        complex:
          root: inputs.DeviceGroup
      name:
        complex:
          root: PanoramaServiceName
      protocol:
        complex:
          root: inputs.Protocol
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a service.
      id: ab77f3d4-51b4-49c9-8b66-d03156e47013
      iscommand: true
      name: Create Panorama Service
      script: '|||pan-os-create-service'
      type: regular
      version: -1
    taskid: ab77f3d4-51b4-49c9-8b66-d03156e47013
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1180
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PanoramaServiceName
      value:
        simple: ${inputs.ServiceNamePrefix}${inputs.Port}-${inputs.Protocol}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9b8629d6-9077-4ede-8f74-5e5fb6cf5463
      iscommand: false
      name: Set Service Name
      script: Set
      type: regular
      version: -1
    taskid: 9b8629d6-9077-4ede-8f74-5e5fb6cf5463
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1020
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "14"
    note: false
    quietmode: 0
    scriptarguments:
      action:
        simple: drop
      destination:
        complex:
          root: PanoramaAddress
      destination_zone:
        complex:
          root: inputs.DestinationZone
      device-group:
        complex:
          root: inputs.DeviceGroup
      log_forwarding:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: inputs.LogForwarding
              operator: isNotEmpty
          root: inputs.LogForwarding
      pre_post:
        simple: pre-rulebase
      rulename:
        simple: ${inputs.RuleNamePrefix} - ${incident.id}
      service:
        complex:
          root: PanoramaServiceName
      source_zone:
        complex:
          root: inputs.SourceZone
      where:
        complex:
          root: inputs.WhereRule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates a policy rule.
      id: 98acab2e-5ff7-482d-88d9-f6adb811f278
      iscommand: true
      name: Panorama - Create custom block rule
      script: '|||pan-os-create-rule'
      type: regular
      version: -1
    taskid: 98acab2e-5ff7-482d-88d9-f6adb811f278
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 2605
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PanoramaAddress
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check whether the service exists in PAN-OS.
      id: 2dfca826-2d99-4424-8086-321cea3bf0ea
      iscommand: false
      name: Is there an existing Address?
      type: condition
      version: -1
    taskid: 2dfca826-2d99-4424-8086-321cea3bf0ea
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1825
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Panorama
      description: Returns a list of addresses.
      id: f00ead84-3a3a-408a-8d0c-7b56d59f3573
      iscommand: true
      name: List Panorama Addresses
      script: Panorama|||pan-os-list-addresses
      type: regular
      version: -1
    taskid: f00ead84-3a3a-408a-8d0c-7b56d59f3573
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1370
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: PanoramaAddress
      value:
        complex:
          filters:
          - - ignorecase: true
              left:
                iscontext: true
                value:
                  simple: Panorama.Addresses.IP_Netmask
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: ${ip_netmask}
          - - left:
                iscontext: true
                value:
                  simple: Panorama.Addresses.Name
              operator: startWith
              right:
                iscontext: true
                value:
                  simple: inputs.ObjectNamePrefix
          root: Panorama.Addresses
          transformers:
          - operator: uniq
          - operator: FirstArrayElement
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered. If no value is
        entered, the script doesn't do anything.
      id: 359d953c-0d9a-485d-806b-af1ef1959c47
      iscommand: false
      name: Find Panorama Address
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 359d953c-0d9a-485d-806b-af1ef1959c47
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1670
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ip_netmask
      value:
        complex:
          root: inputs.IP
          transformers:
          - args:
              prefix: {}
              suffix:
                value:
                  simple: /32
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 705cbce1-bd94-44e8-89fa-bf45694bd8a0
      iscommand: false
      name: Set Address Name
      script: Set
      type: regular
      version: -1
    taskid: 705cbce1-bd94-44e8-89fa-bf45694bd8a0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 990,
          "y": 1520
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: PanoramaAddress
      value:
        simple: ${inputs.ObjectNamePrefix}${inputs.IP}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 81671bd8-cd23-4dad-8c8b-56d192bb4cf5
      iscommand: false
      name: Set Address Name
      script: Set
      type: regular
      version: -1
    taskid: 81671bd8-cd23-4dad-8c8b-56d192bb4cf5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": 2040
        }
      }
  "29":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.DeviceGroup
          operator: isEqualString
          right:
            value:
              simple: shared
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the device group is "shared", because in that case we
        need to push to the actual device-groups that reference firewalls.
      id: 93958d7c-611a-412f-8e50-52f0e98b3db7
      iscommand: false
      name: Is device-group "shared"?
      type: condition
      version: -1
    taskid: 93958d7c-611a-412f-8e50-52f0e98b3db7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 770,
          "y": 2770
        }
      }
  "30":
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.SecondaryDeviceGroup
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Commit the PAN-OS Panorama or Firewall configuration.\nIf specified
        as Panorama, it also pushes the policies to the specified device group in
        the instance.
      id: 19d7b705-1fdb-481a-8bf4-affaff21c091
      iscommand: false
      name: PAN-OS Commit Configuration
      playbookId: PAN-OS Commit Configuration
      type: playbook
      version: -1
    taskid: 19d7b705-1fdb-481a-8bf4-affaff21c091
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 970,
          "y": 2950
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_16_yes": 0.59,
      "15_4_#default#": 0.1,
      "18_20_#default#": 0.54,
      "1_4_#default#": 0.1,
      "24_11_yes": 0.54,
      "29_10_#default#": 0.48,
      "29_30_yes": 0.6
    },
    "paper": {
      "dimensions": {
        "height": 3135,
        "width": 1505,
        "x": 265,
        "y": 50
      }
    }
  }
