playbook-Process_Email_-_Core_v2.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 3.5.30
    packID: Phishing
    packName: Phishing
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook adds email details to the relevant context entities and
  handles the case where original emails are attached.
id: Process Email - Core v2
inputs:
- description: An EML or MSG file.
  key: File
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: File
- description: The receiving email address.
  key: Email
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: CC addresses
  key: EmailCC
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailcc
      root: incident
- description: The originator of the email.
  key: EmailFrom
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
- description: The email subject.
  key: EmailSubject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: The email text.
  key: EmailText
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailbody
      root: incident
- description: The HTML version of the email.
  key: EmailHtml
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailhtml
      root: incident
- description: The email headers.
  key: EmailHeaders
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailheaders
      root: incident
- description: The email format.
  key: EmailFormat
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailformat
      root: incident
name: Process Email - Core v2
outputs:
- contextPath: Email.HTML
  description: Email HTML body, if it exists.
  type: string
- contextPath: Email
  description: Email object.
  type: unknown
- contextPath: Email.CC
  description: Email CC addresses.
  type: string
- contextPath: Email.From
  description: Email 'from' sender.
  type: string
- contextPath: Email.Subject
  description: Email subject.
  type: string
- contextPath: Email.To
  description: Email 'to' addresses.
  type: string
- contextPath: Email.Text
  description: Email text body, if it exists.
  type: string
- contextPath: Email.Headers
  description: The full email headers as a single string.
  type: string
- contextPath: Email.Attachments
  description: The list of attachment names in the email.
  type: string
- contextPath: Email.Format
  description: The format of the email, if available.
  type: string
- contextPath: File
  description: The file object.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ccd00127-175c-4a93-8edb-14e71f7d47ea
      iscommand: false
      name: ""
      version: -1
    taskid: ccd00127-175c-4a93-8edb-14e71f7d47ea
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "no":
      - "2"
      "yes":
      - "32"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      entryid:
        complex:
          accessor: EntryID
          root: inputs.File
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Identifies whether the incident includes an email message attached
        as an EML or MSG file, and returns the answer to the playbook. Also saves
        the identified entry ID to context for later use. Commonly used in automated
        playbooks that handle phishing reports sent to a special phishing mailbox
        set up by the security team.
      id: 10265394-5988-44a4-88ec-27fa386e87c5
      iscommand: false
      name: Is there an email file attached?
      script: IdentifyAttachedEmail
      type: condition
      version: -1
    taskid: 10265394-5988-44a4-88ec-27fa386e87c5
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 515
        }
      }
  "2":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Rendered HTML
      output:
        complex:
          root: inputs.EmailHtml
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: inputs.EmailText
            operator: SetIfEmpty
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      key:
        simple: Email
      value:
        simple: '${inputs={To: val[''Email''], CC: val[''EmailCC''], From: val[''EmailFrom''],
          Subject: val[''EmailSubject''], Text: val[''EmailText''], HTML: val[''EmailHtml''],
          Headers: val[''EmailHeaders''], Format: val[''EmailFormat'']}}'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email data extracted by the configured email listener
        integration to the context. Also extracts indicators from the email message.
        Also saves the HTML or email text to the email body section in the layout.
      id: 427170df-d844-44c5-8c7b-e45826113cec
      iscommand: false
      name: Save email details
      script: Set
      type: regular
      version: -1
    taskid: 427170df-d844-44c5-8c7b-e45826113cec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      entryid:
        complex:
          root: reportedemailentryid
          transformers:
          - operator: uniq
      nesting_level_to_return:
        simple: Inner file
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Parse an email from an eml or msg file and populate all relevant
        context data to investigate the email. Also extracts inner attachments and
        returns them to the war room. The incident labels themselves are preserved
        and not modified - only the "Label/x" context items that originated from the
        labels, and the best practice is to rely on these for the remainder of the
        playbook.
      id: b8e367d0-8147-4369-8216-acb86b53c088
      iscommand: false
      name: Extract and save email details
      script: ParseEmailFilesV2
      type: regular
      version: -1
    taskid: b8e367d0-8147-4369-8216-acb86b53c088
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 860
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dd0d5106-965e-4a81-8e67-79392ea47d7f
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: dd0d5106-965e-4a81-8e67-79392ea47d7f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1860
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      attachmentcount:
        complex:
          accessor: |
            Attachment.Count
          root: Email
      attachmentextension:
        complex:
          accessor: Attachment.Extension
          root: Email
      attachmenthash:
        complex:
          accessor: Attachment.Hash
          root: Email
      attachmentid:
        complex:
          accessor: Attachment.ID
          root: Email
      attachmentitem:
        complex:
          accessor: Attachment.Item
          root: Email
      attachmentname:
        complex:
          accessor: Attachment.Name
          root: Email
      attachmentsize:
        complex:
          accessor: Attachment.Size
          root: Email
      attachmenttype:
        complex:
          accessor: Attachment.Type
          root: Email
      deleteEmptyField:
        simple: "True"
      emailbcc:
        complex:
          accessor: HeadersMap.BCC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailbody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: Stringify
      emailbodyformat:
        complex:
          accessor: BodyFormat
          root: Email
      emailbodyhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: Stringify
      emailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailclientname:
        complex:
          accessor: ClientName
          root: Email
      emailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailimage:
        complex:
          accessor: Image
          root: Email
      emailinreplyto:
        complex:
          accessor: InReplyTo
          root: Email
      emailkeywords:
        complex:
          accessor: Keywords
          root: Email
      emailmessageid:
        complex:
          accessor: HeadersMap.Message-ID
          root: Email
          transformers:
          - operator: uniq
      emailrecipientscount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - operator: count
      emailreplyto:
        complex:
          accessor: HeadersMap.Reply-To
          root: Email
          transformers:
          - operator: uniq
      emailreturnpath:
        complex:
          accessor: HeadersMap.Return-Path
          root: Email
          transformers:
          - operator: uniq
      emailsenderip:
        complex:
          accessor: SenderIP
          root: Email
          transformers:
          - operator: uniq
      emailsize:
        complex:
          accessor: Size
          root: Email
          transformers:
          - operator: uniq
      emailsource:
        complex:
          accessor: Source
          root: Email
          transformers:
          - operator: uniq
      emailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      emailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
      emailtocount:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              delimiter:
                value:
                  simple: ','
            operator: split
          - operator: count
      emailurlclicked:
        complex:
          root: EmailUrlClicked
      renderedhtml:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: Email.Text
            operator: SetIfEmpty
      reportedemailcc:
        complex:
          accessor: CC
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailfrom:
        complex:
          accessor: From
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailmessageid:
        complex:
          accessor: Message-ID
          root: Email.HeadersMap
          transformers:
          - operator: uniq
      reportedemailorigin:
        complex:
          root: ReportedEmailOrigin
      reportedemailsubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
          - operator: Stringify
      reportedemailto:
        complex:
          accessor: To
          root: Email
          transformers:
          - operator: uniq
          - args:
              separator:
                value:
                  simple: ','
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates Demisto incident fields using data from the email object.
      id: d28fffd8-1d5b-4927-803b-f3589df019fd
      iscommand: true
      name: Display email information in layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d28fffd8-1d5b-4927-803b-f3589df019fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1250,
          "y": 1480
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email headers were extracted from the original
        email that was either attached or retrieved using available email integrations.
      id: c5bbf8a9-443c-4f8c-8956-536f0db06c6f
      iscommand: false
      name: Were email headers extracted successfully?
      type: condition
      version: -1
    taskid: c5bbf8a9-443c-4f8c-8956-536f0db06c6f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 645,
          "y": 1480
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      columns:
        simple: headername,headervalue
      context_path:
        simple: Email.HeadersMap
      grid_id:
        simple: emailheaders
      overwrite:
        simple: "true"
      sort_by:
        simple: headername
      unpack_nested_elements:
        simple: "true"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Fills the "Email Headers" grid field in the incident layout with
        the email attachment's headers.
      id: 7d54a7f8-9ca8-41d2-85f1-7ac15a293e3f
      iscommand: false
      name: Display email headers in layout
      script: SetGridField
      type: regular
      version: -1
    taskid: 7d54a7f8-9ca8-41d2-85f1-7ac15a293e3f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 840,
          "y": 1670
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 392db71e-012e-4790-8e1e-b17400e369aa
      iscommand: false
      name: incident Layout Display
      type: title
      version: -1
    taskid: 392db71e-012e-4790-8e1e-b17400e369aa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 970,
          "y": 1030
        }
      }
  "23":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: EntryID
                root: inputs.File
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the incident contains any kind of file.
      id: dc362223-2006-4006-8fe1-b1e6fbf45d89
      iscommand: false
      name: Are there any files in the incident?
      type: condition
      version: -1
    taskid: dc362223-2006-4006-8fe1-b1e6fbf45d89
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 180
        }
      }
  "24":
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IncidentFiles
      value:
        complex:
          root: inputs.File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the files that were initially involved with the incident
        in a separate context key so they are available separate from email attachment
        files.
      id: c69b6103-8a77-457c-8205-42e8e3e8a4bb
      iscommand: false
      name: Save incident files separately from email attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: c69b6103-8a77-457c-8205-42e8e3e8a4bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 350
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
      - "33"
      - "35"
      - "36"
      - "38"
      - "37"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2da109d4-c6b6-48f8-8fe2-72c9128e2cbd
      iscommand: false
      name: Attachment Info
      type: title
      version: -1
    taskid: 2da109d4-c6b6-48f8-8fe2-72c9128e2cbd
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 1170
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ReportedEmailOrigin
      value:
        simple: Attached
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sets the value of "ReportedEmailOrigin" to "Attached". This value
        is set later in the "reportedemailorigin" incident field.
      id: e5c43ca9-cacd-4b3d-847d-2fb32a3cd1b4
      iscommand: false
      name: Set reported email origin (attached)
      script: Set
      type: regular
      version: -1
    taskid: e5c43ca9-cacd-4b3d-847d-2fb32a3cd1b4
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 600,
          "y": 690
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Count
      value:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - operator: count
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the number of attachments in the email.
      id: 31bb2716-906b-48fe-8bdb-2839f6fddb3c
      iscommand: false
      name: Save number of attachments
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 31bb2716-906b-48fe-8bdb-2839f6fddb3c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 1310
        }
      }
  "34":
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Extension
      value:
        complex:
          accessor: Extension
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment extensions.
      id: 4e51eee8-a78d-4b81-8f9b-497694b3baa9
      iscommand: false
      name: Save attachment extensions
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4e51eee8-a78d-4b81-8f9b-497694b3baa9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1800,
          "y": 1310
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Hash
      value:
        complex:
          accessor: MD5
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment MD5 hashes.
      id: e2a6e654-7d0d-4100-8f44-3249d8f70424
      iscommand: false
      name: Save attachment MD5 hashes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: e2a6e654-7d0d-4100-8f44-3249d8f70424
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2607.5,
          "y": 1310
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Name
      value:
        complex:
          accessor: Name
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment names.
      id: 96f60056-52cb-4b5c-8b4c-7b2ad79dbd75
      iscommand: false
      name: Save attachment names
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 96f60056-52cb-4b5c-8b4c-7b2ad79dbd75
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3420,
          "y": 1310
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Size
      value:
        complex:
          accessor: Size
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment sizes.
      id: b26295cd-98f2-4655-83d5-aa56c6431d0b
      iscommand: false
      name: Save attachment sizes
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: b26295cd-98f2-4655-83d5-aa56c6431d0b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3020,
          "y": 1310
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: Email.Attachment.Type
      value:
        complex:
          accessor: Type
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: notIn
              right:
                iscontext: true
                value:
                  simple: IncidentFiles.EntryID
          - - left:
                iscontext: true
                value:
                  simple: File.EntryID
              operator: isNotEmpty
          root: File
          transformers:
          - args:
              separator:
                value:
                  simple: ', '
            operator: join
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Saves the email attachment types.
      id: ead9ae68-c7de-4ae8-8bb1-ab20970b2c5f
      iscommand: false
      name: Save attachment types
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: ead9ae68-c7de-4ae8-8bb1-ab20970b2c5f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 3830,
          "y": 1310
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_2_no": 0.28,
      "20_21_yes": 0.41,
      "23_24_yes": 0.53,
      "23_2_#default#": 0.39
    },
    "paper": {
      "dimensions": {
        "height": 1875,
        "width": 4160,
        "x": 50,
        "y": 50
      }
    }
  }
